{% load staticfiles %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     tr.nb td{border:0px;}
     .nb{border:0px;}
     .table{border:1px solid #ccc}
   </style>

     
              <table class="table table-hover">
<thead>
  <tr>
    <th style="width: 50px">Status</th>
    <th style="width: 300px;">User</th>
    <th>Description</th>
    <th>Date</th>
    <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
  </tr>
</thead>

<tbody>
  
  
  <tr class="active border-double">
    <td colspan="4">{{title}}</td>
    <td class="text-right">
      <span class="badge bg-danger">{{total_notifications}}</span>
    </td>
  </tr>
  {% if notifications %}
    {% for notification in  notifications %}
  <tr>
    <td class="text-center">
      {% if not notification.sent %}
      <i class="icon-cross2 text-danger"></i>
      {% else %}
        <i class="icon-checkmark3 text-success"></i>
      {% endif %}
    </td>
    <td>
      <div class="media-left media-middle hidden">
        <a href="#" class="btn bg-brown-400 btn-rounded btn-icon btn-xs legitRipple">
          <span class="letter-icon"></span>
        </a>
      </div>

      <div class="media-body">
        {% if mark_read %}
        <a href="{% url 'dashboard:read-message' notification.id %}" class="display-inline-block text-default letter-icon-title">
        {% else %}
          <a href="#" class="display-inline-block text-default letter-icon-title">
               {% endif %}
        <a href="#" >
        {{notification.receipient_details}}</a>
        <div class="text-muted text-size-small">
        {% if not notification.sent %}
        <span class="status-mark border-danger position-left"></span>
        {{notification.status}}<br>
        <span data-id="{{notification.id}}" data-url="{% url 'dashboard:resend-message' pk=notification.pk %}" id='resendmessage' class="label label-primary resendmessage">  

            <i class="sendspinner icon-database-refresh" id="sendspinner"></i> Resend</span>
        {% else %}
        <span class="status-mark border-success position-left"></span> Sent
        {% endif %}
        </div>
      </div>
    </td>
    <td>
      {% if mark_read %}
      <a href="{% url 'dashboard:read-message' notification.id %}" class="text-default display-inline-block">
      {% else %}
       <a href="#" class="text-default display-inline-block">
             {% endif %}
      
        [{{notification.receipient_details.mobile}}] {{notification.verb}}
        <span class="display-block text-muted">{{notification.description |safe |slice:":50"}}</span>
      </a>
    </td>
    <!-- date -->
    <td class="table-inbox-time">
      {{notification.timestamp}}
    </td>
    <td class="text-center">
      <ul class="icons-list">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
            {% if mark_read %}
             <a href="{% url 'dashboard:read-message' notification.id %}">           
            <i class="icon-eye"></i> View</a></li>
            {% endif %}
            {% if not notification.sent %}
             <li><span data-id="{{notification.id}}" data-url="{% url 'dashboard:resend-message' pk=notification.pk %}" id='resendmessage' class="resendmessage">           
            <i class="icon-database-refresh"></i> Resend</span></li>
            {% endif %}
            
          </ul>
        </li>
      </ul>

    </td>
  </tr>

{% endfor %}
{% endif %}
</tbody>
</table>


  {% if notifications %}                          
         <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
              
          {% endif %}
     

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){    
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            leaps: false
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}');

                var gid = '{{gid}}';
                if(gid == 0){
                    $.get("{% url 'dashboard:payment-option-search' %}",{page:num, psize:'{{sz}}', q:'{{q}}'},function(data){
                      $('#p-tb').html(data);
                    });
                }else{
                    $.get("{% url 'dashboard:payment-option-search' %}",{page:num, psize:'{{sz}}', q:'{{q}}', gid:'{{gid}}'},function(data){
                       $('#p-tb').html(data);
                    });
                }
        }).children('.pagination').addClass('pagination-flat pagination-sm');

      $('.modal-trigger').on('click', function (e) {
         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var username = $(this).data('name');
         var modal = $(this).data('ta');
         var id = $(this).data('id');
         $('.del').attr('data-id', id);
         $('.del').attr('data-href', url);
         $('.modal-title').html(prompt_text);
         $(modal).modal();
         $('.delete_form').attr('action',url);
      });

        /* clicked the submit button */
        $('.del').on('click', function (e) {
                var f = document.getElementById('delform');
                var formData = new FormData(f);
                var id = $(this).data('id');
                var url = $(this).data('href');
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success:function(data){        
                      $('#modal_instance').modal('hide');
                      $('#tb #'+id).remove();            
                      $.jGrowl('User deleted successfully', {
                        header: 'Well done!',
                        theme: 'bg-success'
                      });
                      window.location.reload();
                    },
                    error:function(error){
                      console.log(error);
                      $.jGrowl('Error deleting Staff', {
                          header: 'Oh snap!',
                          theme: 'bg-danger'
                      });
                    }
                });
            });

   });
    // Basic select
    $('.bootstrap-select').selectpicker();
     //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var listSizeVal = $(this).val();
        var searchData = $('.search_user').val();
        var groupSizeVal = $('.group-sz').find(":selected").val();
        var url = "{% url 'dashboard:payment-option-search' %}";

        if(searchData && groupSizeVal && groupSizeVal != 'all' && groupSizeVal !='none'){
            if(listSizeVal != '0'){
               $.ajax({ url:url, type: 'GET',data: {page:1, q:searchData, size:listSizeVal, gid:groupSizeVal},success: function(data){
                          $('#pagination-div').html(data);
                }});
            }else{
               $.ajax({ url:url, type: 'GET',data: {page:1, q:searchData, size:10, gid:groupSizeVal},success: function(data){
                          $('#pagination-div').html(data);
                }});
            }
       }else if(searchData){
           if(listSizeVal != '0'){
                $.ajax({ url:url, type: 'GET',data: {page:1, q:searchData, size:listSizeVal},success: function(data){
                          $('#pagination-div').html(data);
                }});
           }else{
               $.ajax({ url:url, type: 'GET',data: {page:1, q:searchData, size:10},success: function(data){
                          $('#pagination-div').html(data);
                }});
            }

       }else if(groupSizeVal && (groupSizeVal != 'all' && groupSizeVal !='none')){
           if(listSizeVal != '0'){
                $.get("{% url 'dashboard:options_paginate' %}",{page:1,gid:groupSizeVal, size:listSizeVal},function(data){
                 $('#pagination-div').html(data);
               });
           }else{
                $.get("{% url 'dashboard:options_paginate' %}",{page:1,gid:groupSizeVal, size:10},function(data){
                 $('#pagination-div').html(data);
               });

           }
       }else{
           if(listSizeVal != '0'){
               $.ajax({ url: "{% url 'dashboard:options_paginate' %}",type: 'GET',data: {page:1, size:listSizeVal}, async:false,success: function(data){
                  $('#pagination-div').html(data);
              }});
           }else{
                $.ajax({ url: "{% url 'dashboard:options_paginate' %}",type: 'GET',data: {page:1, size:10}, async:false,success: function(data){
                      $('#pagination-div').html(data);
                }});
           }
       }

     });
  $.when( $.ready ).then(function() {     
       $('.bootstrap-select').selectpicker();
       $('.list-sz').selectpicker('val', ["{{sz}}"]);              
    });
    
 </script>