{% extends "dashboard/base.html" %}
{% load i18n %}
{% load static %}
{% load notifications_tags %} 


{% block title %}
  {{title}}{% trans " Messages " context "Dashboard customers list" %} - {{ block.super }}
{% endblock %}


{% block menu_messages_class %}active{% endblock %}

{% block breadcrumbs %}
    <li>
      <a href="{% url 'dashboard:message_list' %}">
      	Messages
      </a>    	
    </li>
    <li class="active">
      {% if status %}
        {{title|capfirst}}
      {% else %}
        Inbox
      {% endif %}
    </li>
  
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'backend/js/plugins/protip/css/protip.css' %}">
<style type="text/css">
	.protip{z-index: 0;}
	.resendmessage{cursor: pointer;}
</style>
{% endblock %}
{% block content %}
<!-- Secondary sidebar -->
			<div class="sidebar sidebar-secondary sidebar-default protip-target">
				<div class="sidebar-content">

					<!-- Actions -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Actions</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content">
							<a href="{% url 'dashboard:compose_message' %}" class="btn  hvr-glow bg-indigo-400 btn-block">Compose SMS</a>
						</div>
					</div>
					<!-- /actions -->


					<!-- Sub navigation -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Navigation</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content no-padding">
							<ul class="navigation navigation-alt navigation-accordion no-padding-bottom">
								<li class="navigation-header">Mails</li>
								<li class="active"><a href="{% url 'dashboard:message_list' %}"><i class="icon-drawer-in"></i> Inbox <span class="badge badge-success">{{total_notifications}}</span></a></li>
								
								<li><a href="{% url 'dashboard:message_list_slug' 'pending' %}"><i class="icon-drawer-out"></i> Pending </a></li>
								<li><a href="{% url 'dashboard:message_list_slug' 'sent_to_sms' %}"><i class="icon-drawer-out"></i> Sent</a></li>
								<li><a href="{% url 'dashboard:message_list_slug' 'fetch' %}"><i class="icon-drawer-out"></i> Fetch from gateway</a></li>
								
								<li class="navigation-divider"></li>
								<li><a href="{% url 'dashboard:message_list_slug' 'unread' %}"><i class="icon-envelope"></i> Unread <span class="badge badge-success"></span></a></li>
								<li><a href="{% url 'dashboard:message_list_slug' 'read' %}"><i class="icon-mail-read"></i> Read <span class="badge badge-success"></span></a></li>
								<li><a href="{% url 'dashboard:message_list_slug' 'trash' %}"><i class="icon-bin"></i> Trash<span class="badge badge-warning">{{deleted}}</span></a></li>
							</ul>
						</div>
					</div>
					<!-- /sub navigation -->
				</div>
			</div>
			<!-- /secondary sidebar -->

{% notifications_unread as unread_count %}

			<!-- Main content -->
			<div class="content-wrapper no-margin-top">


				<!-- Content area -->
				<div class="content no-margin-top" style="padding-top:0px">

					<!-- Multiple lines -->
					<div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title">
							{% if status %}
						        {{title|capfirst}}
						    {% else %}
						        My Inbox
						     {% endif %}
						     </h6>

							<div class="heading-elements not-collapsible">
								<span class="label bg-blue heading-text">{{total_notifications}} new </span>
		                	</div>
						</div>

						<div class="panel-toolbar panel-toolbar-inbox">
							<div class="navbar navbar-default" style="z-index: 0;">
								<ul class="nav navbar-nav visible-xs-block no-border">
									<li>
										<a class="text-center collapsed" data-toggle="collapse" data-target="#inbox-toolbar-toggle-multiple">
											<i class="icon-circle-down2"></i>
										</a>
									</li>
								</ul>

								<div class="navbar-collapse collapse" id="inbox-toolbar-toggle-multiple">


									<div class="btn-group navbar-btn">

										<a href="{% url 'dashboard:compose_message' %}" type="button" class="btn btn-default  hvr-glow"><i class="icon-pencil7"></i> <span class="hidden-xs position-right">Compose</span></a>
										
				                    	
									</div>

									<div class="navbar-right">
										<p class="navbar-text"><span class="text-semibold">{{total_notifications}}</span></p>



									</div>
								</div>
							</div>
						</div>

	<div class="table-responsive">
	<table class="table table-hover">
<thead>
	<tr>
		<th style="width: 50px">Status</th>
		<th style="width: 300px;">User</th>
		<th>Description</th>
		<th>Date</th>
		<th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
	</tr>
</thead>

<tbody>
	
	
	<tr class="active border-double">
		<td colspan="4">{{title}}</td>
		<td class="text-right">
			<span class="badge bg-danger">{{total_notifications}}</span>
		</td>
	</tr>
	{% if notifications %}
    {% for notification in  notifications %}
	<tr>
		<td class="text-center">
		  {% if not notification.sent %}
			<i class="icon-cross2 text-danger"></i>
		  {% else %}
		    <i class="icon-checkmark3 text-success"></i>
		  {% endif %}
		</td>
		<td>
			<div class="media-left media-middle hidden">
				<a href="#" class="btn bg-brown-400 btn-rounded btn-icon btn-xs legitRipple">
					<span class="letter-icon"></span>
				</a>
			</div>

			<div class="media-body">
				{% if mark_read %}
				<a href="{% url 'dashboard:read-message' notification.id %}" class="display-inline-block text-default letter-icon-title">
				{% else %}
			    <a href="#" class="display-inline-block text-default letter-icon-title">
	             {% endif %}
				<a href="#" >
				{{notification.receipient_details}}</a>
				<div class="text-muted text-size-small">
				{% if not notification.sent %}
				<span class="status-mark border-danger position-left"></span>
				{{notification.status}}<br>
				<span data-id="{{notification.id}}" data-url="{% url 'dashboard:resend-message' pk=notification.pk %}" id='resendmessage' class="label label-primary resendmessage">  

						<i class="sendspinner icon-database-refresh" id="sendspinner"></i> Resend</span>
				{% else %}
				<span class="status-mark border-success position-left"></span> Sent
				{% endif %}
				</div>
			</div>
		</td>
		<td>
			{% if mark_read %}
			<a href="{% url 'dashboard:read-message' notification.id %}" class="text-default display-inline-block">
			{% else %}
		   <a href="#" class="text-default display-inline-block">
             {% endif %}
			
				[{{notification.receipient_details.mobile}}] {{notification.verb}}
				<span class="display-block text-muted">{{notification.description |safe |slice:":50"}}</span>
			</a>
		</td>
		<!-- date -->
		<td class="table-inbox-time">
			{{notification.timestamp}}
		</td>
		<td class="text-center">
			<ul class="icons-list">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li>
						{% if mark_read %}
						 <a href="{% url 'dashboard:read-message' notification.id %}">           
						<i class="icon-eye"></i> View</a></li>
						{% endif %}
						{% if not notification.sent %}
						 <li><span data-id="{{notification.id}}" data-url="{% url 'dashboard:resend-message' pk=notification.pk %}" id='resendmessage' class="resendmessage">           
						<i class="icon-database-refresh"></i> Resend</span></li>
						{% endif %}
						
					</ul>
				</li>
			</ul>

		</td>
	</tr>

{% endfor %}
{% endif %}
</tbody>
</table>

	</div>
</div>
<!-- /multiple lines -->

</div>
<!-- /content area -->

</div>
<!-- /main content -->
{% endblock %}
{% block custom_js %}

 <script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/switch.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'backend/js/pages/mail_list.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/protip/js/protip.min.js' %}"></script>
{% csrf_token %}
<script type="text/javascript">
// IIFE - Immediately Invoked Function Expression
  (function($, window, document) {
    function alertUser(msg,status='bg-success',header='Well done!')
	{ $.jGrowl(msg,{header: header,theme: status}); }
	//add productDetails
	function resendMessagefunc(dynamicData,url,method){
	  dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
	  return $.ajax({
	      url: url,
	      type: method,
	      data: dynamicData
	    });

	}
   /* resend message */
	var resendMessage = $('.resendmessage');
	var resendUrl = resendMessage.data('url');
	var sendspinnerId = $('.resendmessage');
	resendMessage.on('click',function(){
	    var pk = $(this).data('id');
	    dynamicData = {};
	    dynamicData['pk'] = pk;
	    dynamicData['track'] = 'resending message';
	    $(this).find('.sendspinner').removeClass('icon-database-refresh');
        $(this).find('.sendspinner').addClass('icon-spinner').addClass('spinner');
        var thisspin = $(this).find('.sendspinner');
	    resendMessagefunc(dynamicData,resendUrl,'post')
	    .done(function(data){	    	
	    	if(data['message'] == 'Success')
	    	{
	    	   alertUser('Message Resent');	  
	    	   window.location.reload();  	  
	    	}else{
	    	   alertUser(data['message'],'bg-danger', 'error');
	    	  sendspinnerId.find('.sendspinner').addClass('icon-database-refresh');
    		  sendspinnerId.find('.sendspinner').removeClass('icon-spinner').removeClass('spinner');
	    	}
	    	//console.log(data['message']);
	    })
	    .fail(function(data){
	    	alertUser('Error resending message','bg-danger', 'error');
	    	sendspinnerId.addClass('icon-database-refresh');
    		sendspinnerId.removeClass('icon-spinner').removeClass('spinner');
	    });
	    
	});

    var el = $('.tip-el');

// Shows tooltip with title: "My element"
el.protipShow();

// Shows tooltip with title: "My new title"
el.protipShow({
    title: 'My new title'
});

// Changed trigger from hover to click
el.protipSet({
    trigger: 'click'
});

// Changed trigger from hover to click and also show it
el.protipShow({
    trigger: 'click'
});
    // The $ is now locally scoped

   // Listen for the jQuery ready event on the document
   $(function() {

     // The DOM is ready!
     // Checkboxes/radios (Uniform)
    // ------------------------------

    // Default initialization
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });

    // File input
    $(".file-styled").uniform({
        wrapperClass: 'bg-blue',
        fileButtonHtml: '<i class="icon-file-plus"></i>'
    });


    //
    // Contextual colors
    //

    // Primary
    $(".control-primary").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-primary-600 text-primary-800'
    });

    // Danger
    $(".control-danger").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-danger-600 text-danger-800'
    });

    // Success
    $(".control-success").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-success-600 text-success-800'
    });

    // Warning
    $(".control-warning").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-warning-600 text-warning-800'
    });

    // Info
    $(".control-info").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-info-600 text-info-800'
    });

    // Custom color
    $(".control-custom").uniform({
        radioClass: 'choice',
        wrapperClass: 'border-indigo-600 text-indigo-800'
    });





});


   // The rest of the code goes here!

  }(window.jQuery, window, document));
  // The global jQuery object is passed as a parameter
</script>

{% endblock %}