{% extends "dashboard/base.html" %}
{% load i18n %}
{% load static %}



{% block title %}
  {% trans "Notifications " context "Dashboard customers list" %} - {{ block.super }}
{% endblock %}


{% block menu_notification_class %}active{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{% url 'dashboard:notification_list' %}">
            Notification
        </a>
    </li>

    <li class="active">
      {% trans "Compose" context "Dashboard Notifications list" %}
    </li>

{% endblock %}

{% block custom_css %}
<link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id="write-message"></div>
<div class="container-detached">
	<div class="content-detached">
<!-- Single mail -->
<div class="panel panel-white">

<!-- Mail toolbar -->
<div class="panel-toolbar panel-toolbar-inbox">
    <div class="navbar navbar-default" style="z-index: 8;">
        <ul class="nav navbar-nav visible-xs-block no-border">
            <li>
                <a class="text-center collapsed" data-toggle="collapse" data-target="#inbox-toolbar-toggle-single">
                    <i class="icon-circle-down2"></i>
                </a>
            </li>
        </ul>

        <div class="navbar-collapse collapse" id="inbox-toolbar-toggle-single">
            <div class="btn-group navbar-btn">
                <button type="button" id="sendSms" class="btn bg-blue hvr-bob"><i class="icon-checkmark3 position-left"></i> Send SMS</button>
            </div>

            <div class="btn-group navbar-btn">


            </div>

            <div class="pull-right-lg">
                <div class="btn-group navbar-btn">
                    <button type="button" class="btn btn-default" id="printBtn"><i class="icon-printer"></i> <span class="hidden-xs position-right">Print</span></button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /mail toolbar -->


<!-- Mail details -->
<div class="table-responsive mail-details-write" id="printme">
  {% csrf_token %}
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 50px">To:</td>
                <td style="width: 100%" class="text-left">
                <div class="col-md-6">
                    <select name='contacts' multiple="multiple" id="contacts" class="contacts"></select>
                </div>
                <div class="col-md-6">
                    <div class="formgroup">
                        <label class="checkbox-inline text-semibold">Select Group</label>
                        <label class="checkbox-inline">
                            <button id="supplier" data-toggle="modal" data-target="#supplierModal" class="btn btn-xs hvr-bob btn-primary">
                            <span class="badge badge-success" id="supplierCount"></span>&nbsp; Supplier</button>
                        </label>

                        <label class="checkbox-inline">
                            <button id="customer" data-toggle="modal" data-target="#customerModal" class="btn btn-xs btn-primary hvr-bob"><span class="badge badge-success" id="customerCount"></span>
                            Customers</button>
                        </label>
                    </div>
                </div>
               
                    <ul class="list-inline list-inline-separate no-margin">

                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td class="no-padding">
                <input class="form-control" placeholder="Add subject" name="subject" value="" id='subject' type="text"></td>
                <td>&nbsp;</td>
            </tr>

        </tbody>
    </table>
</div>
<!-- /mail details -->


<!-- Mail container -->
<div class="mail-container-write">
    <div >
        <textarea cols="18" rows="18" id="body" name="body" class="wysihtml5 wysihtml5-min form-control" placeholder="Enter text ..."></textarea>
    </div>



    </div>
</div>

</div>
<!-- /mail container -->




</div>
<!-- /single mail -->
    </div>
</div>

<!-- initailize modals -->
<!-- supplier modal -->
<div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Select Suppliers</h4>
                    </div>
                    <div class="modal-body">
                        <label class="text-purple-800">Supplier(s)</label>
                        <select class="getSupplier" multiple></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
</div>
<!-- customer modal -->
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select Customers</h4>
            </div>
            <div class="modal-body">
                <label>Customer(s)</label>
                <select class="getCustomer" multiple='multiple'></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block custom_js %}

 <script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/wysihtml5.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/toolbar.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/parsers.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/editor_wysihtml5.js' %}"></script>

<script type="text/javascript" src="{% static 'backend/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/ui/prism.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>

<script>

var url = "{% url 'dashboard:message-contacts' %}";
var sendSms = $('#sendSms');
var getCustomer = $('.getCustomer');
var getSupplier = $('.getSupplier');
var userContacts = $('.contacts');
var subject = $('#subject');
var body = $('#body');
var customerCount = $('#customerCount');
var supplierCount = $('#supplierCount');

// customer contacts
getCustomer.tokenize2({
    placeholder: 'Select customer(s)',
    dataSource: function(search, object){
        $.ajax(url, {
            data: { search: search, start: 1,group:'customers' },
            dataType: 'json',
            success: function(data){
                var $items = [];
                $.each(data, function(k, v){
                    $items.push(v);
                });
                object.trigger('tokenize:dropdown:fill', [$items]);
            }
        });
    }
});
// supplier contacts
getSupplier.tokenize2({
    placeholder: 'Select supplier(s)',
    dataSource: function(search, object){
        $.ajax(url, {
            data: { search: search, start: 1,group:'suppliers' },
            dataType: 'json',
            success: function(data){
                var $items = [];
                $.each(data, function(k, v){
                    $items.push(v);
                });
                object.trigger('tokenize:dropdown:fill', [$items]);
            }
        });
    }
});

// user contacts
userContacts.tokenize2({
    placeholder: 'Select user(s)',
    sortable: true,
    dataSource: function(search, object){
        $.ajax(url, {
            data: { search: search, start: 1, group:'users' },
            dataType: 'json',
            success: function(data){
                var $items = [];
                $.each(data, function(k, v){
                    $items.push(v);
                });
                object.trigger('tokenize:dropdown:fill', [$items]);
            }
        });
    }
});

// tokenize events
$('#customerModal').on('hidden.bs.modal', function () {
    customerCount.text(getCustomer.val().length);
});
$('#supplierModal').on('hidden.bs.modal', function () {
    supplierCount.text(getSupplier.val().length);
});




// ajax
function sendNotification(userContacts,subject,body,toCustomers,toSuppliers) {
    var dynamicData = {};
    console.log('sending data.....');
    dynamicData["userContacts"] = JSON.stringify(userContacts);
    dynamicData["subject"] = subject;
    dynamicData["body"] = body;
    dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
    dynamicData['toCustomers']= JSON.stringify(toCustomers);
    dynamicData['toSuppliers']= JSON.stringify(toSuppliers);
    return $.ajax({
      url: "{% url 'dashboard:compose_message' %}",
      type: "post",
      data: dynamicData
    });
  }
  // ./ end sendSms functions
// listen to sendsms click
sendSms.on('click',function(){   
    var ucontacts = userContacts.val();
    var scontacts = getSupplier.val();
    var ccontacts = getCustomer.val();    
    var what = body.val();
    var verb = subject.val();
    if(!ccontacts){ ccontacts = false; }
    if(!scontacts){ scontacts = false; }    
    sendNotification(ucontacts,verb,what,ccontacts,scontacts).done(function(data) {
        $.jGrowl('Notification sent successfully', 
        {header: 'Well done!',theme: 'bg-success'});
    });
});
// ./ event click send button

var emails = [];
$(document).ready(function(){ 

});

</script>


{% endblock %}