{% extends "dashboard/base.html" %}
{% load i18n %}
{% load static %}



{% block title %}
  {% trans "Notifications " context "Dashboard customers list" %} - {{ block.super }}
{% endblock %}


{% block menu_notification_class %}active{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{% url 'dashboard:notification_list' %}">
            Notification
        </a>
    </li>

    <li class="active">
      {% trans "Compose" context "Dashboard Notifications list" %}
    </li>

{% endblock %}

{% block custom_css %}
<link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id="write-message"></div>
<div class="container-detached">
	<div class="content-detached">
<!-- Single mail -->
<div class="panel panel-white">

<!-- Mail toolbar -->
<div class="panel-toolbar panel-toolbar-inbox">
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav visible-xs-block no-border">
            <li>
                <a class="text-center collapsed" data-toggle="collapse" data-target="#inbox-toolbar-toggle-single">
                    <i class="icon-circle-down2"></i>
                </a>
            </li>
        </ul>

        <div class="navbar-collapse collapse" id="inbox-toolbar-toggle-single">
            <div class="btn-group navbar-btn">
                <button type="button" id="sendnot" class="btn bg-blue"><i class="icon-checkmark3 position-left"></i> Send mail</button>
            </div>

            <div class="btn-group navbar-btn">


            </div>

            <div class="pull-right-lg">
                <div class="btn-group navbar-btn">
                    <button type="button" class="btn btn-default" id="printBtn"><i class="icon-printer"></i> <span class="hidden-xs position-right">Print</span></button>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /mail toolbar -->


<!-- Mail details -->
<div class="table-responsive mail-details-write" id="printme">
  {% csrf_token %}
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 50px">To:</td>
                <td style="width: 100%" class="text-left">
                <div class="col-md-6">
                    <select name='contacts' id="contacts" class="contacts"></select>
                </div>
                <div class="col-md-6">
                    <div class="formgroup">
                        <label class="display-block text-semibold">  Group email notification </label>
                        <label class="checkbox-inline">
                            <input id="supplier" name="supplier" type="checkbox" class="styled">
                            Supplier
                        </label>

                        <label class="checkbox-inline">
                            <input id="customers" name="customers" type="checkbox" class="styled">
                            Customers
                        </label>
                    </div>
                </div>
               
                    <ul class="list-inline list-inline-separate no-margin">

                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td class="no-padding">
                <input class="form-control" placeholder="Add subject" name="subject" value="" id='subject' type="text"></td>
                <td>&nbsp;</td>
            </tr>

        </tbody>
    </table>
</div>
<!-- /mail details -->


<!-- Mail container -->
<div class="mail-container-write">
    <div >
        <textarea cols="18" rows="18" id="body" name="body" class="wysihtml5 wysihtml5-min form-control" placeholder="Enter text ..."></textarea>
    </div>



    </div>
</div>

</div>
<!-- /mail container -->




</div>
<!-- /single mail -->
    </div>
</div>



{% endblock %}
{% block custom_js %}

 <script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/wysihtml5.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/toolbar.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/parsers.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/editors/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/editor_wysihtml5.js' %}"></script>

<script type="text/javascript" src="{% static 'backend/js/plugins/forms/tags/tagsinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/tags/tokenfield.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/ui/prism.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js' %}"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>

<script>
var url = "{% url 'dashboard:message-contacts' %}";
$('.contacts').tokenize2({ dataSource:url});
var emails = [
    {% for user in users %}
    {% if user.mobile %}'{{user.mobile}}',{% endif %}
    {% endfor %}
    ];
$(document).ready(function(){     

// ajax
function sendNotification(emailList,subject,body,toCustomers,toSuppliers) {
    var dynamicData = {};
    console.log('sending data.....');
    dynamicData["emailList"] = JSON.stringify(emailList);
    dynamicData["subject"] = subject;
    dynamicData["body"] = body;
    dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
    dynamicData['toCustomers'];
    dynamicData['toSuppliers'];

    return $.ajax({
      url: "{% url 'dashboard:write' %}",
      type: "post",
      data: dynamicData
    });
  }


});

</script>


{% endblock %}