{% load staticfiles %}
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsives">
        	<table class="table table-striped table-hover datatable-header-footer fixed-header" style="border-bottom:1px solid #ddd;">
                <thead>
                  <tr class="bg-primary">
                    <th>Id</th>
                    <th>Name</th>
                    <th>action</th>
                  </tr>
                </thead>
                <tbody id="p-tb">           
               {% if users %}
                  {% for user in users %}
                  <tr>
                    <td class="td">{{ forloop.counter }}</td>

                    <td class="td">{{user.name}}</td>

                    <td class="td"> 
                    {{user.action}} on {{user.now}}</td>

                  </tr>
                  {% endfor %}
                {% else %}
                   <tr><td colspan="6"><h2 class="text-center">no users trail available</h2></td></tr>
               {% endif %}
                  </tbody>

           </table>

        </div>
         <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12 mt-10">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
        </div>
      </div>
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            leaps: false
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 
                $.get("{% url 'dashboard:usertrail_search' %}",{page:num, psize:'{{sz}}', q:'{{q}}'},function(data){
                   $('#p-tb').html(data);
                });

        }).children('.pagination').addClass('pagination-flat pagination-sm');
   });
   //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        $.ajax({ url: "{% url 'dashboard:usertrail_paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});
     });
 </script>
  <script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>