{% if messages %}
  <script>
    {% for message in messages %}
      {% if 'safe' in message.tags %}
      // notify 
      function notify() {
          new PNotify({
              text: '{{ message|safe|escapejs }}',
              addclass: 'bg-primary'
          });
      }
      notify();    
        
      {% else %}
        
        // notify 
         function notify () {
            new PNotify({
                text: '{{ message|escapejs }}',
                addclass: 'bg-primary'
            });
        }
        notify();
      {% endif %}
    {% endfor %}
  </script>
{% endif %}
{% if form.non_field_errors %}
  <script>
    {% for message in form.non_field_errors %}
      {% if 'safe' in message.tags %}
      // notify 
         function  notify() {
            new PNotify({
                text: '{{ message|safe|escapejs }}',
                addclass: 'bg-warning'
            });
        }
      notify();
      {% else %}
      // notify 

         function notify () {
            new PNotify({
                text: '{{ message|escapejs }}',
                addclass: 'bg-warning'
            });
        }
        notify();
      
      {% endif %}
    {% endfor %}
  </script>
{% endif %}
