<!-- instance modal -->
  <div id="modal_instance" class="modal fade trackme">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-white text-center"></h4>
        </div>
        <form action="" class="delete_form" method="post" novalidate>
          {% csrf_token %}
        <div class="modal-body">
          <div class="">

             <h5 class="text-semibold text-center"> Are you sure?</h5>
          </div>
        </div>
        
        <div class="modal-footer">
          <div class="col-md-6 col-md-offset-3">
            <button type="submit" id='modal_delete' class="btn  bg-danger pull-right">
              Delete
            </button>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          </div>
        </div>
             </form>
      </div>
    </div>
  </div>
  <!-- /instance modal -->