{% load i18n %}
{% load mptt_tags %}
{% load materializecss %}
{% load staticfiles %}


  <div id="modal_instance3" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">      
        <div class="modal-header bg-blue">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title text-white"></h6>
        </div>
       
         <div class="modal-body">
          <!-- content form  -->
          <div class="panel panel-flat">
      
     
    <div class="panelbody">
    
            <form method="post" action="" id="form-stock" enctype="multipart/form-data">
             <div class="results">
             </div>
             </form>           
          </div>
          <!-- end form -->
         </div>
        </div>        
        
      </div>
    </div>
  </div>
  <!-- /blue modal