<!-- Blue modal -->
  <div id="modal_instance" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-white text-center"></h4>
        </div>
        <div class="results">
         <div class="modal-body">         
            
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
  <!-- /blue modal -->