<script type="text/javascript">
  funtion refreshProductType(){

    
  }
</script>
  <div id="modal_attribute" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <button type="button" onclick="refreshProductType();" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title text-white">Add product attribute</h6>
        </div>
        <div class="results">
         <div class="modal-body">         
           <!-- form  -->
             <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Product Attribute</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="reload"></a></li>
          <li><a data-action="close"></a></li>
        </ul>
      </div>
    </div> 
    <div class="panel-body">
    <div class="row">
    <form method="post" enctype="multipart/form-data">    
         <div class="col-md-12">
            <div class="form-group">
             <label>Name</label>
             <input type="text" id="attr_name" class="form-control" name="slug">
             <span class="help-block">Attribute name e.g Brand</span>
            </div>
            <hr>
          </div>
          <div class="col-md-12">
            <div class="form-group" id='add_value'>
              <label>Value</label>
             <input type="text" id='value' class="form-control" name="value">
             <span class="help-block">Attribute value e.g Sony</span>
            </div>
         </div>
      <!-- action buttons -->
         <div class="text-right">
     </div>
      </form>
    </div>
   
    </div>

   </div>
           <!-- end form -->
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" id='refresh_content' class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="button" id="add_attr_btn" onclick="return false;" class="btn btn-primary"><span id='action'>Add Attribute</span></button>
          </div>       
      </div>
    </div>
  </div>
  <!-- /blue modal