<!-- Blue modal -->
  <div id="modal_type" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title text-white"></h6>
        </div>

        <div id='modal_type_results'>
        <div class="modal-body" id="modal_type_body">

        </div>
        
        <div class="modal-footer">
          
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /blue modal -->