<!-- supplier modal -->
<div class="modal fade" id="addProductClass" >
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Add Sub-category</h5>
                </div>
                <div class="modal-body">
                 <div class="form-group">
                 	<label class="text-purple-800">Product Sub-category Name</label>
                 	<input type="text" class="form-control" placeholder="Sub-category Name" name="newClassName" id="newClassName">
                 </div>
                 <div class="form-group hidden">		
					<input checked="checked" name='withVariants' id="withVariants" type="checkbox">
					Has Variants                	
                 </div>
                 <div class="form-group hidden">
                    <label class="text-purple-800">Attribute that does not affect the price</label>
                    <select class="getAttributes" multiple>                        
                    </select>
                  </div>
                  <div class="form-group hidden">
                    <label class="text-purple-800">Attribute that affect the price</label>
                    <select class="getAttributesTwo" multiple>                        
                    </select>
                   </div>                  
                </div>
<div class="panel-group content-group-lg mb-15" id="accordion1sldjf">
	
                <div class="modal-footer p-15">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="addClassBtn" class="btn btn-primary btn-xs" onclick="return false;">Add Sub-Category</button>
                    
                </div>
            </div>
        </div>
</div>
</div>
