{% if stock_history %}

  <div class="tableresponsive">
  	<table class="table table-striped table-hover fixed_headers" style="border-bottom:1px solid #ddd;">
  		<thead>
  		  <tr class="bg-grey">
  			<th>User</th>
  			<th>Action</th>
  			<th>Comment</th>
  			<th>Date</th>
  		  <tr>
  		</thead>
  		<tbody>
  		{% for history in stock_history %}
  		  <tr>
  			<td> {{ history.user.name }}</td>
  			<td> {{ history.crud }}</td>
  			<td> {{ history.comment }}</td>
  			<td> {{ history.date }}</td>
  		  </tr>
  		{% endfor %}
  		</tbody>
  	</table>
  </div>
 {% else %}
  <h4 class="text-center text-warning" style="font-weight:bold;">
  	No stock history
  </h4>
{% endif %}
