<div class="row">
	<div class="col-md-12">
			{% if errors %}
			<div id="tax-form-error" class="alert bg-warning alert-styled-left hidden">
			 {{ errors.as_text}}
			</div>
			{% endif %}
	</div>
    <div class="col-md-12">
		<div class="form-group">
		<label>Tax: %</label>
			<div class="form-group">
				{{ formadd.tax }}
			</div>
		</div>
	</div>							
	<div class="col-md-12">
		<div class="form-group">
			<label>Tax name (optional)</label>
			{{ formadd.tax_name }}	
		</div>
	</div>				
</div>
			