
{% load staticfiles i18n %}
{% load render_bundle from webpack_loader %}
{% load version %}
{% load bootstrap_form from bootstrap3 %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <title>
      {% block title %}
        {% trans "Change Password" context "Password reset from key page title" %}
      {% endblock %}
    </title>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% endblock meta %}

    {% include 'favicon.html' %}
    
    <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'backend/css/core.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/components.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/colors.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'backend/css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">
  <!--image preview -->
  <link href="{% static 'backend/js/plugins/ui/jasny-bootstrap/css/jasny-bootstrap.css' %}" rel="stylesheet" type="text/css">
  
  
  <!-- /global stylesheets -->

    {% block custom_css %}
       <style type="text/css">
       </style>
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %} login-container">
    
     <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
        <!-- Content area -->
        <div class="content">


          {% if token_fail %}
              <div class="col-sm-12">
                <h2>{% trans "Bad Token" %}</h2>
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans trimmed context "Password reset text if key is invalid" %}
                  The password reset link was invalid, possibly
                  because it has already been used.<br>
                  Please request a
                  <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                </p>
              </div>
            {% else %}
              <form method="post" novalidate>
                  {% csrf_token %}
                <div class="panel panel-body login-form">
                  <div class="text-center">
                    <div class="icon-object border-info text-info"><i class="icon-pencil4"></i></div>
                    <h5 class="content-group">{% trans "Password Reset" context "Password reset from key form title" %} <small class="display-block"><p>{% trans "Now you can set new password for you account." context "Password reset from key form title" %}</p></small></h5>
                  </div>

                  {% bootstrap_form form %}

                  <button type="submit" class="btn bg-info-400 btn-block legitRipple">{% trans "Continue" context "Password reset from key form primary action" %} <i class="icon-arrow-right14 position-right"></i></button>
                </div>
              </form>

            {% endif %}

        </div>
        <!-- /content area -->
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
  </div>
  <!-- /page container -->

   
 
  <!-- Core JS files -->
  <script type="text/javascript" src="{% static 'backend/js/jquery-1.11.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/core/libraries/bootstrap.min.js' %}"></script>
  <!-- /core JS files -->
   <script src="{% static 'backend/js/plugins/ui/jquery-validation/jquery.validate.js' %} "></script>

  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/ui/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/core/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_select2.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/ui/ripple.min.js' %}"></script>
  <!-- /theme JS files -->
 
  <!-- form js -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/loaders/blockui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_layouts.js' %}"></script>
  <!-- image preview-->
  <script type="text/javascript" src="{% static 'backend/js/plugins/ui/jasny-bootstrap/js/jasny-bootstrap.min.js' %}"></script>
  
  <!-- datepicker -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/daterangepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/legacy.js' %}"></script>

  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/notifications/pnotify.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/notifications/noty.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/notifications/jgrowl.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'backend/js/pages/components_notifications_other.js' %}"></script>

  
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'backend/js/pages/components_pagination.js' %}"></script> -->
    <!-- <script type="text/javascript" src="{% static 'backend/js/chart.js'%}"></script> -->
    {% block custom_js %}{% endblock %}
   </div>
  </body>
</html>


