{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}
{% for pk, name, has_variants, product_attributes, variant_attributes in classes %}
        <tr>

          <!-- name -->
          <td>{{ name }}</td>
          <!-- product attributes -->
          <td class="td" data-href="{% url 'dashboard:subcategory-products' pk=pk %}">
                        {% if variant_attributes %}
                       {{ variant_attributes|join:", " }}
                      {% endif %}
                      </td>
          <!-- actions -->
        <td class="text-center">
              <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                action <span class="caret"></span>
              </button>
              <ul class="dropdown-menu edit-dropdown">
             {% if perms.product.change_productclass %}
                <li><a href="{% url 'dashboard:product-class-update' pk=pk %}"><i class="icon-pencil7"></i> EDIT</a></li>
             {% endif %}
             {% if perms.product.delete_productclass %}
                  <li>
                     <a href="#modal_instance" data-title='Delete Sub Category {{ name }}' data-href="{% url 'dashboard:product-class-delete' pk=pk %}" class="modal-trigger"><i class="icon-trash position-left"></i>
                       DELETE
                      </a>
                   </li>
             {% endif %}
              </ul>
            </div>

          </td>
        </tr>
        {% endfor %}
                 


<script type="text/javascript">
 $(document).ready(function(){


 });
</script>