{% load staticfiles %}
{% load i18n %}
{% load product_first_image from product_images %}
{% load prices_i18n %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     tr.nb td{border:0px;}
     .nb{border:0px;}
     .table{border:1px solid #ccc}
   </style>

      <div class="panel panel-flat">
        <div class="table-responsives">
         
            <div class="panel-body">
              <table class="table table-striped table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;">
                     <thead>
                      <tr class="bg-primary">

                          <th>Name</th>
                          <th>Product Values</th>
                          <th class="text-center">Options</th>
                      </tr>
                    </thead>
                    <tbody id="p-tb">
                    {% if classes %}
                    {% for pk, name, has_variants, product_attributes, variant_attributes in classes %}
                    <tr>

                      <!-- name -->
                      <td>{{ name }}</td>
                      <!-- product attributes -->
                      <td class="td" data-href="{% url 'dashboard:subcategory-products' pk=pk %}">
                        {% if variant_attributes %}
                       {{ variant_attributes|join:", " }}
                      {% endif %}
                      </td>
                      <!-- actions -->
                        <td class="text-center">
                          <!-- Single button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            action <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu edit-dropdown">
                         {% if perms.product.change_productclass %}
                            <li><a href="{% url 'dashboard:product-class-update' pk=pk %}"><i class="icon-pencil7"></i> EDIT</a></li>
                         {% endif %}
                         {% if perms.product.delete_productclass %}
                              <li>
                                 <a href="#modal_instance" data-title='Delete Sub Category {{ name }}' data-href="{% url 'dashboard:product-class-delete' pk=pk %}" class="modal-trigger"><i class="icon-trash position-left"></i>
                                   DELETE
                                  </a>
                               </li>
                         {% endif %}
                          </ul>
                        </div>

                      </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                      <tr><td colspan="4"><h5 class="text-center">No Sub Categories Available</h5></td></tr>
                    {% endif %}
                    </tbody>
               </table>
            </div>
        </div>
          {% if classes %}
          <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>
    
  

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            firstLastUse: true,
            first: 'First',
            last: 'Last',       
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 

                $.get("{% url 'dashboard:search-class-list' %}",{page:num, psize:'{{sz}}', q:'{{q}}'},function(data){
                   $('#p-tb').html(data);
                });
        }).children('.pagination').addClass('pagination-flat pagination-sm')

   });

   //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        if(ts != '0'){
            $.ajax({ url: "{% url 'dashboard:paginate-class-list' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        }

     });
   {% if sz %}
   $.when( $.ready ).then(function() {     
         $('.bootstrap-select').selectpicker();
         $('.list-sz').selectpicker('val', ["{{sz}}"]);              
      });
  {% endif %}
 </script>
<script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>