{% load static %}
{% if sub_category %}
<div class="input-group sub-refresh new">
        {{ product_form.product_class}}
     <div class="input-group-btn">
        <button type="button"  id="add-new-type" data-modal="#modal_type" href="#modal_types" class="btn bg-primary btn-icon "
                data-title="Add New Sub-Category" data-href='{% url "dashboard:product-class-add-new" 12 %}'
                data-csrf="{% csrf_token %}" onclick='return false;'  data-popup="tooltip"
                data-original-title="Add New Sub-Category">
       <i class="icon-plus-circle2"></i>
        </button>
      </div>
  </div>
{% elif supplier %}

<span></span>
{% elif tax %}
    <div class="input-group tax-refresh">
    {{ product_form.product_tax }}
      <div class="input-group-btn">
          <a id="add-new-tax" onclick="return false;" class="btn btn-icon bg-primary "
            href="#modal_attributes"  data-title="Add New Tax">
          <i class=" icon-plus-circle2"></i>
         </a>
      </div>
     </div>
{% endif %}

<script>
   $('.bootstrap-select').selectpicker();
</script>