{% load materializecss %}
{% load prices_i18n %}
{% load static %}
<div class="mt-15">
    <button class="btn btn-primary" id="btntoggles">
      Add Stock
    </button>
</div>
 <style type="text/css">
        #toggleStock{display:none;}
</style>
<div id="toggleStock" class="card-3 mb-10">
    <form id="add-product-stock-form">
<!--form-->
<div class="add-new-stock-form mt-10" id="product-app">
    <div class="sidebar-category bg-primary">
        <div class="category-title text-center text-semibold">
            <span id="selected-number">Add Stock</span>
        </div>
    </div>

    <div class="col-md-12 bg-white ">
     <div class="tab-pane fade has-padding active in">
        <div class="panelpanel-flat">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>

                            <div class="form-group">
                                <label>Invoice Number:<span class="text-danger">*</span></label>
                                <input type="text" placeholder="Invoice Number" class="form-control has-warning" id="stockInvoiceNumber" name="stockInvoiceNumber">
                                <span class="help-block"></span>
                            </div>

                            <div class="form-group">
                                <label>Variant:<span class="text-danger">*</span></label>
                                <div id="feditv">
                                {{ stock_form.variant }}
                                <span id="variant-help" class="help-block">required</span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Payment option:<span class="text-danger">*</span></label>

                                <select data-placeholder="Select options..." name="payment_options" id="payment_option" multiple="multiple" class="multiselect-select2">
                                    {% for option in payment_options %}
                                        <option value="{{option.id}}">{{option}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="hidden">
                                {{ stock_form.location }}
                                <input type="hidden" id="status" name="status" value="payment-pending">
                            </div>


                        </fieldset>
                    </div>

                    <div class="col-md-6">
                        <fieldset>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Quantity:</label>
                                        <input v-on:keyup="getTotal()"  v-model="quantity" type="number" placeholder="Quantity" class="form-control" id="stock_quantity" name="stock_quantity">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Reorder Threshold:</label>
                                        {{ stock_form.low_stock_threshold }}
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Unit cost price:</label>
                                        <input v-model="amount" v-on:keyup="getTotal()" style="" type="number" placeholder="Unit price" class="form-control" id="stockcostprice" name="stockcostprice">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Total cost #:</label>
                                        <input id="id_total_cost" name="total_cost" v-on:keyup="getAmount" v-model="total" step="any" value="{{stock.total_cost.gross}}" class="form-control" type="number">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Amount paid:</label>
                                        <input placeholder="Total amount" v-on:keyup="getBalance()" v-model="paid" name="amount_paid" id="amount_paid" class="form-control" type="number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Balance:</label>
                                        <input disabled="disabled" placeholder="Balance amount" v-model="balance" name="balance" id="balance" class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="text-right">
                    <button type="submit" onclick="return false;" data-refreshstockurl="{% url 'dashboard:refresh-stock-table' product_pk=product.pk %}" data-contenturl="{% url 'dashboard:product-stock-add' product_pk=product.pk %}" id='addnewStockBtn' class="btn btn-xs btn-primary">Add</button>
                </div>
            </div>
        </div>
     </div>
    </div>
</div>
    <!--/form-->

    </form>
</div>

