{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
<style type="text/css">
.hvr-pulsew {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

</style>
<div id="edit-varaints-here">
      <table class="table table-hover card-3">
        <thead>
        <tr class="bg-primary">  
            <th>SKU</th>
             {% if attribute_form.fields %}
                {% for attribute_field in attribute_form %}
             <th>{{attribute_field.label}}</th>
             {% endfor %}
            {% endif %}
            <th>Supplier</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
          <tr>
          <td>
            {{form.sku}}
          </td>
         
          {% if attribute_form.fields %}
                  {% for attribute_field in attribute_form %}
                  <td>
                  {{ attribute_field }}
                  </td>
                  {% endfor %}
          {% endif %}
          

            <!--supplier  -->
            <td>
                {{form.variant_supplier}}
            </td>
            <td>
              <button class="btn btn-xs btn-primary hvr-pulsew" id="editvariantBtn" data-pk="{{variant.pk}}" data-refreshvurl="{% url 'dashboard:product-update' pk=product.pk %}" data-productpk="{{product.pk}}" data-attrurl="{% url 'dashboard:add-attributes' %}">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>

<script type="text/javascript">
  // Basic select
    $('.bootstrap-select').selectpicker({dropupAuto:false});
    $('#id_variant_supplier').selectpicker({dropupAuto:false});
</script>
<script type="text/javascript" src="{% static 'backend/js/edit_variant.js' %}"></script>