{% load materializecss %}
{% load prices_i18n %}




  
  <!-- price area -->
  
        <!-- Product Pricing Details -->
       
       
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" id='tax_field'>
                <label>Tax: % </label>
                <div class="input-group tax-refresh">
                {{ product_form.product_tax }}
                  <div class="input-group-btn">
                      <a id="add-new-tax" onclick="return false;" class="btn btn-icon bg-primary "
                        href="#modal_attributes"  data-title="Add New Tax">
                      <i class=" icon-plus-circle2"></i>
                     </a>
                  </div>
                 </div>
              </div>
            </div>
          </div>     

        </div>
      {% if not product.product_class.has_variants %}
      <!-- Retail price inclusive tax -->

<div id="pricingDiv">

<table class="table table-hover">
  <thead>
   <tr class="bg-primary">
    <th>Price after tax</th>
    <th>Tax (KES)</th>
    <th>Price before tax</th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <div class="col-md-9">
       <input type="number" placeholder="Retail Price" class="form-control" value="{{ product.price.gross }}" id="tabprice" name="tabprice"> 
      </div>
      <div class="col-md-3">
       <span>KES</span>
      </div>
      </td>
      <td>
         <input type="disabled" placeholder="Tax" name="retail_tax" id="retail_tax" class="form-control" value="" disabled="">
      </td>
      <td>
         <input type="disabled" placeholder="Before Tax" name="retail_plus_tax" id="retail_plus_tax" class="form-control" value="" disabled="">
      </td>
    </tr>
    <tr>
      <td>
        {{ product_form.wholesale_price }}
      </td>
      <td>
         <input type="disabled" name="wholesale_tax" id="wholesale_tax" class="form-control" value="" disabled="">
      </td>
      <td>
        <input type="disabled" name="wholesale_plus_tax" id="wholesale_plus_tax" class="form-control" value="" disabled="">
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center">
       
      </td>
    </tr>
  </tfoot>
</table>
<div class="mb-15">
  <span>
        <a style="width: 100%" class="btn hvr-glow btn-primary" data-productpk="{{product.pk}}" data-priceurl="{% url 'dashboard:product-data' %}" id="updatePricing">Save</a>
       </span>
</div>
     
    
     </div>
     {% endif %}
         
  
