{% load materializecss %}
{% load prices_i18n %}

{% if request.GET.tab == 'variants'  %}                   
<div class="tab-pane has-padding active" id="bordered-tax">
{% else %}
  <div class="tab-pane has-padding" id="bordered-tax">            
{% endif %}

{% if product.pk %}
 
  
  <!-- price area -->
      <div class="col-md-12">
        <!-- Product Pricing Details -->
     <div class="col-md-12">       
        <div class="col-md-12">
          <h5 style="border-bottom:1px solid #626862;display:inline-block;margin-bottom:20px;">Product Pricing/Tax</h5>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" id='tax_field'>
                <label>Tax: % </label>
                <div class="input-group tax-refresh">
                {{ product_form.product_tax }}
                  <div class="input-group-btn">
                      <a id="add-new-tax" onclick="return false;" class="btn btn-icon bg-primary "
                        href="#modal_attributes"  data-title="Add New Tax">
                      <i class=" icon-plus-circle2"></i>
                     </a>
                  </div>
                 </div>
              </div>
            </div>
          </div>     

        </div>
      {% if not product.product_class.has_variants %}
      <!-- Retail price inclusive tax -->
<div id="pricingDiv">
      <div class="row" style="margin-bottom:20px;">
      <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-12">Retail Price:<i class='text-danger'>*</i><span class="text-muted text-small">(Inclusive Tax)</span></label>
            <input type="number" class="form-control" value="{{ product.price.gross }}" id="tabprice" name="tabprice">               
        </div>
      </div>
      <!-- -->
      <!-- Retail Tax -->
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-md-12 text-muted">Retail Tax:</label>
            <span class="col-md-12">
           <input type="disabled" name="retail_tax" id="retail_tax" class="form-control" value="" disabled="">
           </span>                  
        </div>
      </div>
      <!-- (Before Tax) -->
      <div class="col-md-4">
         <div class="form-group">
          <label class="col-md-12 text-muted">Retail Price:<span class="text-muted text-small">(Before Tax)</span></label>
          <span class="col-md-12">
           <input type="disabled" name="retail_plus_tax" id="retail_plus_tax" class="form-control" value="" disabled="">
          </span>                  
        </div>
      </div> 
      <!--  -->
      </div>
     <div class="row" style="margin-bottom:20px;">
      <!-- wholesale Price: -->
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-md-12">wholesale Price:<span class="text-muted text-small">(Inclusive Tax)</span></label>
          {{ product_form.wholesale_price }}                     
        </div>
      </div>  
      <!-- Wholesale Tax: -->
      <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-12 text-muted">Wholesale Tax:</label>
            <span class="col-md-12">
           <input type="disabled" name="wholesale_tax" id="wholesale_tax" class="form-control" value="" disabled="">
           </span>                  
          </div>
      </div>
      <!-- wholesale price before tax  -->
      <div class="col-md-4">
        <div class="form-group">
          <label class="col-md-12 text-muted">wholesale Price:(Before Tax)</label>
          <span class="col-md-12">
            <input type="disabled" name="wholesale_plus_tax" id="wholesale_plus_tax" class="form-control" value="" disabled="">
         </span>                  
        </div> 
      </div>
        </div>
     </div>
     {% endif %}
     </div>
      </div>
      <!-- ./price area -->
     <div class="col-md-6 col-md-offset-3 text-center p-10" style="margin-top:20px;">
     <button class="btn btn-primary" data-productpk="{{product.pk}}" data-priceurl="{% url 'dashboard:product-data' %}" id="updatePricing" onclick="return false;">Update</button>
     	
     </div>
  
{% endif %}
</div>