{% load materializecss %}
<!-- stock reorder limit -->
     <div class="col-md-12">        
      <!-- stock reorder limit -->      
      
      <!-- ./stock reorder limit -->
      <!-- supplier -->
      <div class="col-md-3 hidden">
        <div class="form-group hidden" id="div_supplier">
          <label>Supplier:</label>
           <div class="input-group supplier-refresh">
             {{ product_form.product_supplier }}
             <span class="input-group-btn">
             <a id="add-supplier" onclick="return false;" class="btn hvr-glow btn-icon bg-primary "
                data-href="{% url 'dashboard:supplier-ajax-add-modal' %}"
                href="#modal_attribute"  data-popup="tooltip"
                data-original-title="Add New Supplier" data-title="Add New Supplier">
              <i class=" icon-plus-circle2"></i>   
             </a>
            </span>
           </div>
          </div>
      </div>
      <!-- ./supplier -->     
      <div class="col-md-3 hidden" id="hasVariantDiv">
        {% if not product.product_class.has_variants %}
        <div class="row disablesku hidden">
         {{ variant_form.sku|materializecss }}
       </div>
       {% endif %}
      </div>
      <div class="col-md-3 hidden">
          {% if not product.product_class.has_variants %}
       <button class="btn btn-primary" style="margin-top: 28px !important;" id="updatestock" data-productpk="{{product.pk}}" data-stockurl="{% url 'dashboard:product-data' %}">Create</button>
          {% endif %}
      </div>
     </div>