
{% if stock_items %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load prices_i18n %}
{% load attributes %}
{% for item in stock_items %}
<tr data-action-go="{% url 'dashboard:product-stock-update' product_pk=product.pk stock_pk=item.pk %}" title="{% trans "Edit variant" context "Stock table action" %}">
  <td>{{ item.variant.display_product }}</td>
  <td>
    {{ item.variant.sku }}                    
  </td>
  <!-- cost price -->
  <td>
    {% if item.cost_price %}
     {% gross item.cost_price %}
    {% endif %}   
  </td>
  <!-- sales price -->
  <td> 
  {% gross item.variant.get_price_per_item html=True %}
  </td>
  
  <td>
    {{ item.location }}
  </td>
  <td class="right-align">
    {{ item.quantity }}
  </td>
  <td class="right-align">
    {{ item.quantity_allocated }}
  </td>
  <td>
                  <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu edit-dropdown">   
                        <li><a href="{% url 'dashboard:product-stock-update' product_pk=product.pk stock_pk=item.pk %}"><i class="icon-pencil7"></i> EDIT</a></li>
                       
                        <li>
                          <a data-ta="#modal_delete_instance" data-title="Delete {{item.name}}?" data-href="{% url 'dashboard:single-stock-delete' product_pk=product.pk stock_pk=item.pk %}" data-tabname='?tab=stock'
                         data-successurl="{% url 'dashboard:product-update' pk=product.pk  %}" data-name="{{ item.name }}" data-id="{{ item.pk }}"
                       class="modal-trigger-delete"><i class="icon-trash" href="#modal_delete_instance" data-toggle="modal"></i> DELETE
                       </a>
                        </li>
                       
                        </ul>
                    </div>
                    
                  </td>
</tr>
{% endfor %}
<script type="text/javascript" src="{% static 'backend/js/deleteModal.js' %}"></script>
{% endif %}
