{% load materializecss %}
{% load prices_i18n %}
{% load static %}
<div class="mt-15">
    <button class="btn btn-primary" id="btntoggles">
      Add Stock
    </button>
</div>
 <style type="text/css">
        #toggleStock{display:none;}
</style>
<div id="toggleStock">
<table class="table  datatable-header-footer responsive data-table">            
    <thead>
      <tr class='bg-primary'>        
        <th> Invoice</th>
        <th> Variant</th>
        <th> Cost Price</th>             
        <th class="wide"> Location</th>
        <th class="right-align">Quantity</th>          
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
     <tr>
    	<td width="15%">
    		<input type="text" placeholder="Invoice Number" class="form-control" id="stockInvoiceNumber" name="stockInvoiceNumber">
    	</td>
    	<td width="25%">
        <div id="refreshStockVariants">
    		{{ stock_form.variant }}
        </div>
    	</td>
    	<td width="15%">
    		<input type="number" placeholder="Cost price" class="form-control" id="stockcostprice" name="stockcostprice">
    	</td>    	
    	<td width="25%">
    		{{ stock_form.location }}
    	</td>
    	<td width="15%">
    		<input type="number" placeholder="Quantity" class="form-control" id="stock_quantity" name="stock_quantity">
    	</td>
        <td class="hidden">
            <input type="hidden" placeholder="(e.g 10)" class="form-control" id="reorderasdas_level" name="reorder_sfsdasdlevel">
        </td>
    	<td>
    		<button type="submit" onclick="return false;" data-refreshstockurl="{% url 'dashboard:refresh-stock-table' product_pk=product.pk %}" data-contenturl="{% url 'dashboard:product-stock-add' product_pk=product.pk %}" id='addnewStockBtn' class="btn btn-xs btn-primary">Add</button>
    	</td>
      </tr>
    </tbody>
   </table>
  
</div>