{% load static %}
<!--<div class="col-md-12" id='category_field'>-->
  <!--<div class="multi-select-full new_ajax">-->
    {#{{ product_form.categories }}#}
  <!--</div>                         -->
<!--</div>-->
 <div class="multi-select-full input-group-btn" id='category_field' >
  {{ product_form.categories }}
 </div>
<!-- scripts -->
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <!--<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>-->
<script type="text/javascript">
$(document).ready(function(){
	// Default initialization
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });

    //$('.multiselect').off('MultiSelect');

    // Basic initialization
    $('#id_categories').multiselect({
        onChange: function() {
            $.uniform.update();
        }
    });
});
</script>