{% load static %}

  <div class="input-group-btn" id='category_field' >
  <select name="categories" class="form-control" id="id_categories">
   {% if all_cats %}
    {% for cat in all_cats %}
    <option value="{{cat.pk}}">{{cat}}</option>
    {% endfor %}
   {% endif %}
  </select>
   <!-- product_form.categories }} -->
 </div>
<!-- scripts -->
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
  <!--<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>-->
<script type="text/javascript">
$(document).ready(function(){
	// Default initialization
    // $(".styled, .multiselect-container input").uniform({
    //     radioClass: 'choice'
    // });

    //$('.multiselect').off('MultiSelect');

    // Basic initialization
    $.when( $.ready ).then(function() {
    //$('#id_categories').removeAttr('multiple');
    $('#id_categories').selectpicker();
    $('#id_categories').selectpicker('refresh');
   });
    
});
</script>