{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}
{% load staticfiles %}
    <div class="row">
     <form method="post" id="form-category" enctype="multipart/form-data" novalidate>      
            {% csrf_token %}
         <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
               <label>Category Name (required)</label>
               <input type="text"  name="cat_name" class="form-control" id="cat_name">
            </div>
            <div class="form-group">
              <label>Description (optional)</label>
              <textarea class="form-control" name="cat_description" id="cat_description"></textarea>
            </div>
            <div class="form-group">
            {{ form.hidden|materializecss:"input-field s12" }}
            </div>
         </div>
      </form>
    </div>
  <div class="col m12 l3 help-box"></div>
<script>
    $(document).ready(function(){
        $("#form-category").validate({
         onkeyup: function(element) {$(element).valid()},
             rules:{
                cat_name: {
                  required:true,
                  minlength:3
                },
                cat_description: {
                  required:true,
                  minlength:3
                },
              },
              messages:{
                  cat_name:{
                    required: "please provide a category name",
                    minlength: "name must be atleast 6 characters long"
                  },
                  cat_description:{
                    required: "please add a description",
                    minlength: "password must be atleast 6 characters long"
                  },
                }
        });
    });
</script>
