{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load default_user_image %}
{% load payment_status %}
      <!-- Header and footer fixed -->
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsives">

          <table class="table  table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;"> 
                <thead>
                  <tr class="bg-primary">

                    <th>Customer</th>          
                    <th>Status</th>           
                    <th>Last Credit Sale</th>   
                    <th>Due Date</th> 
                    <th>Is Due</th>
                    <th>Amount</th>        
                  </tr>
                </thead>
                <tbody id="p-tb">           
                {% if users %}
                      {% for user in users%}
                      <tr class='clickable-row' id="{{user.pk }}">

                        <!-- name -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">{{user.customer.name}}
                        <div class="text-size-small text-muted">
                          <i class="icon-mobile3"></i>{{user.customer.mobile}}
                        </div>
                        </td>
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                          {{ user.status|payment_status|safe }}
                        </td>
                        <!-- created -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">

                         {% if user.created %}
                    {{user.created|timesince}} ago
                     {% endif %}
                        </td>
                       <!-- due date -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                       {{user.due_date}}
                        </td>
                        <!-- is due -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                          {% if user.is_due %}
                          <i class="text-danger icon-checkmark4"></i>
                          {% else %}
                          <i class="text-success icon-menu"></i>
                          {% endif %}
                        </td>
                        <!-- amount -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                          {{user.total_net}}
                        </td>
                        
                      </tr>
                      {% endfor %}
                     {% else %}
                      <tr><td colspan="8"><h2 class="text-center">No Customers available</h2></td></tr>
                     {% endif %}
                  </tbody>
           </table>

        </div>
        </div>
         <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
      </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/customer/customer-listing.js' %}"></script>
 <script type="text/javascript">
  var paginateUrl = "{% url 'dashboard:customer-credit-paginate' %}";
  var searchUrl = "{% url 'dashboard:customer-credit-search' %}";
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            firstLastUse: true,
            first: 'First',
            last: 'Last',       
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 
                var gid = '{{gid}}';
                if(gid == 0){
                    $.get(paginateUrl,{page:num, psize:'{{sz}}'},function(data){
                      $('#p-tb').html(data);
                    });
                }else{
                    $.get(paginateUrl,{page:num, psize:'{{sz}}',gid:'{{gid}}'},function(data){
                   $('#p-tb').html(data);
                });
                }

        }).children('.pagination').addClass('pagination-flat pagination-sm')
        $(".td").click(function() {
             window.location = $(this).data("href");
        });
   });
   //**@ display size select
        $('.list-sz').selectpicker().on('change', function(){
            var ts = $(this).val();
            $.ajax({ url: paginateUrl,type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        });
        
   {% if sz %}
   $.when( $.ready ).then(function() {     
         $('.bootstrap-select').selectpicker();
         $('.list-sz').selectpicker('val', ["{{sz}}"]);              
      });
  {% endif %}
 </script>
<script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>