{% load product_first_image from product_images %}
{% load i18n %}
{% load prices_i18n %}
{% load static %}
{% load default_user_image %}
{% load payment_status %}

{% if users %}
  {% for user in users%}
  <tr class='clickable-row' id="{{user.customer.pk }}">

    
    <!-- name -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                        <div class="text-size-small text-muted">
                          <i class="icon-mobile3"></i>{{user.customer.mobile}}
                        </div>
                        </td>                       
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                          {{ user.status|payment_status|safe }}
                        </td>                      
                        <!-- created -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                        
                         {% if user.created %}
                    {{user.created|timesince}} ago
                     {% endif %}
                        </td>
                       <!-- due date -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                       {{user.due_date}}
                        </td>
                        <!-- is due -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                          {% if user.is_due %}
                          <i class="text-danger icon-checkmark4"></i>
                          {% else %}
                          <i class="text-success icon-menu"></i>
                          {% endif %}
                        </td>
                        <!-- amount -->
                        <td class="td" data-href="{% url 'dashboard:credit_history' credit_pk=user.pk %}">
                          {{user.total_net}}
                        </td>    
  </tr>
  {% endfor %}
 {% else %}
  <tr><td colspan="8"><h2 class="text-center">No Customers available</h2></td></tr>
 {% endif %}
 <script type="text/javascript" src="{% static 'backend/js/customer/customer-listing.js' %}"></script>