
{% extends "dashboard/base.html" %}
{% load staticfiles i18n %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  System Defauls - HR
{% endblock %}
 {% block breadcrumbs %}
     <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
     <li class="active"><a href="{% url 'dashboard:hr-defaults' %}">manage defaults</a></li>
 {% endblock %}
{% block menu_hr_default_class %} active {% endblock %}
 {% block custom_css %}
   <style type="text/css">
    label.error{
      color: #FF5722;
    }
  </style>
 {% endblock %}

{% block content %}
<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="row">
            <a href="{% url 'dashboard:view_bank' %}" class="col-md-4">
                <div class="panel panel-flat bg-success-800">
                    <div class="panel-body text-center">
                        <i class="icon-city" style="font-size:2.1em;"></i><br>
                        <span style="font-size:2.0em;">Bank</span>
                    </div>
                </div>
            </a>
            <a href="{% url 'dashboard:view_department' %}" class="col-md-4">
                <div class="panel panel-flat bg-brown-600">
                    <div class="panel-body text-center">
                        <i class="icon-office" style="font-size:2.1em;"></i><br>
                        <span style="font-size:2.0em;">Department</span>
                    </div>
                </div>
            </a>
            <a href="{% url 'dashboard:view_roles' %}" class="col-md-4">
                <div class="panel panel-flat bg-warning-800">
                    <div class="panel-body text-center">
                        <i class="icon-paint-format" style="font-size:2.1em;"></i><br>
                        <span style="font-size:2.0em;">User Role</span>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<!-- edit modal -->
 <div id="edit_modal_instance" class="modal fade">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <div class="modal-body">
         <div class="">
         <form action="" class="edit_form" method="post" id="editform" novalidate>
         {% csrf_token %}
         <div class="">
             <div class="form-group">
                 <label class="cat_label"> </label>
                 <input class="form-control edit_class" name="category" data-name=""/>
             </div>
             <input type="hidden" class="eitem-url"/>
             <input type="hidden" class="eitem-id"/>
           </div>

         </div>
       </div>

       <div class="modal-footer">
         <!--<button type="submit" id='modal_edit' class="btn pull-right bg-danger edit" onclick="return false" data-id="" data-href="">Update</button>-->
           <button class="btn btn-primary waves-effect waves-light pull-right data_update"
                   id='modal_edit' type="submit"  data-id="" data-href="">
               Update
               <i class="icon-arrow-right14 position-right"></i>
           </button>
         </form>
         <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 <!-- /edit modal -->

<!-- Blue modal -->
 <div id="modal_instance" class="modal fade">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <div class="modal-body">
         <div class="">
         <form action="" class="delete_form" method="post" id="delform" novalidate>
         {% csrf_token %}
         <div class="">
           <h5 class="text-center">
             Confirm delete!
           </h5>
             <input type="hidden" class="item-url"/>
             <input type="hidden" class="item-id"/>
           </div>

         </div>
       </div>

       <div class="modal-footer">
         <button type="submit" id='modal_delete' class="btn pull-right bg-danger del" onclick="return false">Delete</button>
         </form>
         <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 <div class="info"></div>
 <!-- /blue modal -->

{% endblock%}
{% block custom_js %}
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
//** user role
  $('#user-role-details').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
        user_role: {
          required:true
        }
    },
    messages:{
      user_role:{
        required: "please provide a role"
      }
    },
    submitHandler: function() {
      var f = document.getElementById('user-role-details');
      var formData = new FormData(f);
      if (formData) {
            $.ajax({
                url: "{% url 'dashboard:add_role' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success:function(data){

                   if(data != 'error'){
                      $('#user_role_name').val('');
                      $('.role-div').fadeOut().html(data).fadeIn();

                      $.jGrowl('successfully created', {
                          header: 'Well done!',
                          theme: 'bg-success'
                       });
                   }else{

                      $.jGrowl('error saving', {
                          header: 'Well done!',
                          theme: 'bg-danger'
                       });
                   }


                },
                error:function(error){
                  console.log(error);
                  $.jGrowl('Change a few things up and try sending again', {
                      header: 'Oh snap!',
                      theme: 'bg-danger'
                  });
                }
            });
        }
    }
  });

//** bank
  $('#bank-details').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
        bank: {
          required:true
        }
    },
    messages:{
        bank:{
            required: "please provide the bank name"
          }
    },
    submitHandler: function() {
      var f = document.getElementById('bank-details');
      var formData = new FormData(f);
      if (formData) {
            $.ajax({
                url: "{% url 'dashboard:add_bank' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success:function(data){
                    if(data != 'error'){
                      $('#bank_name').val('');
                      $('.bank-div').fadeOut().html(data).fadeIn();

                      $.jGrowl('successfully created', {
                          header: 'Well done!',
                          theme: 'bg-success'
                       });
                   }else{

                      $.jGrowl('error saving', {
                          header: 'Well done!',
                          theme: 'bg-danger'
                       });
                   }
                },
                error:function(error){
                  console.log(error);
                  $.jGrowl('Change a few things up and try sending again', {
                      header: 'Oh snap!',
                      theme: 'bg-danger'
                  });
                }
            });
        }
    }
  });


  //** branch
  $('#branch-details').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
        branch: {
          required:true
        }
    },
    messages:{
         branch:{
           required: "please provide the branch name"
         }
    },
    submitHandler: function() {
      var f = document.getElementById('branch-details');
      var formData = new FormData(f);
      if (formData) {
            $.ajax({
                url: "{% url 'dashboard:add_branch' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success:function(data){
                    if(data != 'error'){
                      $('#branch_name').val('');
                      $('.branch-div').fadeOut().html(data).fadeIn();

                      $.jGrowl('successfully created', {
                          header: 'Well done!',
                          theme: 'bg-success'
                       });
                   }else{

                      $.jGrowl('error saving', {
                          header: 'Well done!',
                          theme: 'bg-danger'
                       });
                   }
                },
                error:function(error){
                  console.log(error);
                  $.jGrowl('Change a few things up and try sending again', {
                      header: 'Oh snap!',
                      theme: 'bg-danger'
                  });
                }
            });
        }
    }
  });


//** department
  $('#department-details').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
        department: {
          required:true
        }
    },
    messages:{
      department:{
        required: "please provide the department name"
      }
    },
    submitHandler: function() {
      var f = document.getElementById('department-details');
      var formData = new FormData(f);
      if (formData) {
            $.ajax({
                url: "{% url 'dashboard:add_department' %}",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success:function(data){
                    if(data != 'error'){
                      $('#department_name').val('');
                      $('.department-div').fadeOut().html(data).fadeIn();

                      $.jGrowl('successfully created', {
                          header: 'Well done!',
                          theme: 'bg-success'
                       });
                   }else{

                      $.jGrowl('error saving', {
                          header: 'Well done!',
                          theme: 'bg-danger'
                       });
                   }
                },
                error:function(error){
                  console.log(error);
                  $.jGrowl('Change a few things up and try sending again', {
                      header: 'Oh snap!',
                      theme: 'bg-danger'
                  });
                }
            });
        }
    }
  });
  //** modal edit
  $('.edit_modal-trigger').on('click', function (e) {

         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var username = $(this).data('name');
         var modal = $(this).data('ta');
         var id = $(this).data('id');
         var cat = $(this).data('cat');
         var label = $(this).data('label');
         $('.cat_label').html(label);

         $('.eitem-url').val(url);
         $('.eitem-id').val(id);

         $('.modal-title').html(prompt_text);

         $('.edit_class').attr('data-name', cat)
         $('.edit_class').val(username);

         $(modal).modal();
         $('.delete_form').attr('action',url);
      });

  $('#editform').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
       category: {
          required:true
        }
    },
    messages:{
      category:{
        required: "please fill in the required field"
      }
    },
    submitHandler: function() {
          var name = $('.edit_class').data('name');
          var inputValue = $('.edit_class').val();
          var f = document.getElementById('editform');
          var formData = new FormData(f);
          formData.append(name, inputValue);
          var url = $('.eitem-url').val();
          var id = $('.eitem-id').val();

          //alert('url: '+url+' -* category: -*'+name+' -* value: '+inputValue);
          $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success:function(data){
                $('#edit_modal_instance').modal('hide');
                //$('#tb #'+id).remove();
                $.jGrowl('Updated successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
                });
                //window.location.reload();
             // $("#mydiv").load(location.href + " #mydiv");
              },
              error:function(error){
                console.log(error);
                $.jGrowl('Error Updating', {
                    header: 'Oh snap!',
                    theme: 'bg-danger'
                });
              }
          });
    }
  });
      /* clicked the submit button */
      $('.data_update').on('click', function (e) {
          /*var f = document.getElementById('editform');
          var formData = new FormData(f);
          var id = $(this).data('id');
          var url = $(this).data('href');
          $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success:function(data){
                $('#edit_modal_instance').modal('hide');
                //$('#tb #'+id).remove();
                $.jGrowl('Updated successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
                });
                //window.location.reload();
             // $("#mydiv").load(location.href + " #mydiv");
              },
              error:function(error){
                console.log(error);
                $.jGrowl('Error Updating', {
                    header: 'Oh snap!',
                    theme: 'bg-danger'
                });
              }
          });*/
      });


  //** modal delete
        $('.modal-trigger').on('click', function (e) {

         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var username = $(this).data('name');
         var modal = $(this).data('ta');
         var id = $(this).data('id');
         $('.modal-title').html(prompt_text);
         $(modal).modal();
         $('.delete_form').attr('action',url);
         $('.item-url').val(url);
         $('.item-id').val(id);
         //alert(url+'and '+id);
         //alert($('.del').data('href'));
      });

      /* clicked the submit button */
      $('.del').on('click', function (e) {
          var f = document.getElementById('delform');
          var formData = new FormData(f);
          var id = $('.item-id').val();
          var url  = $('.item-url').val();
           //alert(url+' and '+id)
          $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success:function(data){
                $('#modal_instance').modal('hide');
                $('#tb #'+id).remove();
                $.jGrowl('Deleted successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
                });
                window.location.reload();
             // $("#mydiv").load(location.href + " #mydiv");
              },
              error:function(error){
                console.log(error);
                $.jGrowl('Error deleting', {
                    header: 'Oh snap!',
                    theme: 'bg-danger'
                });
              }
          });
      });

  });
</script>
{% endblock %}