{% load staticfiles %}
{% load product_first_image from product_images %}
{% load i18n %}
{% load prices_i18n %}
{% load humanize %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     tr.nb td{border:0px;}
     .nb{border:0px;}
     .table{border:1px solid #ccc}
   </style>

      <div class="panel panel-flat">
        <div class="table-responsives">
         
            <div class="panel-body">
              <table class="table table-striped table-hover fixed_headers datatable-header-footer" style="border-bottom:1px solid #ddd;">
                     <thead>
                      <tr class="bg-primary">
                          <th>Image</th>
                          <th>Product Name</th>
                          <th>Category</th>
                          <th>Price (KShs)</th>
                          <th>Current Stock</th>
                          <th class="text-center">Options</th>
                      </tr>
                    </thead>
                    <tbody id="p-tb">
                    {% if product_results %}
                       {% for product in product_results %}
                    <tr data-title=" {{ product.name }} " class="clickable-row">
                      <!-- image -->
                      <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}"><img src="{% product_first_image product size="60x60" method="crop" %}"
                       srcset="{% product_first_image product size="60x60" method="crop" %} 1x, {% product_first_image product size="120x120" method="crop" %} 2x"
                       alt="" class="circle teal"></td>
                       <!-- product name -->
                      <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}">{{ product.name }}</td>
                      <!-- product category -->
                      <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}">
                        {% with product.get_first_category as category %}
                        {% if category %}
                        {{ category }}
                        {% endif %}
                        {% endwith %}
                      </td>
                      <!-- price -->
                        <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}"> 

                       {% if not product.product_class.has_variants %}
                       {{product.price.gross|intcomma}}
                      {% else %}
                      --
                      {% endif %}
                       </td>
                      <!-- variants -->
                      <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}">

                       <span class="semi-bold">{{ product.get_variants_count }}</span>
                      <span class='superscript'> in</span><span class="semi-bold"> {{ product.total_variants}} </span>
                      <span class="superscript"> variant(s)</span>

                      </td>
                  <!-- actions -->
                      <td class="action-data">
                          <!-- Single button -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            action <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu edit-dropdown">
                          <li>
                                <a href="{% url 'dashboard:product-variant-list' pk=product.pk %}">
                                    <i class="icon-eye" data-popup="tooltip" title='Edit product' data-placement="bottom" data-original-title="Edit me">
                                    </i> View variants
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard:product-update' pk=product.pk %}">
                                    <i class="icon-pencil7" data-popup="tooltip" tite='Edit product' data-placement="bottom" data-original-title="Edit me">
                                    </i> EDIT
                                </a>
                            </li>
                            <li>
                                <a href="#modal_instance" data-title='Remove {{ product.name }}' data-href="{% url 'dashboard:product-delete' pk=product.pk %}"
                            class="modal-trigger-ajax">
                                    <i class="icon-trash position-left" data-popup="tooltip" tite='Edit product' data-placement="bottom" data-original-title="Delete me">
                                    </i> DELETE
                                </a>
                            </li>
                          </ul>
                        </div>

                      </td>
                    </tr>
                      {% endfor %}
                     {% else %}
                      <tr><td colspan="7"><h5 class="text-center">No Products Available</h5></td></tr>
                    {% endif %}
                    </tbody>
               </table>
            </div>
        </div>
          {% if product_results %}
         <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            leaps: true,
           firstLastUse: true,
           first: 'First',
           last: 'Last',       
           wrapClass: 'pagination',
           activeClass: 'active',
           disabledClass: 'disabled',
           nextClass: 'next',
           prevClass: 'prev',
           lastClass: 'last',
           firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 
                var gid = '{{gid}}';
                if(gid == 0){
                    $.get("{% url 'dashboard:product-list-paginate' %}",{page:num, psize:'{{sz}}'},function(data){
                      $('#p-tb').html(data);
                    });
                }else{
                    $.get("{% url 'dashboard:product-list-paginate' %}",{page:num, psize:'{{sz}}',gid:'{{gid}}'},function(data){
                   $('#p-tb').html(data);
                });
                }

        }).children('.pagination').addClass('pagination-flat pagination-sm')

   });
   //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        if(ts != '0'){
            $.ajax({ url: "{% url 'dashboard:product-list-paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        }

     });

   {% if sz %}
   $.when( $.ready ).then(function() {     
       $('.bootstrap-select').selectpicker();
       $('.list-sz').selectpicker('val', ["{{sz}}"]);              
    });
   {% endif %}
 </script>
 <script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>
    