
@font-face{font-family:'Glyphicons Halflings';src:url("icons/glyphicons/glyphicons-halflings-regular.eot");
src:url("icons/glyphicons/glyphicons-halflings-regular-.eot#iefix") 
format('embedded-opentype'),url("icons/glyphicons/glyphicons-halflings-regular.woff2") format('woff2'),url("icons/glyphicons/glyphicons-halflings-regular.woff") format('woff'),url("icons/glyphicons/glyphicons-halflings-regular.ttf") format('truetype'),url("icons/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg')}
.glyphicon{font-size:16px;vertical-align:middle;top:-1px}


 	
 		
 		.page-header-inverse.has-cover
 		{
 			background:url("../images/login_cover.jpg.html");
 			background-size:cover
 		}
 		.page-header-default
 		{
 			background-color:#fff;margin-bottom:30px;
 			-webkit-box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)}
 		.page-header-default.has-cover
 		{
 			background:url("../images/backgrounds/seamless.png.html")
 		}
