{% if template %}

<div class="modal-body">
 <h6 class="text-purple">{{ template.name }}</h6>
  <div id="summernote">
  	{{ template.content}}
  </div>
  <input type="hidden" id='deletethis' data-deleteurl="{% url 'dashboard:delete-email-template' pk=template.pk %}" name="delete">                
</div>

<div class="modal-footer">
    <button type="button" class="deleteTempBtn btn btn-danger btn-xs text-uppercase text-semibold" >Delete</button>
    <button type="button" class="btn btn-link btn-xs text-uppercase text-semibold" data-dismiss="modal">Close</button>
</div>

<script type="text/javascript">
    function deleteTemplate(delUrl) {
        var dynamicData = {};
        dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
    
        return $.ajax({
          url: delUrl,
          type: "post",
          data: dynamicData
        });
        }
	$('.deleteTempBtn').on('click',function(){
		var delUrl = $('#deletethis').data('deleteurl');
		deleteTemplate(delUrl).done(function(){
			$.jGrowl('Template Deleted Successfully', 
		    {header: 'Well done!',theme: 'bg-success'});
			});
		$('#tempDetail').modal('hide');
		$('#trackDiv{{template.id}}').remove();
	});

  $(document).ready(function() {
    $('#summernote').summernote(
      );
  });  
</script>

{% endif %}