$lightred: #f12e50;
$red: #ee0c4b;
$darkred: #c80e3d;

.section {
  position: relative;
  width: 100%;
  a {
    position: absolute;    
    margin-top: 8px;
    outline: 0;
    border: 0;
    background: none;
    text-indent: -9999%;
    pointer-events: none;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $red;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(75%, -50%) rotate(45deg);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      border-radius: .3em;
      background: $red;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      transition: all .25s ease-in-out;
      transform: translate(-75%, -50%) rotate(-45deg);
    }
  }
}

.section.show {
  a {
    &:before, &:after {
      height: 14px;
    }
    &:before {
      transform: translate(0%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(0%, -50%) rotate(45deg);
    }
  }
  .articlewrap {
    height: 120px;
  }
}


.sectionhead {
  width: 100%;
  overflow: hidden;
  background: white;
  cursor: pointer;
  font-weight: 700;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1em;
  padding-right: 2.1em;
}

.panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

