@keyframes loader {
    50% {
      filter: blur(5px);
      transform: translateY(-10px);
      opacity: 0.3;
    }
  }
  body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-color: #222;
  }
  
  .loader {
    width: 100px;
    height: 15px;
    margin: -7px auto 0 auto;
    position: relative;
    top: 50vh;
  }
  
  .loader > div {
    height: 15px;
    width: 15px;
    background-color: #eee;
    float: left;
    margin: 0 5px 0 0;
    animation: loader 0.7s infinite;
    opacity: 0.5;
    border-radius: 10%;
  }
  
  .loader > div:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loader > div:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .loader > div:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .loader > div:nth-child(5) {
    animation-delay: 0.5s;
  }
  