
{% extends "dashboard/base.html" %}
{% load staticfiles i18n %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  users
{% endblock %}
 {% block breadcrumbs %}
     <li><a href="{% url 'dashboard:users' %}">Users</a></li>
     <li class="active"><a href="{% url 'dashboard:user-add' %}">Add User</a></li>
 {% endblock %}
{% block menu_user_class %}active{% endblock %}
 {% block custom_css %}
   <style type="text/css">
    label.error{
      color: #FF5722;
    }
  </style>
 {% endblock %}

{% block content %}
<div class="row animated fadeIn">
<div class="col-md-12">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Create User Details</h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

      <div class="panel-body">
        <div class="tabbable">
          <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="active" id="profile-tab"><a href="#profile" data-toggle="tab" class="legitRipple" aria-expanded="false">add user profile</a></li>
            <li class="" id="permissions-tab"><a href="#permissions" data-toggle="tab" class="legitRipple" aria-expanded="true">add user permissions</a></li>

          </ul>

          <div class="tab-content">

            <div class="tab-pane animated fadeIn active" id="profile">
              <form class="form" enctype="multipart/form-data" id="user-details" name="user-details">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-4">
                    <label for="exampleInputEmail1">User Image</label>
                      <div class="form-group">
                        <!-- <label for="exampleInputEmail1">User Image</label> -->
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                            <img data-src="holder.js/100%x100%" alt="..." src="{% static 'images/user.png' %}">
                          </div>
                          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                          <div style="text-align: center;">
                            <span class="btn btn-warning btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="image" id="image"></span>
                            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                           </div>
                           <div class="form-group">
                            <label for="exampleInputPassword1">National ID No:</label>
                            <input type="text" class="form-control" name="nid" id="nid" placeholder="Id No">
                           </div>
                           <div class="form-group">
                            <label for="exampleInputPassword1">Select Group:</label>
                            <div class="multi-select-full">
                              <select class="multiselect-full-featured" multiple="multiple" style="display: none;" name="group" id="multiple" placeholder="select a group...">
                              {% if groups %}
                                {% for group in groups %}
                                   <option value="{{group.name}}"> 
                                     {{ group.name }}
                                   </option>
                                {% endfor %}
                              {% endif %}
                              </select>
                            </div>
                            <label id="group_name_error" class="select-error" for="user_select"></label>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                           </div>
                           <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                           </div>
                           <div class="form-group">
                            <label for="mobile">Phone</label>
                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Mobile">
                           </div>
                        </div>
                      </div>
                      
                     
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                     <div class="pull-right" style="margin-top:40px;">
                      <a href="{% url 'dashboard:users' %}" class="btn btn-default waves-effect waves-light">Cancel</a>
                      <button class="btn btn-primary waves-effect waves-light" id="submit" type="submit">Create User <i class="icon-arrow-right14 position-right"></i></button>
                     </div>
                    </div>
                  </div>
                </form>
            </div>
            <div class="tab-pane animated fadeIn" id="permissions">
              
                <p class="content-group">Define user permissions by ticking on particular access options. User : <input class="user_id" type="hidden" name="user_id" value=""></p>
                <p> 
                  <label class="display-block text-semibold">System Permission Default</label>
                  <div class="checkbox">
                    <label>
                      <input class="styled checks" id="can-login" type="checkbox"" value="active">
                      can login
                    </label>
                    <span id="granted" class="granted text-success"></span>
                  </div>
                </p>
                <p>
                  <div class="checkbox">
                    <label>
                      <div class="checker"><input class="styled" type="checkbox" id="checkAll"></div>
                      select all
                    </label>
                  </div>
                </p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                    {% for permission in permissions%}
                       {% if permission.content_type.model ==  'unused' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
            <div class="row">
                 <div class="col-md-12">
                 <h5>Inventory Management</h5>
                 </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Product</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'product' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Category</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'category' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Product Attribute</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'productattribute' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Product Class(type)</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'productclass' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  </div>
                  <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Product Image</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'productimage' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Product Tax</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'producttax' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Product Variants</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'productvariant' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Product Variant Image</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'variantimage' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  </div>
                  <div class="col-md-12">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Stock</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'stock' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Stock Location</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'stocklocation' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  </div>
            </div>
            <!-- end inventory -->
            <!-- user -->
            <div class="row">
                 <div class="col-md-12">
                 <h5>User Management</h5>
                 </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Users</label>
                      {% for permission in permissions %}
                       {% if permission.content_type.model ==  'user' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% endif %}
                        {% if permission.content_type.model ==  'usertrail' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Groups</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'group' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Customer</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'customer' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label class="display-block text-semibold">Supplier</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'supplier' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="col-md-12">
                        <h5>Drawer Cash</h5>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                      <label class="display-block text-semibold">Terminal</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'terminal' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <h5>Discount</h5>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                      <label class="display-block text-semibold">Voucher</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'voucher' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <h5>Reports</h5>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                      <label class="display-block text-semibold">Access Reports</label>
                      {% for permission in permissions%}
                       {% if permission.content_type.model ==  'reports' %}
                          <div class="checkbox">
                            <label>
                              <input class="styled check" type="checkbox" value="{{permission.id}}">
                              {{permission.name}}
                            </label>
                            <span id="granted" class="granted text-success"></span>
                          </div>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                    </div>
                    </div>

                </div>
            </div>
            <!-- end user-->
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary" id="permission-btn">Submit Permissions</button>
              </div>
            </div>
           </div>

          </div>
        </div>
      </div>
<!--       <div class="panel-footer">
      <button class="btn btn-primary disabled">checki this</button>
      </div> -->
    </div>
  </div>
</div>
{% endblock%}
{% block custom_js %}
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script> 
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript">
/* disable th permissions tab code */
$('#next-tab').click(function(){
  $('#permissions-tab').addClass('disabled').find('a').removeAttr('data-toggle').attr('href','javascript:;');
});
function disable_profile_tab(){
  $('#rofile-tab').addClass('disabled').find('a').removeAttr('data-toggle').attr('href','javascript:;');
}
/* code to move to next tab */
function next_tab(){
  $('#profile').removeClass('active');
  $('#profile-tab').removeClass('active');
  $('#permissions').addClass('active');
  $('#permissions-tab').addClass('active');
}
/* if not login permission */
$("#can-login").click(function () {
  var checked = $(this).is(':checked');
  if(checked){
      $(this).prop("checked", true);
      $(this).parent().parent().parent().siblings('span').show();
      $(this).parent().parent().parent().siblings('span').text('(granted)');
      $('.check').each(function(){         
          $(this).parent().parent().removeClass('disabled');
          $(this).parent().parent().parent().parent().removeClass('disabled');
          $(this).removeAttr('disabled');
      });
  }else{
      $(this).prop("checked", false);
      $(this).parent('span').removeClass('checked');
      $(this).parent().parent().parent().siblings('span').hide();
      $('.check').each(function(){
          $(this).parent().parent().addClass('disabled');
          $(this).parent().parent().parent().parent().addClass('disabled');
          $(this).attr('disabled', 'disabled');
      });
  }
});
/* end login */
/* check all */
$("#checkAll").click(function () {
  var checked = $(this).is(':checked');
  if(checked){
      $('.check').each(function(){
          $(this).prop("checked", true);
          $(this).parent().parent().parent().siblings('span').show();
          $(this).parent().parent().parent().siblings('span').text('(granted)');
          $(this).parent().addClass('checked');
      });
  }else{
      $('.check').each(function(){
          $(this).prop("checked", false);
          $(this).parent().parent().parent().siblings('span').hide();
          $(this).parent().removeClass('checked');
      });
  }
});
/* endcheck all */
/* on each check */
$( ".check" ).on( "click", function(){
  var checked = $(this).is(':checked');
  if(checked){
    $(this).prop("checked", true);
    $(this).parent().parent().parent().siblings('span').show();
    $(this).parent().parent().parent().siblings('span').text('(granted)');      
  }else{
    $(this).prop("checked", false);
    $(this).parent('span').removeClass('checked');
    $(this).parent().parent().parent().siblings('span').hide();
  }
} );
/* end each check*/
  $('#user-details').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
        name: {
          required:true,
          minlength:3
        },
        email:{
          required: true,
          email:true
        },
        password:{
          required:true,
          minlength: 6
        },
        confirm_password:{
          required:true,
          minlength:6,
          equalTo: "#password"
        },
        nid:{
          required:true,
          digits: true,
          minlength: 6
        },
        mobile:{
          required:true,
          digits: true,
          minlength: 6
        }

    },
    messages:{
      name:{
        required: "please provide a name",
        minlength: "name must be atleast 3 characters long"
      },
      password:{
        required: "please provide a password",
        minlength: "password must be atleast 6 characters long"
      },
      confirm_password:{
        required: "please provide a password",
        minlength: "password must be atleast 6 characters long",
        equalTo: "please enter the same password"
      }
    },
    submitHandler: function() { 
      var file = $('#image')[0].files[0];
      var raw_groups = $("#multiple :selected").map(function(){
               return $(this).val();
            }).get();

      if(file != ''){
          var f = document.getElementById('user-details');
          var formData = new FormData(f);
          formData.append("image", file);
          for (var i = 0; i < raw_groups.length; i++) {
              formData.append('groups[]', raw_groups[i]);
          }
          // formData.append('groups[]', raw_groups);
          for (var pair of formData.entries()) {
              console.log(pair[0]+ ', ' + pair[1]); 
          }
          if (formData) {
                $.ajax({
                    url: "{% url 'dashboard:user_process' %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success:function(data){
                       console.log(data);
                       $("#name").val('');
                       $("#email").val('');
                       $("#password").val('');
                       $("#confirm_password").val('');
                       $("#nid").val('');
                       $("#mobile").val('');              

                       $.jGrowl('Staff added successfully, now add permissioins', {
                          header: 'Well done!',
                          theme: 'bg-success'
                       });
                       // window.location = "{% url 'dashboard:users' %}";
                      next_tab();
                      disable_profile_tab()
                      localStorage.setItem('user_id', data);
                      $('.user_id').val(localStorage.getItem("user_id"));
                    },
                    error:function(error){
                      console.log(error);
                      $.jGrowl('Change a few things up and try submitting again', {
                          header: 'Oh snap!',
                          theme: 'bg-danger'
                      });
                    }
                });
            } 
      }else{
        $.jGrowl('Image is empty fill and try submitting again', {
            header: 'Oh snap!',
            theme: 'bg-danger'
        });
      }
    }
  });

  /* permission button */
$("#permission-btn").click(function(event){
    event.preventDefault();
    var checkBoxesStringArray = $(".check:checked").map(function(){
      return $(this).val();
    }).get();
    var checkBoxesStringNumber = checkBoxesStringArray.map(Number);
    /* check can login status */
    if($("#can-login").is(':checked')){
      $("#can-login").val('active')
    }else{
      $("#can-login").val('inactive');
    }
    var can_login_value = $("#can-login").val();

    $.ajax({
      url: "{% url 'dashboard:user_assign_permission' %}",
      type: 'POST',
      data: {
             'checklist[]': checkBoxesStringNumber,
             'user_id': localStorage.getItem('user_id'),
             'check_login':can_login_value,
             'csrfmiddlewaretoken':"{% csrf_token %}"
      },
      success: function(data){
         $.jGrowl('permissions added successfully', {
              header: 'Well done!',
              theme: 'bg-success'
         });
         window.location = "{% url 'dashboard:users' %}";
         localStorage.removeItem('user_id');
      }
      ,error:function(){}
     });

});
</script>
{% endblock %}