
{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  users
{% endblock %}
 {% block breadcrumbs %}
     <li><a href="{% url 'dashboard:users' %}">Users</a></li>
     <li class="active"><a href="{% url 'dashboard:user_trail'">User Trail</a></li>
 {% endblock %}


{% block menu_trail_class %}active{% endblock %}
 {% block custom_css %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
   </style>
 {% endblock %}

{% block content %}
 <div class="row animated fadeIn">
    <div class="col-md-12">
      <div class="panel panel-flat">
        <div class="panel-heading">      
          <div class="heading-elements">
            <ul class="icons-list">              
              <li><a data-action="collapse"></a></li>       
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
             <label>Search Details</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_user" placeholder="Search details" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <label>display list size</label>
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">
              <label>Select Action</label>
              <div class="form-group">
                  <select class="bootstrap-select action-sz" style="display: none;" placeholder="select a group..." data-width="100%" tabindex="-98">
                       <option value="view">view </option>
                       <option value="add">Add </option>
                       <option value="update">Update </option>
                       <option value="delete">Delete </option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">
              <label>pick a date</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control daterange-single" type="text">
                  <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                </div>
              </div>
            </div>
        </div>
      </div>
   </div>

  <div class="col-md-12">
    <div id="pagination-div">
      <div class="panel panel-flat">
        <div class="table-responsive">     
        	<table class="table table-bordered datatable-header-footer" style="border-bottom:1px solid #ddd;">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>action</th>
                  </tr>
                </thead>
                <tbody id="tb">           
               {% if users %}
                  {% for user in users %}
                  <tr>
                    <td class="td">#{{ forloop.counter }}</td>

                    <td class="td">{{user.name}}</td>

                    <td class="td"> 
                    {{user.action}} on {{user.now}}</td>

                  </tr>
                  {% endfor %}
                {% else %}
                   <tr><td colspan="6"><h2 class="text-center">no users trail available</h2></td></tr>
               {% endif %}
                  </tbody>

           </table>
        </div>
        <div class="my-paginate">
            <div class="text-center bootpag-callback" style="padding:20px;">
              <ul class="pagination bootpag pagination-flat pagination-sm"></ul>
              <div class="pull-right pages-nav">Page 1 of {{pn}}</div>
            </div>
            <input type="hidden" id="page_size" val="">
        </div>
      </div>
    </div>
 
  </div>
</div>

<!-- Blue modal -->
 <div id="modal_instance" class="modal fade">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <div class="modal-body">
         <div class="">
         <form action="" class="delete_form" method="post" id="delform" novalidate>
         {% csrf_token %}
         <div class="">
           <h5 class="text-center">
             Confirm user delete!
           </h5>
           <input type="hidden" class="item-id" />
           </div>
           
         </div>
       </div>
       
       <div class="modal-footer">
         <button type="submit" id='modal_delete' class="btn pull-right bg-danger del" onclick="return false" data-id="" data-href="">Delete</button>
         </form>          
         <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>          
       </div>
     </div>
   </div>
 </div>
 <!-- /blue modal -->
{% endblock%}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script> 
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.daterange-single').daterangepicker({ 
        singleDatePicker: true,
        locale:{format: 'YYYY-MM-DD'},
        showDropdowns:true
    }).on('change',function(){
      var date = $(this).val();
        $.ajax({ url: "{% url 'dashboard:usertrail_paginate' %}",type: 'GET',data: {page:1, date:date }, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});
    });

    var pagination_totalsize;
    //**@ get
    $.ajax({ url: "{% url 'dashboard:user_trail' %}",type: 'GET',data: {initial:'initial'},
        async:false,success: function(data){
         pagination_totalsize = data;
    }});
    //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        $.ajax({ url: "{% url 'dashboard:usertrail_paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});
     });

    $('.bootpag-callback').bootpag({
        total: parseInt(pagination_totalsize),
        maxVisible: 3,
        leaps: false
        }).on("page", function(event, num){
            $(".pages-nav").html("Page " + num +" of "+pagination_totalsize); // or some ajax content loading...
            $.get("{% url 'dashboard:usertrail_paginate' %}",{page:num},function(data){
               $('#tb').html(data);
            });
    }).children('.pagination').addClass('pagination-flat pagination-sm')

    //**@ group name select
    $('.action-sz').selectpicker().on('change', function(){
       var action = $(this).val();
        $.get("{% url 'dashboard:usertrail_paginate' %}",{page:1,action:action},function(data){
             $('#pagination-div').html(data);
        });
        // console.log(action);
    });

      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('.search_user').keyup(function() {
        var search_text = $(this).val();
        delay(function(){ 
           var url = "{% url 'dashboard:usertrail_search' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text},success: function(data){
                  $('#pagination-div').html(data);
           }});
        }, 500 );

      });

  });

</script>
{% endblock %}