{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load product_first_image from product_images %}
{% block title %}
 Re-order - {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
 
    <li class="active">
      Re-order Products
    </li>

{% endblock %}
{% block header_extra %}
<li style=''>
	<!-- <a class="" href=""><i class="icon-plus"></i>
	 Purchase item
	</a> -->
</li>
{% endblock %}
{% block menu_reorder_class %}active{% endblock %}
{% block content %}
<!-- Search field -->
<div class="panel panel-default">
{% if low_stock %}
<div class="data-table-container">
  <table class="table bordered highlight responsive data-table">
    <thead>
      <tr>
        <th>
          {% trans "Product name" context "Low stock product list" %}
        </th>
        <th class="right-align">
          {% trans "Stock left" context "Low stock product list" %}
        </th>
        <th> Low stock Threshold</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in low_stock %}
        <tr data-action-go="{% url "dashboard:product-update" pk=product.pk %}#stock">
          <td>
            {{ product }}
          </td>
          <td class="right-align">
            {{ product.total_stock }}
          </td>
          <td class="right-align">
            {{ product.low_stock_threshold }}
          </td>
          <td>
              <a href="{% url 'dashboard:re_order_form' pk=product.pk %}">
              <span class="label label-success">
                  Order
              </span>
              </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="card-content card-content--no-data not-found">
  <p class="grey-text">
    {% trans "No products are low in stock." context "Empty low stock table message" %}
  </p>
</div>
{% endif %}
    
</div>
<div id="stock_content"></div>
<div class="text-center">
		
</div>

<!-- /search field -->
{% endblock %}
