{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load product_first_image from product_images %}
{% block title %}
 Re-order - {{ block.super }}
{% endblock %}
{% block breadcrumbs %}

<li class="active"><a href="{% url 'dashboard:re_order' %}">Re-order Products</a></li>

{% endblock %}
 {% block custom_css %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     tr.nb td{border:0px;}
     .nb{border:0px;}
     .table{border:1px solid #ccc}
     .edit-dropdown{
         min-width:150px;
         padding-top:0px;
         padding-bottom:0px;
     }
   </style>
 {% endblock %}
{% block menu_reorder_class %}active{% endblock %}
{% block content %}
<div class="row animated fadeIn">

    <div class="col-md-12">
      <div class="panel panel-flat">

        <div class="panel-body search-panel">
            <div class="col-md-4">
             <label>Search Stock</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_user" placeholder="Search Stock" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2 hidden">
              <label>display list size</label>
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2 hidden">
             <label>Export</label>
              <div class="form-group">
                 <select class="bootstrap-select export-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="none" data-icon="fa fa-dot-circle-o">Option</option>
                    <option value="pdf" data-icon="fa-file-pdf-o">export pdf</option>
                    <option value="excel" data-icon="fa-file-excel-o">export excel</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
      </div>
   </div>

    <div class="col-md-12">
     <div id="pagination-div">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="data-table-container">
                  <table class="table bordered highlight responsive data-table">
                    <thead>
                      <tr class="bg-primary">
                        <th>
                          {% trans "Product name" context "Low stock product list" %}
                        </th>
                        <th class="right-align">
                          {% trans "Stock left" context "Low stock product list" %}
                        </th>
                        <th> Low stock Threshold</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody id="tb">
                    {% if low_stock %}
                      {% for product in low_stock %}
                        <tr data-action-go="{% url 'dashboard:product-update' pk=product.pk %}#stock">
                          <td>
                            {{ product.variant.display_product }}
                          </td>
                          <td class="right-align">
                            {{ product.quantity }}
                          </td>
                          <td class="right-align">
                            {{ product.low_stock_threshold }}
                          </td>
                          <td class="action-data">
                              <!-- Single button -->
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu edit-dropdown">
                                <li>
                                    <a href="javascript:;" data-href="{% url 'dashboard:compose_message' %}"
                                    data-ppk="{{product.pk}}" class="sendSms">
                                        <i class="icon-comments" data-popup="tooltip" title='Edit product' data-placement="bottom" data-original-title="Edit me">
                                        </i> Sms
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-href="{% url 'dashboard:write' %}"
                                class="modal-trigger-ajax sendMail" data-ppk="{{product.pk}}" >
                                        <i class="icon-mail5 position-left" data-popup="tooltip" title='Edit product' data-placement="bottom" data-original-title="Delete me">
                                        </i> Email
                                    </a>
                                </li>
                              </ul>
                            </div>

                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                       <tr><td colspan="4"><h2 class="text-center">{% trans "No products are low in stock." context "Empty low stock table message" %}</h2></td></tr>
                   {% endif %}
                    </tbody>
                  </table>
                </div>
            </div>
            {% if low_stock %}
            <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav">Page 1 </div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
            {% endif %}

        </div>
    </div>
   </div>
</div>

<div id="stock_content"></div>
<div class="text-center">
		
</div>

<!-- /search field -->
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        $.ajax({ url: "{% url 'dashboard:reorder_pagination' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});
    });

    var sendSms = $('.sendSms');
    var sendMail = $('.sendMail');

    sendMail.on('click',function(){
    var productPk= $(this).data('ppk');
    var mailUrl  = $(this).data('href');
    window.location.href = mailUrl+'?pk='+productPk;
    });
    sendSms.on('click',function(){
    var productPk= $(this).data('ppk');
    var smsUrl  = $(this).data('href');
    window.location.href = smsUrl+'?pk='+productPk;
    });

    $('.bootpag-callback').bootpag({
            total: parseInt({{totalp}}),
            maxVisible: 4,
            firstLastUse: true,
            first: 'First',
            last: 'Last',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',

            }).on("page", function(event, num){
                $(".pages-nav").html("Page " + num +" of "+parseInt({{totalp}})); // or some ajax content loading...
                $.get("{% url 'dashboard:reorder_pagination' %}",{page:num},function(data){
                   $('#tb').html(data);
                });
        }).children('.pagination').addClass('pagination-flat pagination-sm')


      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('.search_user').keyup(function() {
        var search_text = $(this).val();
        delay(function(){
           var url = "{% url 'dashboard:reorder_search' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text},success: function(data){
                  $('#pagination-div').html(data);
           }});
        }, 500 );

      });


});

</script>
{% endblock %}
