{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load default_user_image %}
      <!-- Header and footer fixed -->
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsives">

          <table class="table  table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;"> 
                <thead>
                  <tr class="bg-primary">
                    <th>Supplier</th>
                    <th>Status</th>
                    <th>Last Credit Sale</th>
                    <th>Total Cost</th>
                    <th>Amount Paid</th>
                  </tr>
                </thead>
                <tbody id="p-tb">           
                    {% if users %}
                          {% for user in users%}
                          <tr class='clickable-row' id="{{user.supplier.pk }}">

                            <!-- name -->
                            <td class="td" data-href="{% url 'dashboard:supplier_credit_history' credit_pk=user.pk %}">{% if user.supplier.name %}{{user.supplier.name}}{% else %}-{% endif %}
                                <div class="text-size-small text-muted">
                                  <i class="icon-mobile3"></i>{% if user.supplier.mobile %}{{user.supplier.mobile}}{% else %}-{% endif %}
                                </div>
                            </td>
                            <td>
                              {% if sale.is_fully_paid %}
                                <span class="text-success  icon-checkmark-circle"><i></i></span>
                                {% else %}
                                <span class="badge badge-flat border-warning text-warning-600">Pending..</span>
                                {% endif %}
                            </td>
                            <!-- created -->
                            <td class="td" data-href="{% url 'dashboard:supplier_credit_history' credit_pk=user.pk %}">

                             {% if user.created %}
                        {{user.created|timesince}} ago
                         {% endif %}
                            </td>
                            <!-- amount -->
                            <td>
                              {{user.total_cost.gross}}
                            </td>
                              <td>
                              {{user.amount_paid.gross}}
                            </td>

                          </tr>
                          {% endfor %}
                         {% else %}
                          <tr><td colspan="5"><h2 class="text-center">No suppliers available</h2></td></tr>
                         {% endif %}
                  </tbody>
           </table>

        </div>
        </div>
         <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
      </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
 <script type="text/javascript">
  var paginateUrl = "{% url 'dashboard:supplier-credit-paginate' %}";
  var searchUrl = "{% url 'dashboard:supplier-credit-search' %}";
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            firstLastUse: true,
            first: 'First',
            last: 'Last',       
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 
                var gid = '{{gid}}';
                if(gid == 0){
                    $.get(paginateUrl,{page:num, psize:'{{sz}}'},function(data){
                      $('#p-tb').html(data);
                    });
                }else{
                    $.get(paginateUrl,{page:num, psize:'{{sz}}',gid:'{{gid}}'},function(data){
                   $('#p-tb').html(data);
                });
                }

        }).children('.pagination').addClass('pagination-flat pagination-sm')
        $(".td").click(function() {
             window.location = $(this).data("href");
        });
   });
   //**@ display size select
        $('.list-sz').selectpicker().on('change', function(){
            var ts = $(this).val();
            $.ajax({ url: paginateUrl,type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        });
        
   {% if sz %}
   $.when( $.ready ).then(function() {     
         $('.bootstrap-select').selectpicker();
         $('.list-sz').selectpicker('val', ["{{sz}}"]);              
      });
  {% endif %}
 </script>
<script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>