{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% if attribute.pk %}
    {{ attribute }}
  {% else %}
    {% trans "Add new attribute" context "Attribute detail page title" %}
  {% endif %}
  - {% trans "Attributes" context "Dashboard attributes list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-attributes{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:product-attributes" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
  {% if attribute.pk %}
   <li>    
     <a href="#modal_instance" data-title='Remove attribute {{ attribute.name }} Product type' data-href="{% url 'dashboard:product-attribute-delete' pk=attribute.pk %}" class="modal-trigger"><i class="icon-trash position-left"></i> 
       {% trans "Remove attribute" context "Attribute detail action" %}
      </a>          
   </li>    
   
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  
    <li>
      <a href="{% url 'dashboard:product-attributes' %}" class="breadcrumbs--ellipsed-item">
      {% trans "Attributes" context "Dashboard attributes list" %}
      </a>
    </li>
    
    <li class="active">
     
        {% if attribute.pk %}
          {{ attribute }}
        {% else %}
          {% trans "Add new attribute" context "Attribute detail breadcrumbs" %}
        {% endif %}
  
    </li>
  
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Product attribute</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="reload"></a></li>
          <li><a data-action="close"></a></li>
        </ul>
      </div>
    </div> 
    <div class="panel-body">
    <div class="row">
    <form method="post" enctype="multipart/form-data" id="form-attributes" novalidate>       
      {% csrf_token %}
           
         <div class="col-md-6">
            <div class="form-group">
             {{ form.name|materializecss }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
             {{ form.slug|materializecss }}
            </div>
          </div>
          <!-- attribute table -->
          <div class="col-md-12">
            <h5 class="panel-heading">
              {% trans "Attribute values" context "Attribute values formset title" %}
            </h5>   
            {{ formset.management_form }}
            {{ formset.non_form_errors.as_ul }}                   
         </div>
         
         <div class="col-md-12 ">
           <table id="formset"  class="table table-bordered datatable-header-footer">
              {% for form in formset.forms %}
                {% if forloop.first %}
                  <thead>
                    <tr class="bg-primary">
                      {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tfoot>
                    <tr class="bg-primary">
                      {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                    </tr>
                  </tfoot>
                {% endif %}
                <tr>
                  {% for field in form.visible_fields %}
                    <td{% if forloop.last %} class="center-align"{% endif %}>
                      {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                      {% endif %}
                      {{ field|materializecss }}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
         </div>
      <!-- action buttons -->
         <div class="text-right col-md-12">
         {% if attribute.pk %}
              <a href="{% url 'dashboard:product-attributes' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary btn-primary waves-effect waves-light">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:product-attributes' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
     </div>
      </form>
    </div>
   
    </div>

   </div>
  
    <div class="col m12 l3 help-box"></div>
  </div>
{% endblock %}

<!-- add custom javascripts -->
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
<script type="text/javascript">

  $("#id_name").on("change keyup paste keydown", function(event) {
    
       var slug = $(this).val(); 
       slug = slug.split(' ').join('_')            
       $('#id_slug').attr('value',slug);
       var slug = $(this).val();   
  });
  
</script>
{% endblock %}