<div class="modal-body">
<div class="col-md-12">
	<div class="form-group">
	   <div class="col-md-4">
	    <label class="text-bold">Attribute Name:</label>
	   </div>
	   <div class="col-md-6">
		<input type="text" id="attribute_name32b" class="form-control" name="attribute_name">
	   </div>
	   <div class="col-md-2">
	    <button class="btn btn-primary btn-xs" id='attr-name'>Add</button>
	   </div>

	</div><br/>
	<div class="form-group">
	   <div id='add_value'></div>
		<div class="form-group hidden" id='value-input'>
		  	<label class="text-bold">Value</label>
			<input type="text" id='value32b' class="form-control" name="value">
		 	<span class="help-block">Attribute value e.g Sony for Brand Attribute
		 	</span>
		</div>
		<div class="form-group">
		 <button class="btn btn-xs btn-primary hidden" id="newvalue">Add Value</button>
		</div>
	</div>
</div>
</div>
<div class="modal-footer p-15">
     <button type="button" id='refresh_content' class="btn btn-link" data-dismiss="modal">Close</button>
     
</div>
<script type="text/javascript">
  var attrNameBtn = $('#attr-name');
  var newValueBtn = $('#newvalue');
  var Aurl = "{% url 'dashboard:product-attr-add' %}";
  function alertUser(msg,status='bg-success',header='Well done!')
  {
	    $.jGrowl(msg, 
	    {header: header,theme: status});
  }	
    // ajax
	function addAttribute(myUrl,attName) 
	{
	   var dynamicData = {};
	   dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
	   dynamicData['name'] = attName;
	   return $.ajax({
	      url: myUrl,
	      type: "post",
	      data: dynamicData
	    });
	}

	// ajax
	function addNValue(myUrl,attName) 
	{
	   var dynamicData = {};
	   dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
	   dynamicData['value'] = attName;
	   return $.ajax({
	      url: myUrl,
	      type: "post",
	      data: dynamicData
	    });
	}

  newValueBtn.on('click',function(){
    var value = $('#value32b').val();
    //alert(Aurl);
    if(!value){ 
	  	alertUser('Attribute Value required!','bg-danger','Error');
	  	return false;	  	
     }
     addNValue(Aurl,value).done(function(data){
	     alertUser('Attribute added successful');
	     $('#add_value').empty().html(data);
	     $('#value32b').val('');
	  });
  });

  attrNameBtn.on('click',function(){  
    var atname = $('#attribute_name32b').val();
    if(!atname){ 
	  	alertUser('Attribute Name required!','bg-danger','Error');
	  	return false;
     }
    addAttribute(Aurl,atname).done(function(data){
	   alertUser('Attribute added successful');
	   Aurl = "{% url 'dashboard:product-attr-add' %}"+data+'/';
	   $('#attribute_name32b').attr('disabled','disabled');
	   attrNameBtn.remove();
	   $('#value-input').removeClass('hidden');
	   $('#newvalue').removeClass('hidden');	   
	});
});

</script>