{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% trans "Attributes" context "Dashboard attributes list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-attributes{% endblock %}

{% block menu_attributes_class %}active{% endblock %}

{% block header_extra %}
    <!-- search field -->
    
    <!-- end search -->
  <li>&nbsp;&nbsp;&nbsp;</li>
 <li>              
    <a href="{% url 'dashboard:product-attribute-add' %}"><i class="icon-plus3 position-left"></i> Add attribute</a></li>
  
{% endblock %}

{% block breadcrumbs %}
  
    <li class="active">
      {% trans "Attributes" context "Dashboard attributes list" %}
    </li>

{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  {% if attributes %}
  <div class="row">
      <!-- search -->
      <div class="col-md-12">
      <div class="panel panel-flat">
        <div class="panel-heading">      
          <div class="heading-elements">
            <ul class="icons-list">              
              <li><a data-action="collapse"></a></li>       
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
    {% url "dashboard:search-attribute" as url %}
            
    {% include "dashboard/includes/_search_filter.html" with url=url  %}
            </div>
            <!--  -->
            <div class="col-md-3">             
              <div class="form-group">
                {% if perms.userprofile.add_user %}
                   <a href="{% url 'dashboard:product-attribute-add' %}" class="btn-block btn-primary btn-lg">Add attributes</a>
                {% endif %}
              </div>
            </div> 
        </div>
      </div>
   </div>
  <!-- end search -->
  </div>
  <div class="panel">
  <table class="table table-striped table-hover fixed_headers">          
  <!-- Header and footer fixed -->
    <thead>         
      <tr class="bg-primary">   
        <th>#</th>   
        <th>Name</th>    
        <th>Value</th>                 
        <th class="text-center"></th>    
      </tr>   
    </thead>                     
    <tbody id='content-search'>
    {% for pk, name, values in attributes %}
      <tr>
        <td>{{ pk }}</td>
        <!-- names -->
        <td>{{ name }}</td>
        <!-- values -->
        <td>
          {% for value in values %}
              {{ value }}
              {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <!-- action -->
        <td>
          <a href="{% url 'dashboard:product-attribute-update' pk=pk %}" class="btn bg-blue">
          <i class="icon-pencil"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    

  {% else %}
    <div class="not-found">
      <p class="grey-text">
        {% trans "No attributes found." context "Empty attribute list message" %}
      </p>
    </div>
  {% endif %}
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function() {
    var maxHeight = 0;
    $(".equalize").each(function() {
        if ($(this).height() > maxHeight) {
            maxHeight = $(this).height();
        }
    });
    $(".equalize").height(maxHeight);
});

</script>
{% endblock %}
