
{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  Groups
{% endblock %}
{% block breadcrumbs %}
     <li><a href="{% url 'dashboard:users' %}">Users</a></li>
     <li class="active"><a href="{% url 'dashboard:groups' %}">Groups</a></li>
 {% endblock %}

{% block menu_perm_class %}active{% endblock %}
 {% block custom_css %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
   </style>
 {% endblock %}

{% block content %}
 <div class="row animated fadeIn">
     <div class="col-md-12">
      <div class="panel panel-flat">
        <div class="panel-heading">      
          <div class="heading-elements">
            <ul class="icons-list">              
              <li><a data-action="collapse"></a></li>       
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
             <label>Search Groups</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_group placeholder="Search Groups" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <label>display list size</label>
              <div class="form-group">
                 <select class="bootstrap-select list-sz" data-width="100%" tabindex="-98" style="display: none;">
                    <option >5</option>
                    <option >10</option>
                    <option >20</option>
                  </select>
              </div>
            </div>
            <div class="col-md-2">
              <label style="visibility: hidden;"> add</label>
              <div class="form-group">
                {% if perms.group.add_group %}
                   <a href="{% url 'dashboard:perms' %}" class="btn btn-primary waves-effect waves-light">Add Group</a>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
   </div> 
  <div class="col-md-12">

    <div id="pagination-div">
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsive">
         
          <table class="table table-bordered datatable-header-footer" style="border-bottom:1px solid #ddd;">
                <thead>
                 <tr>
                    <th>Id</th>
                    <th>Group Name</th>
                    {% if perms.auth.change_group or perms.auth.delete_group %}
                    <th class="text-center">Actions</th>
                    {% endif %}
                  </tr>
                </thead>
 
                <tbody id="tb">           
               {% if groups %}
                  {% for group in groups %}
                  <tr class='clickable-row' id="{{group.id }}">
                    <td class="td" data-href="{% url 'dashboard:group-detail' pk=group.pk %}">#{{ forloop.counter }}</td>
                     <!-- group name -->
                    <td class="td" data-href="{% url 'dashboard:group-detail' pk=group.pk %}">{{group.name}}</td>
                    <!-- actions -->
                    {% if perms.auth.change_group or perms.auth.delete_group %}
                    <td class="text-center">
                      <ul class="icons-list">
                        {% if perms.auth.change_group %}
                        <li>
                          <a data-ta="#modal_edit" data-title="Update group {{ group.name }}" data-href="{% url 'dashboard:group_manage' %}" data-name="{{ group.name }}" data-id="{{ group.pk }}" data-users="{% url 'dashboard:get_group_users' %}"
                         class="modal_trigger_edit btn btn-default btn-sm edit-btn"><i class="icon-pencil7" href="#modal_edit" data-toggle="modal" style="font-size: 11px;"></i> edit</a>
                        </li>
                        {% endif %}
                        {% if perms.auth.delete_group %}
                        <li>
                          <a data-ta="#modal_instance" data-title="Delete group {{ group.name }} ?" data-href="{% url 'dashboard:group-delete' pk=group.id %}" data-name="{{ group.name }}" data-id="{{ group.pk }}"
                         class="modal_trigger_delete btn btn-default btn-sm del-btn"><i class="icon-trash" style="font-size: 11px;" href="#modal_instance" data-toggle="modal"></i> delete
                         </a>
                        </li>
                        {% endif %}
                      </ul>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                {% else %}
                   <tr><td colspan="6"><h2 class="text-center">no groups available</h2></td></tr>
               {% endif %}
                  </tbody>

           </table>
         </div>
        </div>
        <div class="my-paginate">
            <div class="text-center bootpag-callback" style="padding:20px;">
              <ul class="pagination bootpag pagination-flat pagination-sm"></ul>
              <div class="pull-right pages-nav">Page 1</div>
            </div>
            <div id="bootpag-callback2" class="text-center bootpag-callback2" style="padding:20px;display: none;">
              <ul class="pagination2 bootpag pagination-flat pagination-sm"></ul>
              <div class="pull-right pages-nav2">Page 1</div>
            </div>
          </div>
      </div>
      </div><!-- pagination-div-->
 
  </div>
</div>


<!-- edit modal -->
 <div id="modal_edit" class="modal fade">
   <div class="modal-dialog modal-lg" style="width: 1200px;">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <div class="modal-body">
       <div class="row">
         <div class="col-md-6">
           <div class="row">
           <div class="col-md-12">
             <h5>Group & Users</h5>
             <input type="hidden" name="group-id" id="group-id">
           </div>
            <div class="col-md-12">
             <div class="form-group">
              <label>Group Name:</label>
              <input type="text" name="g_name" class="form-control" id="g_name">
             </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-9">
              <div class="form-group">
               <label>Add Users:</label>
                <div class="multi-select-full">
                  <select class="multiselect-full-featured" multiple="multiple" style="display: nones;" name="user_select" id="edit_multiple" placeholder="select a user...">
                  {% for usr in users %}
                    {% if usr.is_active == True and usr.is_superuser == False %}
                       <option value="{{usr.id}}" data-name="{% if usr.name %}{{usr.name}}
                       {% else %}{{usr.email}}{% endif %}" data-image="{% if usr.image %}{{usr.image.url}}
                       {% else %}/static/images/user.png{% endif %}">
                         {% if usr.name %}
                            {{usr.name}}
                         {% else %}
                            {{usr.email}}
                         {% endif %}
                       </option>
                    {% endif %}
                  {% endfor %}
                  </select>
                </div>
               </div><!-- end of formgroup-->
            </div>
            <div class="col-md-3">
             <div class="form-group">
               <label><span style="visibility: hidden;">X</span></label>
               <button class="btn btn-primary form-control" id="add_user_btn">Add User</button>
            </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-12">
             <div class="table-responsive pre-scrollable group-users">
             <table class="table table-framed" id="group_user_table">
                <thead>
                  <tr>
                    <th>image</th>
                    <th>Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="table_body">

                </tbody>
              </table>
              </div>
            </div>
           </div>
         </div>

         <div class="col-md-6">
           <div class="row">
              <div class="col-md-12">
               <h5>Permissions</h5>
              </div>
               <div class="col-md-12">
                <div class="permissions_display row" style="overflow-y: scroll;height:429px;">
                </div>
              </div>
           </div>
         </div>
        </div>
       </div>    
       <div class="modal-footer">
         <button type="submit" id='modal_delete' class="btn pull-right bg-danger update" onclick="submitGroupDetails()" data-id="" data-href="">Update</button>         
         <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>          
       </div>
     </div>
   </div>
 </div>
 <!-- /edit modal -->

<!-- delete modal -->
 <div id="modal_instance" class="modal fade">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <div class="modal-body">
         <div class="">
         <form action="" class="delete_form" method="post" id="delform" novalidate>
         {% csrf_token %}
         <div class="">
           <h5 class="text-center">
             Confirm group delete!
           </h5>
           <input type="hidden" class="item-id" />
           </div>
           
         </div>
       </div>
       
       <div class="modal-footer">
         <button type="submit" id='modal_delete' class="btn pull-right bg-danger del" onclick="return false" data-id="" data-href="">Delete</button>
         </form>          
         <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>          
       </div>
     </div>
   </div>
 </div>
 <!-- /delete modal -->
{% endblock%}
{% block custom_js %}
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script> 
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
function remove_duplicates(objectsArray) {
    var usedObjects = {};
    for (var i=objectsArray.length - 1;i>=0;i--) {
        var so = JSON.stringify(objectsArray[i]);
        if (usedObjects[so]) {
            objectsArray.splice(i, 1);
        } else {
            usedObjects[so] = true;          
        }
    }
    return objectsArray;
}
//**@ remove duplicate names
function remove_duplicate_name(list) {
  var result = [];
  $.each(list, function(i, e) {
    if ($.inArray(e, result) == -1) result.push(e);
  });
  return result;
}
//**@ global users array
 var names = [];
//**@ group users on load
$('document').ready(function () {

      $('.results').on("click", ".pagination a", function(e){
         e.preventDefault();
         $(".loading").show();
         var page = $(this).attr("data-page");
         $(".results").load(url, {page:page}, function(){
            $(".loading").hide();
         });
    });


    //**@ edit modal
    $('.modal_trigger_edit').on('click', function (e) {
         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var username = $(this).data('name');
         var modal = $(this).data('ta');
         var id = $(this).data('id');
         $('#group-id').val(id);
         var user_url = $(this).data('users');
         $('#g_name').val(username);
         $('.del').attr('data-id', id);
         $('.del').attr('data-href', url);
         $('.modal-title').html(prompt_text);
         $(modal).modal();
         $('.delete_form').attr('action',url);
         var token = '{{ csrf_token }}';
         
          //*@ get group permissions
          $.post(url,{id:id, csrfmiddlewaretoken:"{{ csrf_token }}"}, function(data){
            $('.permissions_display').html(data);
          });

          //*@ get group users
          $.ajax({
            type:"POST",
            url:user_url,
            data:{id:id, csrfmiddlewaretoken:"{{ csrf_token }}"},
            async:false,
            success:function(data){
              names = data;
              console.log(names);
            },error:function(error){
              console.log(error);
            }
          });
        //*@ populate table
        var table_body = $('#group_user_table tbody');
        var parent = table_body.parent();
        
        table_body.detach().empty().each(function(i, val){
            for (var x = 0; x < remove_duplicates(names).length; x++){
                $(this).append('<tr id="'+ remove_duplicates(names)[x].id +'"><td><img src="'+ remove_duplicates(names)[x].image +'" class="circle teal img-circle" style="width: 40px;height: 40px;">'+ '</td><td>'+ remove_duplicates(names)[x].name + '</td><td><a href="javascript:;" onClick="removeuser('+ remove_duplicates(names)[x].id +')" class="modal-trigger btn btn-default btn-sm del_array_item"><i class="icon-trash" style="font-size: 11px;" data-toggle="modal"></i> remove</a></td></tr');
                if (x == remove_duplicates(names).length - 1){
                    $(this).appendTo(parent);
                }
            }
        });

    });
   // $('.bootstrap-select').selectpicker();
   //**@ pagination & filters
   var sz;
    //**@ get
    $.ajax({ url: "{% url 'dashboard:groups' %}",type: 'GET',data: {initial:'initial'},
        async:false,success: function(data){
         sz = data;
    }});
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();

       $.ajax({ url: "{% url 'dashboard:group_paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});
    });

 
    //**@ pagination
    $('.bootpag-callback').bootpag({
        total: parseInt(sz),
        maxVisible: 3,
        leaps: false
        }).on("page", function(event, num){
            $(".pages-nav").html("Page " + num +" of "+sz); // or some ajax content loading...
            $.get("{% url 'dashboard:group_paginate' %}",{page:num},function(data){
               $('#tb').html(data);
            });
    }).children('.pagination').addClass('pagination-flat pagination-sm');

    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();

    $('.search_group').keyup(function() {
    var search_text = $(this).val();
    delay(function(){ 
       var url = "{% url 'dashboard:group_search' %}";
       $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text},success: function(data){
              $('#pagination-div').html(data);
       }});
    }, 500 );
});
});

//**@ users select
$('#add_user_btn').on('click', function(e){
   var selected = $("#edit_multiple :selected").map(function() {
                      return {
                          id: parseInt($(this).val()),
                          name: $(this).data("name"),
                          image: $(this).data("image")
                      };
                  }).get();
    $.each(selected, function(i, val){
      // var index = selected.findIndex(x=>x.name==val.name);
      names.indexOf(val) === -1 ? names.push(val): console.log('already exists');
      // index === -1 ? names.push(val): console.log('already exists');
    });

    var table_body = $('#group_user_table tbody');
    var parent = table_body.parent();
    
    table_body.detach().empty().each(function(i, val){
        for (var x = 0; x < remove_duplicates(names).length; x++){
            $(this).append('<tr id="'+ remove_duplicates(names)[x].id +'"><td><img src="'+ remove_duplicates(names)[x].image +'" class="circle teal img-circle" style="width: 40px;height: 40px;">'+ '</td><td>'+ remove_duplicates(names)[x].name + '</td><td><a href="javascript:;" onClick="removeuser('+ remove_duplicates(names)[x].id +')" class="modal-trigger btn btn-default btn-sm del_array_item"><i class="icon-trash" style="font-size: 11px;" data-toggle="modal"></i> remove</a></td></tr');
            if (x == remove_duplicates(names).length - 1){
                $(this).appendTo(parent);
            }
        }
    });

});
//**@ remove user from array
function removeuser(user){
   users = remove_duplicates(names);
   var index = names.indexOf(user);
    $('#'+user).remove();
    names.splice(index,1);
    console.log(names);
}
//**@ submit group details
function submitGroupDetails(){
   var user_ids = [];
   //**@ get list of users ids
       $.each(names, function(i, val){
          user_ids.push(val.id);
       });

   //**@ get list of all checked permissions
   var checkBoxesStringArray = $(".check:checked").map(function(){
      return $(this).val();
    }).get();
   var checkBoxesStringNumber = checkBoxesStringArray.map(Number);
   console.log(checkBoxesStringNumber);
       //**@ check login status
    if($("#edit-can-login").is(':checked')){
      $("#edit-can-login").val('active')
    }else{
      $("#edit-can-login").val('inactive');
    }
    //**@ check login val
    var can_login_value = $("#edit-can-login").val();
    //**@ id
    var g_id = $('#group-id').val();
    var g_name = $('#g_name').val();
    console.log('id: '+g_id);

    //**@ post
    $.ajax({
      url: "{% url 'dashboard:group_update' %}",
      type: 'POST',
      data: {
             'checklist[]': checkBoxesStringArray,
             'users[]': user_ids,
             'id': g_id ,
             'group_name': g_name,
             'check_login':can_login_value,
             'csrfmiddlewaretoken':"{{ csrf_token }}"
      },
      async:false,
      success: function(data){
              $.jGrowl('group updated successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
              });
          window.location.reload();
          user_ids=[];
      }
      ,error:function(){
        $.jGrowl('something went wrong', {
              header: 'Oops!',
              theme: 'bg-danger'
         });
      }
    });
}
//**@ delete modal
$('.modal_trigger_delete').on('click', function (e) {
     var url = $(this).data('href')
     var prompt_text = $(this).data('title');
     var username = $(this).data('name');
     var modal = $(this).data('ta');
     var id = $(this).data('id');
     $('.del').attr('data-id', id);
     $('.del').attr('data-href', url);
     $('.modal-title').html(prompt_text);
     $(modal).modal();
     $('.delete_form').attr('action',url);
});
//**@ on modal delete
$('.del').on('click', function (e) {
    var f = document.getElementById('delform');
    var formData = new FormData(f);
    var id = $(this).data('id');
    var url = $(this).data('href');
    $.ajax({
        url: url,
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success:function(data){        
          $('#modal_instance').modal('hide');
          $('#tb #'+id).remove();            
          $.jGrowl('Group deleted successfully', {
            header: 'Well done!',
            theme: 'bg-success'
          });
          // window.location.reload();
        },
        error:function(error){
          console.log(error);
          $.jGrowl('Error deleting Group', {
              header: 'Oh snap!',
              theme: 'bg-danger'
          });
        }
    });
});
//**@ load users on select
$( ".group_select_permissions" ).change(function() {
    // alert( $(this).val() );
        var g_u_id = $(this).val();
    $.ajax({
        url: "{% url 'dashboard:group_edit' %}",
        type: "POST",
        data: {
           'id': g_u_id,
           'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data){
          $('.content_display').html(data);
        },
        error:function(error){
           $.jGrowl(error, {
            header: 'Oops!',
            theme: 'bg-danger'
          });
        }
    });
});
//**@ load group permissions on select
var $loading = $('.loader').hide();
    $(document)
          .ajaxStart(function () {
            $loading.show();
          })
          .ajaxStop(function () {
            $loading.hide();
          });

//**@ if not login permission checked
$("#can-login").click(function () {
  var checked = $(this).is(':checked');
  if(checked){
      $('.check').each(function(){
          $(this).prop("checked", true);          
          $(this).parent().parent().removeClass('disabled');
          $(this).parent().parent().parent().parent().removeClass('disabled');
          $(this).parent().addClass('checked');
          $(this).removeAttr('disabled');
      });
  }else{
      $('.check').each(function(){
          $(this).prop("checked", false);
          $(this).parent().parent().parent().siblings('span').hide();
          $(this).parent().parent().addClass('disabled');
          $(this).parent().parent().parent().parent().addClass('disabled');
          $(this).parent().removeClass('checked');
          $(this).attr('disabled', 'disabled');
      });
  }
});

//**@ check all
$("#checkAll").click(function () {
  var checked = $(this).is(':checked');
  if(checked){
      $('.check').each(function(){
          $(this).prop("checked", true);
          $(this).parent().parent().parent().siblings('span').show();
          $(this).parent().parent().parent().siblings('span').text('(granted)');
          $(this).parent().addClass('checked');
      });
  }else{
      $('.check').each(function(){
          $(this).prop("checked", false);
          $(this).parent().parent().parent().siblings('span').hide();
          $(this).parent().removeClass('checked');
      });
  }
});

//**@ status on each check
$( ".check" ).on( "click", function(){
  var checked = $(this).is(':checked');
  if(checked){
    $(this).prop("checked", true);
    $(this).parent().parent().parent().siblings('span').show();
    $(this).parent().parent().parent().siblings('span').text('(granted)');      
  }else{
    $(this).prop("checked", false);
    $(this).parent('span').removeClass('checked');
    $(this).parent().parent().parent().siblings('span').hide();
  }
});

</script>
{% endblock %}