
{% extends "dashboard/base.html" %}
{% load staticfiles i18n %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  Fill Attendance
{% endblock %}
 {% block breadcrumbs %}
     <li><a href="{% url 'dashboard:attendance' %}">Attendance</a></li>
     <li class="active"><a href="{% url 'dashboard:add_attendance' %}">Fill Attendance</a></li>
 {% endblock %}
{% block menu_hremployees_class %}active{% endblock %}
 {% block custom_css %}
 <link href="{% static 'backend/js/plugins/ui/timepicki/css/timepicki.css' %}" rel="stylesheet" type="text/css">

   <style type="text/css">
    label.error{
      color: #FF5722;
    }
  </style>
 {% endblock %}

{% block content %}
<div class="row animated fadeIn">
<div class="col-md-12">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h6 class="panel-title">Fill Attendance</h6>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
            <li><a data-action="close"></a></li>
          </ul>
        </div>
      <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

      <div class="panel-body">
          <form class="form" enctype="multipart/form-data" id="employee-details" name="employee-details">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-4">
                           <div class="form-group">
                              <label for="name">Name</label>
                               <input class="form-control" name="name" placeholder="Enter: name"/>
                           </div>
                      </div>
                      <div class="col-md-4">
                      <div class="form-group">
                        <label for="gender">Time In</label>
                        <input class="form-control time_element" name="time_in" placeholder="Enter: time_in"/>
                      </div>
                    </div>

                      <div class="col-md-4">
                      <div class="form-group">
                        <label for="gender">Time Out</label>
                        <select class="bootstrap-select gender" name="gender" data-width="100%" tabindex="-98" style="display: none;">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                      </div>
                    </div>

                      <div class="col-md-4">
                           <div class="form-group">
                              <label for="dob">Date</label>
                               <div class="input-group">
                                  <input class="form-control daterange-single dob" type="text" name="dob" placeholder="Enter: yyy-mm-dd">
                                  <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                               </div>
                           </div>
                      </div>

                      <div class="col-md-4">
                          <div class="form-group">
                                <label>Department</label>
                                <div class="input-group">
                                    <div class="btn-group bootstrap-select input-group-btn" id="departments"style="width: 100%;">
                                        <select class="bootstrap-select sel department" name="department" data-width="100%" tabindex="-98" style="display: none;">
                                              {% if departments %}
                                              {% for department in departments %}
                                                <option value="{{department.name}}">{{department}}</option>
                                              {% endfor %}
                                              {% else %}
                                              <option value="none">No departments</option>
                                              {% endif %}
                                             <option value="add" data-icon="fa-plus-circle" data-ta="#edit_modal_instance" data-title="Add New Department" data-select="#departments"
                                                    data-href="{% url 'dashboard:add_department' %}" data-cat="department" data-label="Department:"> add new department</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>

                </div>
              </div>
        <div class="row">
            <div class="col-md-12">
                 <div class="text-center" style="margin-top:40px;">
                  <a href="{% url 'dashboard:attendance' %}" class="btn btn-default waves-effect waves-light">Cancel</a>
                  <button class="btn btn-primary waves-effect waves-light" id="supplier-submit" type="submit">Create Attendance<i class="icon-arrow-right14 position-right"></i></button>
                 </div>
            </div>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- edit modal -->
 <div id="edit_modal_instance" class="modal fade">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <form action="" class="edit_form" method="post" id="editform" novalidate>
           <div class="modal-body">
            {% csrf_token %}
                 <div class="form-group">
                     <label class="cat_label"> </label>
                     <input class="form-control edit_class" name=""/>
                 </div>
                  <input type="hidden" class="eitem-url"/>
                  <input type="hidden" class="eitem-select"/>
                 <input type="hidden" name="option" value="option"/>

           </div>
           <div class="modal-footer">
               <button class="btn btn-primary waves-effect waves-light pull-right data_update"
                       id='modal_edit' type="submit">
                   Create
                   <i class="icon-arrow-right14 position-right"></i>
               </button>

             <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
           </div>
       </form>
     </div>
   </div>
 </div>
 <!-- /edit modal -->
{% endblock%}
{% block custom_js %}
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/ui/timepicki/js/timepicki.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    //** timepicker
        $(".time_element").timepicki();

    //** general select
    $('.bootstrap-select').selectpicker({
        iconBase: 'fa',
        addIcon:'fa-plus-circle'
    });

    //** role change
    //**$('.input-group').on('change', '#roleSelect', function(){

    $('.input-group').on('change', '.sel', function(){
       var v = $(this).val();

       if(v == 'add'){
             var selected = $(this).find('option:selected');

             var url = selected.data('href')
             var prompt_text = selected.data('title');
             var modal = selected.data('ta');
             var select = selected.data('select');
             var cat = selected.data('cat');
             var label = selected.data('label');
             $('.cat_label').html(label);
             $('.eitem-url').val(url);
             $('.eitem-select').val(select);
             $('.modal-title').html(prompt_text);
             $('.edit_class').attr('name', cat)
             $(modal).modal();
             $('.delete_form').attr('action',url);

             var form = $("#editform"), validator = form.validate();
             validator.resetForm();
             form.find(".error").removeClass("error");

             $("#editform input[name='" + cat + "']").rules("add", {required:true});

       }

    });
    //** general datepicker
    $('.daterange-single').daterangepicker({
        singleDatePicker: true,
        locale:{format: 'YYYY-MM-DD'},
        showDropdowns:true
    });
    //** dob
    $('.dob').on('change',function(){
        var date = $(this).val();
        /*$.ajax({ url: "{% url 'dashboard:sales_paginate' %}",type: 'GET',data: {page:1, date:date }, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});*/
    });

    //** doj
    $('.doj').on('change',function(){
      var date = $(this).val();
        /*$.ajax({ url: "{% url 'dashboard:sales_paginate' %}",type: 'GET',data: {page:1, date:date }, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});*/
    });

      //** validate form & submit
      $('#employee-details').validate({
        onkeyup: function(element) {$(element).valid()},
        rules:{
            name: { required:true, minlength:3 },
            email: { required:true, email:true },
            phone:{ required:true, digits: true,minlength: 6},
            nid:{ required:true, digits: true, minlength: 6 },
            role: {  required: true}
        },
        messages:{
          name:{
            required: "please provide a name",
            minlength: "name must be atleast 3 characters long"
          },
           role: { required: "please select a role"}
        },
        submitHandler: function() {
          var file = $('#image')[0].files[0];
          var raw_groups = $(".supplier-ms-type :selected").map(function(){
                   return $(this).val();
                }).get();
          var f = document.getElementById('employee-details');
          var formData = new FormData(f);
          for (var i = 0; i < raw_groups.length; i++) {
              formData.append('groups[]', raw_groups[i]);
          }
          if (formData) {
                $.ajax({
                    url: "{% url 'dashboard:add_employee_process' %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success:function(data){
                       $("#supplier-message").val('');

                       $.jGrowl('message sent successfully', {
                          header: 'Well done!',
                          theme: 'bg-success'
                       });
                       // window.location = "{% url 'dashboard:users' %}";
                      next_tab();
                      disable_profile_tab()
                      localStorage.setItem('user_id', data);
                      $('.user_id').val(localStorage.getItem("user_id"));
                    },
                    error:function(error){
                      console.log(error);
                      $.jGrowl('Change a few things up and try sending again', {
                          header: 'Oh snap!',
                          theme: 'bg-danger'
                      });
                    }
                });
            }
        }
      });

  //** modal functionality
  //** modal edit
  $('.edit_modal-trigger').on('click', function (e) {

         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var modal = $(this).data('ta');
         var select = $(this).data('select');

         var cat = $(this).data('cat');
         var label = $(this).data('label');
         $('.cat_label').html(label);

         $('.eitem-url').val(url);
         $('.eitem-select').val(select);
         $('.modal-title').html(prompt_text);
         $('.edit_class').attr('name', cat)
         $(modal).modal();
         $('.delete_form').attr('action',url);

         var form = $("#editform"), validator = form.validate();
         validator.resetForm();
         form.find(".error").removeClass("error");
         $("#editform input[name='" + cat + "']").rules("add", {required:true});
      });
  $('#editform').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
       category: {
          required:true
        }
    },
    messages:{
      category:{
        required: "please fill in the required field"
      }
    },
    submitHandler: function() {
          var name = $('.edit_class').data('name');
          var inputValue = $('.edit_class').val();
          var f = document.getElementById('editform');
          var formData = new FormData(f);
          //formData.append(name, inputValue);
          var url = $('.eitem-url').val();
          var selectClass = $('.eitem-select').val();
          $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success:function(data){
                $('#edit_modal_instance').modal('hide');
                $('.edit_class').val('');
                var replaceDiv = $('.eitem-select').val()
                $(replaceDiv).replaceWith(data);
                $.jGrowl('Created successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
                });
                //window.location.reload();
              },
              error:function(error){
                console.log(error);
                $.jGrowl('Error Updating', {
                    header: 'Oh snap!',
                    theme: 'bg-danger'
                });
              }
          });
    }
  });


  });
</script>
{% endblock %}