{% if option %}
{% load site_settings %}
    <div class=" detail-column">
        

          <div class="form-group">            
              <label class="text-left" style="font-weight:500">
                  Option name:<span class="text-danger">*</span>
              </label>
            
              <input type="text" value="{{option.name}}" {{disabled}} name="optname" id="optname" class="form-control">
            </div>
       
          <div class="form-group">            
              <label class="text-left" style="font-weight:500"><span class="text-bold">{{'DEFAULT_CURRENCY'|site_settings}}</span>
                        equivalent to 1 Point:
                  <span class="text-danger">*</span>
              </label>
              <input type="number" value="{{option.loyalty_point_equiv}}" name="loyalty_point_equiv" id="loyalty_point_equiv" class="form-control">
            
          </div>           
      

        <div class="">
          <div class="form-group">
            <label style="font-weight:500">Description</label>
            <textarea name='optdescription' id="optdescription" class="form-control">{{option.description}}</textarea>
         </div>
        </div>
    </div>
<script type="text/javascript">
    var updateOptionBtn = $('#updateOption');
    var optdescription = $('#optdescription');
    var optname = $('#optname');
    var loyalty_point_equiv = $('#loyalty_point_equiv');
    var updateUrl = "{% url 'dashboard:update-payment-option' pk=option.pk %}"

    function updatePaymentOption(dynamicData,url,method){
      dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
      return $.ajax({
          url: url,
          type: method,
          data: dynamicData
        });

    }
    // alertUser
    function alertUser(msg,status='bg-success',header='Well done!')
    { $.jGrowl(msg,{header: header,theme: status}); }
    updateOptionBtn.on('click',function(){
       var name = optname.val();
       var description = optdescription.val();
       var dynamicData = {};     

       if(!name){
        alertUser('Name required','bg-danger','Missing Field Error!');
        return false;
       }
       if(description){
        dynamicData['description'] = description;
       }
       if(loyalty_point_equiv.val()){
        dynamicData['loyalty_point_equiv'] = loyalty_point_equiv.val();
       }
       dynamicData['name'] = name;
       dynamicData['track'] = 'updating payment option';


       updatePaymentOption(dynamicData,updateUrl,'post')
       .done(function(data){
        alertUser('Updated successfully');
        window.location.reload();
       })
       .fail(function(){
        alertUser('Error occured. Try another name','bg-danger','Error!')
       });
    });

</script>
{% else %}
<div class="alert bg-info col-md-12">
    <h4 class="text-center">No details for this option</h4>
</div>
{% endif %}
