{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load static %}
{% load product_first_image from product_images %}

{% block title %}
  {% trans "Sales" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-sales{% endblock %}

{% block menu_sales_class %}active{% endblock %}
 {% block custom_css %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     .table{border:1px solid #ccc}
     .disc-label{border-radius:50px 50px; padding:4px 10px;vertical-align:middle;}
   </style>
 {% endblock %}
{% block breadcrumbs %}
    <li>
      <a href="{% url 'dashboard:sale-list' %}">
        {% trans "Discount" context "Dashboard sales (discounts) list." %}
      </a>
    </li>
    <li class="active">      
        {% if discount.pk %}
          {{ discount }}
        {% else %}
          {% trans "Add New Discount" context "Sale (discount) breadcrumbs" %}
        {% endif %}      
    </li>

{% endblock %}

{% block menu_discounts_class %} active{% endblock %}

{% block content %}
 <div class="row">

   <div class="col-md-12">
      <div class="panel panel-flat">

        <div class="panel-body search-panel">
            <div class="col-md-6">
             <label>Search Products</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_user" placeholder="Search products" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <label>display list size</label>
              <div class="form-group">
                  <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>

        </div>
      </div>
   </div>

    <div class="col-md-12">
      <div id="pagination-div">
        <div class="panel panel-flat">
          <div class='panel-body'>
          <div class="table-responsives">
            <table class="table responsive data-table">
              <thead>
                        <tr class="bg-primary">
                          <th>Id</th>                 
                          <th>Product Name</th>         
                          <th>Price</th>
                          <th>Current Stock</th>

                        </tr>
                      </thead>

                      <tbody>
                      {% if product_results %}
                       {% for product in product_results %}
                        <tr data-title=" {{ product.name }} ">
                          <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}">{{ product.id }}</td>
                          <!-- image -->
                          
                           <!-- product name -->
                          <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}">{{ product.display_product }}</td>
                          
                          <!-- price -->
                          <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}">{% if product.price_override.gross %} {{ product.price_override.gross }}
                          {% else %}
                          --
                          {% endif %}
                          </td>
                          <!-- variants -->
                          <td href="#modal_instance_lg" class="modal-trigger-ajax" data-href="{% url 'dashboard:product-update' pk=product.pk %}">
                          {{ product.get_stock_quantity }}
                          </td>
                        </tr>
                          {% endfor %}
                      {% else %}
                      <tr>
                     <td colspan="6"><h2 class="text-center">No Products available <i class="icon-heart-broken2"></i></h2></td>
                      </tr>
                    {% endif %}
                        </tbody>
            </table>
          </div>
        </div>
          <div class="my-paginate">
            <div class="text-center bootpag-callback" style="padding:20px;">
              <ul class="pagination bootpag pagination-flat pagination-sm"></ul>
              <div class="pull-right pages-nav">Page 1 of {{pn}} </div>
            </div>
            <input type="hidden" id="page_size" val="">
          </div>

        </div>
      </div>
    </div>
 </div>
  {% include "dashboard/includes/_pagination.html" %}
  {% include "dashboard/includes/_modal_template.html"  %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $(".td").click(function() {
            window.location = $(this).data("href");
        });

        //**@ display size select
        $('.list-sz').selectpicker().on('change', function(){
            var ts = $(this).val();
            $.ajax({ url: "{% url 'dashboard:disc_products_paginate' %}",type: 'GET',data: {page:1, size:ts, pk:'{{pk}}'}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        });

        $('.bootpag-callback').bootpag({
            total: parseInt({{pn}}),
            maxVisible: 4,
            firstLastUse: true,
            first: 'First',
            last: 'Last',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',

            }).on("page", function(event, num){
                $(".pages-nav").html("Page " + num +" of "+pagination_totalsize); // or some ajax content loading...
                $.get("{% url 'dashboard:disc_products_paginate' %}",{page:num, pk:'{{pk}}'},function(data){
                   $('#tb').html(data);
                });
        }).children('.pagination').addClass('pagination-flat pagination-sm')


      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('.search_user').keyup(function() {
        var search_text = $(this).val();
        delay(function(){
           var url = "{% url 'dashboard:disc_products_search' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text, pk:'{{pk}}'},success: function(data){
                  $('#pagination-div').html(data);
           }});
        }, 500 );

      });

 });
</script>
{% endblock %}
