{% load i18n %}

<form action="{% url "dashboard:sale-delete" pk=sale.pk %}" method="post" novalidate>
  {% csrf_token %}
  <div class="modal-body">
    <h5>
      {% trans "Are you sure?" context "Dashboard confirmation modal" %}
    </h5>
    <p>
      {% blocktrans trimmed context "Delete sale (discount) text" %}
        You are about to delete <strong>{{ sale }}</strong>.
      {% endblocktrans %}
    </p>
    <div class="modal-footer ">
      <div class="col-md-6 col-md-offset-3">
      <button href="#!" data-dismiss="modal" class="modal-action modal-close btn-default pull-left btn">
        {% trans "Cancel" context "Dashboard cancel action" %}
      </button>
      <button type="submit" class="pull-right modal-action btn btn-primary">
        {% trans "Delete" context "Dashboard delete action" %}
      </button>
    </div>
  </div>
  </div>
  
</form>
