{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% trans "Sales" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-sales{% endblock %}

{% block menu_sales_class %}active{% endblock %}
 {% block custom_css %}
 <link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     .table{border:1px solid #ccc}
     .disc-label{border-radius:50px 50px; padding:4px 10px;vertical-align:middle;}
   </style>
 {% endblock %}
{% block breadcrumbs %} 
    <li class="visible-s">{% trans "Discounts" context "Dashboard sales (discounts) list." %}
    </li>
 
{% endblock %}

{% block menu_discounts_class %} active{% endblock %}

{% block content %}
 <div class="row">

   <div class="col-md-12">
      <div class="panel panel-flat">

        <div class="panel-body search-panel">
            <div class="col-md-2">
              <label style="visibility: hidden;"> add</label>
              <div class="form-group">
                {% if perms.discount.add_voucher %}
                    <a id="toggle-add-form" onclick="return false;" data-href="{% url 'dashboard:sale-add' %}" class="btn btn-primary hvr-glow btn-raised legitRipple"  title="{% trans 'Add sale' context 'Sale (discount) list add button text' %}">
                      <i class="icon-plus2 position-left"></i>
                      {% trans "Add" context "Dashboard add action" %}
                    </a>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6">
             <label>Search Reward</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_user" placeholder="Search Reward" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2 hidden">
              <label>display list size</label>
              <div class="form-group">
                  <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
            <!-- add form -->
            <div class="col-md-12">
                 <div id="toggle-div" class="col-md-12" style="display: none;">
       <!-- add attr form here -->
       <form class="form" enctype="multipart/form-data" id="sale-details" name="sale-details">
            {% csrf_token %}
     <table class="table">
        <thead>
            <tr class="bg-primary">            
            <th>Name</th>            
            <th>Value</th>
            <th>Type</th>
            <th>Product(s)</th>
            <th>Customer</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
          <tr>        
          <!-- name -->
          <td>
            <input type="text" placeholder="Discount Name" id="id_name" class="form-control" name="name">
            </td> 
            <!-- value  -->
            <td width="10%">
              <input type="number" placeholder="Value" id="id_value" class="form-control" name="value">
            </td>
            <!-- type -->
            <td>
              <select name="type" class="form-control bootstrap-select validate" required="" id="id_type">
                <option>---</option>
                <option value="fixed">KES</option>
                <option value="percentage">%</option>                
              </select>
            </td>
            <!-- product -->
            <td>
              <select id="variants" multiple=""></select>
            </td>
            <!-- customer -->
            <td>
              <select id="customers" multiple=""></select>
            </td>
            <!-- start date -->
            <td>
              <input type="text" class="form-control pickadate-selectors" placeholder="Start date" id="id_start_date" name="start_date">
            </td>
            <!-- end date -->
            <td>
              <input type="text" class="form-control pickadate-selectors" placeholder="End date" id="id_end_date" name="end_date">
            </td>
            <td>
              <button class="btn btn-xs btn-primary hvr-glow btn-raised legitRipple waves-effect waves-light" id="createDiscountBtn" onclick="return false;" data-token="{% csrf_token %}" data-createurl="{% url 'dashboard:create-discount' %}" type="submit">Add <i class="icon-arrow-right14 position-right"></i></button>
            </td>
          </tr>
        </tbody>
      </table> </form>
       <!-- ./form -->
      </div>
            </div>
            <!-- ./add form -->

        </div>
      </div>
   </div>

    <div class="col-md-12">
      <div id="pagination-div">
        <div class="panel panel-flat">
          <div class='panel-body'>
          <div class="table-responsives">
            <table class="table responsive data-table">
              <thead>
                <tr class="bg-primary">
                  <th>
                    {% trans "Name" context "Sale (discount) table header" %}
                  </th>
                  <th>
                    {% trans "Discount" context "Sale (discount) table header" %}
                  </th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                {% if sales %}
                  {% for sale in sales %}
                    <tr class="clickable-row" data-href="{% url 'dashboard:sale-update' pk=sale.pk %}">
                      <td class='td'  data-href="{% url 'dashboard:sale-update' pk=sale.pk %}">
                        {{ sale }}
                      </td>
                      <td class='td' data-href="{% url 'dashboard:sale-update' pk=sale.pk %}">
                        {{ sale.value }}{{ sale.get_type_display }}
                      </td>
                      <!-- actions -->
                      <td >
                        <div class='btn-group'>
                          <button class='btn dropdown-toggle' data-toggle='dropdown'>Action <i class='glyphicon glyphicon-caret-down'></i></button>
                          <ul class='dropdown-menu pull-right'>
                             <li><a href="{% url 'dashboard:discount-detail' pk=sale.pk %}"><i class='glyphicon glyphicon-eye-open'></i> DETAIL</a></li>
                            <li><a  href="{% url 'dashboard:sale-update' pk=sale.pk %}"><i class='glyphicon glyphicon-edit'></i> EDIT</a></li>
                            
                            <li><a onclick="return false;" class="delete-discount" data-title="{{sale.name}}" data-href="{% url 'dashboard:sale-delete' pk=sale.pk %}" ><i class='glyphicon glyphicon-trash'></i> DELETE</a></li>
                          </ul>
                        </div>                     
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                <tr>
                  <td>
                    <h2 class="text-center">
                      {% trans "No Discount available" context "Empty sales table message" %}
                    </h2>
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
            {% if sales %}
           <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
            {% endif %}

        </div>
      </div>
    </div>
 </div>
 <input type="hidden" data-variants="{% url 'dashboard:token-search-variants' %}" data-refreshtable="{% url 'dashboard:discount_search' %}" data-curl="{% url 'dashboard:message-contacts' %}" class="pageUrls" data-redirect="{% url 'dashboard:sale-list' as url %}" id='pageUrls' name="pageUrls"
 >
  {% include "dashboard/includes/_pagination.html" %}
  {% include "dashboard/includes/_modal_template.html"  %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/discount/discount.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var toggleBtn = $('#toggle-add-form');
    var toggleDiv = $('#toggle-div');
    var addurl = toggleBtn.data('href');

    toggleBtn.on('click',function(){
      toggleDiv.slideDown('slow');
    });

      $(".td").click(function() {
            window.location = $(this).data("href");
        });

        //**@ display size select
        $('.list-sz').selectpicker().on('change', function(){
            var ts = $(this).val();
            $.ajax({ url: "{% url 'dashboard:discount_pagination' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        });

        $('.bootpag-callback').bootpag({
            total: parseInt({{pn}}),
            maxVisible: 4,
            firstLastUse: true,
            first: 'First',
            last: 'Last',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',

            }).on("page", function(event, num){
                $(".pages-nav").html("Page " + num +" of "+pagination_totalsize); // or some ajax content loading...
                $.get("{% url 'dashboard:discount_pagination' %}",{page:num},function(data){
                   $('#tb').html(data);
                });
        }).children('.pagination').addClass('pagination-flat pagination-sm')


      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('.search_user').keyup(function() {
        var search_text = $(this).val();
        delay(function(){
           var url = "{% url 'dashboard:discount_search' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text},success: function(data){
                  $('#pagination-div').html(data);
           }});
        }, 500 );

      });

 });



</script>
{% endblock %}
