{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% if voucher.pk %}
    {{ voucher }}
  {% else %}
    {% trans "Add new voucher" context "Voucher page title" %}
  {% endif %}
   - {% trans "Vouchers" context "Dashboard vouchers list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-vouchers{% endblock %}

{% block menu_vouchers_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:voucher-list" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
  {% if voucher.pk %}
   <li>
      <a class="modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:voucher-delete' pk=voucher.pk %}"><i class="icon-trash"></i>
          {% trans "Remove voucher" context "Voucher action" %}
        </a>
      </li>   
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  
    <li>
      <a href="{% url 'dashboard:voucher-list' %}">
        {% trans "Vouchers" context "Dashboard vouchers list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:voucher-list' %}">
       ←
      </a>
    </li>
    <li class="active">     
        {% if voucher.pk %}
          {{ voucher }}
        {% else %}
          {% trans "Add new voucher" context "Voucher breadcrumbs" %}
        {% endif %}     
    </li>
  </ul>
{% endblock %}

{% block menu_discounts_class %} active{% endblock %}

{% block content %}
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Product Stock</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="reload"></a></li>
          <li><a data-action="close"></a></li>
        </ul>
      </div>
    </div> 
    <div class="panel-body">
    <div class="row">
    <form method="post" enctype="multipart/form-data" id="form-vouchers" novalidate>
          {% csrf_token %}
            {% if form.non_field_errors %}
              <blockquote>
                {% for non_field_error in form.non_field_errors %}
                  {{ non_field_error }}
                {% endfor %}
              </blockquote>
            {% endif %}  
         <div class="col-md-8">
            <div class="form-group">
               {{ form.code|materializecss }}
            </div>
            <div class="form-group">
              {{ form.name|materializecss }}
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 {{ form.discount_value|materializecss }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  {{ form.discount_value_type|materializecss:"input-field s12" }}
              </div>
            </div>
            <div class="form-group">
              {% for form_type, form in type_base_forms.items %}
                  <div class="voucher-form" data-type="{{ form_type }}">
                    {% for field in form %}
                      {{ field|materializecss:"input-field s12" }}
                    {% endfor %}
                  </div>
                {% endfor %}
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group">
             {{ form.start_date|materializecss:"input-field s12" }}
            </div>
            <div class="form-group">
              {{ form.end_date|materializecss:"input-field s12" }}
            </div>
            <div class="form-group">
              {{ form.usage_limit|materializecss }}
            </div>
         </div>
      <!-- action buttons -->
     <div class="text-right col-md-12">
     {% if voucher.pk %}
              <a href="{% url 'dashboard:voucher-list' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:voucher-list' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
     </div>
      </form>
    </div>
   
    </div>

   </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <form method="post" enctype="multipart/form-data" id="form-vouchers" novalidate>
          <div class="card-content card-content-form">
            {% csrf_token %}
            {% if form.non_field_errors %}
              <blockquote>
                {% for non_field_error in form.non_field_errors %}
                  {{ non_field_error }}
                {% endfor %}
              </blockquote>
            {% endif %}
            <div class="">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.code|materializecss }}
                </div>
                <div class="form-group">
                  {{ form.name|materializecss }}
                </div>
                <div class="form-group">
                  <div class="">
                    <div class="form-group">
                      {{ form.discount_value|materializecss }}
                    </div>
                  </div>
                  <div class="">
                    <div class="form-group">
                      {{ form.discount_value_type|materializecss:"input-field s12" }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  {{ form.type|materializecss:"input-field s12" }}
                </div>
                {% for form_type, form in type_base_forms.items %}
                  <div class="voucher-form" data-type="{{ form_type }}">
                    {% for field in form %}
                      {{ field|materializecss:"input-field s12" }}
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.start_date|materializecss:"input-field s12" }}
                </div>
                <div class="form-group">
                  {{ form.end_date|materializecss:"input-field s12" }}
                </div>
                <div class="form-group">
                  {{ form.usage_limit|materializecss }}
                </div>
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if voucher.pk %}
              <a href="{% url 'dashboard:voucher-list' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:voucher-list' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
    <div class="col m12 l3 help-box"></div>
  </div>

{% endblock %}
