             {% load staticfiles %}
                {% for role in roles %}
                  <tr class='clickable-row'>
                    <td class="td">#{{ forloop.counter }}</td>
                    <td class="td">{{ role.name }}</td>b
                    <td class="text-center">
                      <ul class="icons-list">
                        <li>
                            <a data-ta="#edit_modal_instance" data-title="{{ role.name|capfirst }}" data-href="{% url 'dashboard:role-edit' pk=role.pk %}" data-name="{{ role.name }}" data-id="{{ role.pk }}"
                               class="edit_modal-trigger btn btn-default btn-sm edit-btn" data-cat="role" data-label="User Role:"><i class="icon-pencil7" style="font-size: 11px;"></i> edit
                             </a>
                        </li>
                        <li>
                          <a data-ta="#modal_instance" data-title="Delete Role {{ role.name }} ?" data-href="{% url 'dashboard:role-delete' pk=role.pk %}" data-name="{{ role.name }}" data-id="{{ role.pk }}"
                         class="modal-trigger btn btn-default btn-sm del-btn"><i class="icon-trash" style="font-size: 11px;" href="#modal_instance" data-toggle="modal"></i> remove
                         </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
                 


<script type="text/javascript">
     $(document).ready(function(){

        $('.click').alert('hey');
        $(".td").click(function() {
           window.location = $(this).data("href");
        });

        //** modal edit
      $('.edit_modal-trigger').on('click', function (e) {

         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var username = $(this).data('name');
         var modal = $(this).data('ta');
         var id = $(this).data('id');
         var cat = $(this).data('cat');
         var label = $(this).data('label');
         $('.cat_label').html(label);

         var l = $(this).data('l');
         if(l){
            $('.action-label').text(l);
         }else{
            $('.action-label').text('Update');
         }



         $('.eitem-url').val(url);
         $('.eitem-id').val(id);

         $('.modal-title').html(prompt_text);

         $('.edit_class').attr('data-name', cat)
         $('.edit_class').val(username);

         $(modal).modal();
         $('.delete_form').attr('action',url);
      });

  $('#editform').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
       category: {
          required:true
        }
    },
    messages:{
      category:{
        required: "please fill in the required field"
      }
    },
    submitHandler: function() {
          var name = $('.edit_class').data('name');
          var inputValue = $('.edit_class').val();
          var f = document.getElementById('editform');
          var formData = new FormData(f);
          formData.append(name, inputValue);
          var url = $('.eitem-url').val();
          var id = $('.eitem-id').val();

          $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success:function(data){
                $('#edit_modal_instance').modal('hide');
                //$('#tb #'+id).remove();
                $.jGrowl('Updated successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
                });
                window.location.reload();
             // $("#mydiv").load(location.href + " #mydiv");
              },
              error:function(error){
                console.log(error);
                $.jGrowl('Error Updating', {
                    header: 'Oh snap!',
                    theme: 'bg-danger'
                });
              }
          });
    }
  });

  //** modal delete
        $('.modal-trigger').on('click', function (e) {

         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var username = $(this).data('name');
         var modal = $(this).data('ta');
         var id = $(this).data('id');
         $('.modal-title').html(prompt_text);
         $(modal).modal();
         $('.delete_form').attr('action',url);
         $('.item-url').val(url);
         $('.item-id').val(id);
         //alert(url+'and '+id);
         //alert($('.del').data('href'));
      });

      /* clicked the submit button */
      $('.del').on('click', function (e) {
          var f = document.getElementById('delform');
          var formData = new FormData(f);
          var id = $('.item-id').val();
          var url  = $('.item-url').val();
           //alert(url+' and '+id)
          $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success:function(data){
                $('#modal_instance').modal('hide');
                $('#tb #'+id).remove();
                $.jGrowl('Deleted successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
                });
                window.location.reload();
              },
              error:function(error){
                console.log(error);
                $.jGrowl('Error deleting', {
                    header: 'Oh snap!',
                    theme: 'bg-danger'
                });
              }
          });
      });
      
                 });
               </script>