{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     tr.nb td{border:0px;}
     .nb{border:0px;}
     .table{border:1px solid #ccc}
   </style>

      <div class="panel panel-flat">
        <div class="table-responsives">
         
            <div class="panel-body">
              <table class="table table-striped table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;">
                     <thead>
                      <tr class="bg-primary">
                         <th>#</th>
                         <th>Name</th>
                         <th>Description</th>
                         <th>Products</th>
                         <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody id="p-tb">
                    {% if categories  %}
                       {% for node in categories %}
                           <tr>
                           <!-- ## -->
                            <td
                            class="td" data-href="{% url 'dashboard:cat-subcategories' pk=node.pk %}"
                            >{{ node.pk }}</td>
                            <!-- name -->
                            <td
                            class="td" data-href="{% url 'dashboard:cat-subcategories' pk=node.pk %}"
                            >{{ node.name }}</td>
                            <!-- description\ -->
                            <td
                            class="td" data-href="{% url 'dashboard:cat-subcategories' pk=node.pk %}"
                            >{{ node.description|slice:":60" }}...</td>
                            <!-- products count-->
                            <td
                            class="td" data-href="{% url 'dashboard:cat-subcategories' pk=node.pk %}"
                            >
                              <span class="badge bg-indigo">
                                {{ node.get_product_num }}
                              </span>
                            </td>
                            <!-- actions -->
                           <td class="text-center">
                                  <!-- Single button -->
                                <div class="btn-group">
                                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu edit-dropdown">
                                    <!--<li><a href="{% url 'dashboard:category-list' root_pk=node.pk %}" data-csrf_token='{{ csrf_token }}'>-->
                                        <!--<i class="icon-eye position-left"></i>DETAILS-->
                                    <!--</a></li>-->
                                 {% if perms.product.change_category %}
                                    <li><a href="#modal_instance" data-title="Edit {{ node.name }} Category" data-warning="" data-csrf_token='{{ csrf_token }}' data-href="{% url 'dashboard:category-edit' root_pk=node.pk %}"
                                    class="modal-trigger-ajax"><i class="icon-pencil7 position-left" data-popup="tooltip" tite='Edit product' data-placement="bottom"  data-original-title="Edit me"></i>EDIT
                                    </a></li>
                                 {% endif %}
                                 {% if perms.product.delete_category %}
                                      <li>
                                         <a href="#modal_instance" data-title="Delete {{ node.name }} Category" data-warning="" data-csrf_token='{{ csrf_token }}' data-href="{% url 'dashboard:category-delete' pk=node.pk %}"
                                            class="modal-trigger-ajax"><i class="icon-trash position-left" data-popup="tooltip"  data-placement="bottom"  data-original-title="Delete me"></i>DELETE
                                            </a>
                                       </li>
                                 {% endif %}
                                  </ul>
                                </div>

                              </td>
                           </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                              <td colspan="5">
                                <h2 class="text-center">
                                  No Categories Available
                                </h2>
                              </td>
                            </tr>
                    {% endif %}
                    </tbody>
               </table>
            </div>
        </div>
          {% if categories %}
         <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback  p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            leaps: true,
            firstLastUse: true,
            first: 'First',
            last: 'Last',       
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 
                var gid = '{{gid}}';
                if(gid == 0){
                    $.get("{% url 'dashboard:category-paginate' %}",{page:num, psize:'{{sz}}'},function(data){
                      $('#p-tb').html(data);
                    });
                }else{
                    $.get("{% url 'dashboard:category-paginate' %}",{page:num, psize:'{{sz}}',gid:'{{gid}}'},function(data){
                   $('#p-tb').html(data);
                });
                }

        }).children('.pagination').addClass('pagination-flat pagination-sm')

   });

   //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        if(ts != '0'){
            $.ajax({ url: "{% url 'dashboard:category-paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        }

     });
   {% if sz %}
   $.when( $.ready ).then(function() {     
         $('.bootstrap-select').selectpicker();
         $('.list-sz').selectpicker('val', ["{{sz}}"]);              
      });
  {% endif %}
 </script>