.btn-sm {
    padding: 1px 15px;
    color: #ffff;
}

input {
    padding-left: 0;
    padding-right: 0;
    border-width: 1px 0;
    border-color: transparent transparent #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 38px;
    padding: 8px 16px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: transparent;
}

// edit

.edit-qty {
  border-bottom-style: dotted;
  border-bottom-color: blue;
  border-bottom-width: 1px;  
}

#printme {
    margin-top: 10px;
    margin-right: 5px;
}
.text-black {
    color: black !important;
    :hover {
        color: black;
    }
}
.yes-print {
    display: none;
}