{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
      <!-- Header and footer fixed -->
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsives">

          <table class="table  table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;"> 
                <thead>
                  <tr class="bg-primary">
                    <th>#</th>
                    <th>Location Name</th>
                    {% if perms.product.change_stocklocation or perms.product.delete_stocklocation %}
                    <th class="text-center">Actions</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody id="p-tb">           
                {% if locations %}
                  {% for location in locations %}
                    <tr class="td" data-href="{% url 'dashboard:product-stock-location-edit' location.pk %}">
                      <td>{{ forloop.counter }}</td>
                      <td>{{ location }}</td>
                      {% if perms.product.change_stocklocation or perms.product.delete_stocklocation %}
                     <td class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            action <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu edit-dropdown">
                         {% if perms.product.change_stocklocation %}
                            <li><a href="{% url 'dashboard:product-stock-location-edit' location.pk %}"><i class="icon-pencil7"></i> EDIT</a></li>
                         {% endif %}
                         {% if perms.product.delete_stocklocation %}
                            <li>
                                <a data-ta="#modal_instance" data-title="Delete Location {{ location.name }} ?" data-href="{% url 'dashboard:product-stock-location-delete' location.pk %}" data-name="{{ location.name }}" data-id="{{ location.pk }}"
                         class="modal-trigger"><i class="icon-trash" href="#modal_instance" data-toggle="modal"></i> DELETE
                         </a>
                            </li>
                         {% endif %}
                          </ul>
                        </div>

                      </td>
                    {% endif %}
                    </tr>
                  {% endfor %}
                {% else %}
                <tr><td colspan="2"><h2 class="text-center">No Locations Available</h2></td></tr>
                {% endif %}
                  </tbody>
           </table>

        </div>
        </div>
          {% if locations %}
        <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            firstLastUse: true,
            first: 'First',
            last: 'Last',       
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 
                var gid = '{{gid}}';
                if(gid == 0){
                    $.get("{% url 'dashboard:product-stock-location-paginate' %}",{page:num, psize:'{{sz}}'},function(data){
                      $('#p-tb').html(data);
                    });
                }else{
                    $.get("{% url 'dashboard:product-stock-location-paginate' %}",{page:num, psize:'{{sz}}',gid:'{{gid}}'},function(data){
                   $('#p-tb').html(data);
                });
                }

        }).children('.pagination').addClass('pagination-flat pagination-sm')

   });
   // list-sz
   $('.list-sz').selectpicker().on('change', function(){
            var ts = $(this).val();
            $.ajax({ url: "{% url 'dashboard:product-stock-location-paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
         });
   
   {% if sz %}
   $.when( $.ready ).then(function() {     
         $('.bootstrap-select').selectpicker();
         $('.list-sz').selectpicker('val', ["{{sz}}"]);              
      });
  {% endif %}
 </script>
<script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>