{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load product_first_image from product_images %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  Products Attributes
{% endblock %}

 {% block breadcrumbs %}
     <li class="active"><a href="{% url 'dashboard:product-attributes' %}">Products Attributes</a></li>
 {% endblock %}

{% block menu_attributes_class %}active{% endblock %}
 {% block custom_css %}
 <link href="{% static 'backend/js/plugins/tokenize/tokenize2.css' %}" rel="stylesheet" type="text/css">
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     tr.nb td{border:0px;}
     .nb{border:0px;}
     .table{border:1px solid #ccc}
     .edit-dropdown{
         min-width:150px;
         padding-top:0px;
         padding-bottom:0px;
     }
   </style>
 {% endblock %}

{% block content %}
 <div class="row animated fadeIn">
   <div class="col-md-12">
      <div class="panel panel-flat">
      
        <div class="panel-body search-panel">
           <div class="col-md-2">
              <label style="visibility: hidden;"> add</label>
              <div class="form-group">
                {% if perms.product.add_productattribute %}
                 <a id="click-toggler" class="btn btn-primary text-white btn-xs hvr-glow btn-raised legitRipple waves-effect waves-light teal modal-trigger" onclick="return false;"  data-href="{% url 'dashboard:product-attribute-add' %}" title="{% trans 'Add attribute' context 'Product Attribute add button text' %}">
                  <i class="icon-plus3 position-left"></i>Add Attribute
                </a>
                {% endif %}
              </div>
            </div>
            <div class="col-md-4">
             <label>Search Attributes</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_user" placeholder="Search" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2 hidden">
              <label>display list size</label>
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
            <div id="toggle-div" class="col-md-12" style="display: none;">
       <!-- add attr form here -->
       <form class="form" enctype="multipart/form-data" id="addoptionsform" name="addoptionsform">
            {% csrf_token %}
     <table class="table table-hover">
        <thead>
            <tr class="bg-primary">            
            <th>Name</th>            
            <th>Attribute Choices</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
          <tr>        

          <td>
            <input type="text" placeholder="Attribute Name" id="newvName" class="form-control" name="newvName">
            </td>            
            <td>
              <select class="selectVariantChoice" multiple></select>
            </td>
            <td>
              <button class="btn btn-xs btn-primary legitRipple" onclick="return false;" id="addVariantChBtn" data-token="{% csrf_token %}" data-url="{% url 'dashboard:payment-add' %}" type="submit">Add <i class="icon-arrow-right14 position-right"></i></button>
            </td>
          </tr>
        </tbody>
      </table> </form>
       <!-- ./form -->
      </div>
            
        </div>
      </div>

   </div>

  <div class="col-md-12">
   <div id="pagination-div">
      <!-- Header and footer fixed -->
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsives">
            <table class="table table-striped table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;">
                <thead>
                  <tr class="bg-primary">

                    <th>Attribute Name</th>
                    <th>Attribute Choices</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody id="tb">
                {% if attributes %}
                {% for pk, name, values in attributes %}
                  <tr>

                    <!-- names -->
                    <td>{{ name }}</td>
                    <!-- values -->
                    <td>
                    {% if values %}
                      {% for value in values %}
                          {{ value }}
                          {% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    {% else %}
                        None
                    {% endif %}
                    </td>
                      <td class="text-center">
                              <!-- Single button -->
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                action <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu edit-dropdown">
                             {% if perms.product.change_product %}
                                <li><a href="{% url 'dashboard:product-attribute-update' pk=pk %}"><i class="icon-pencil7"></i> EDIT</a></li>
                             {% endif %}
                             {% if perms.product.delete_product %}
                                  <li>
                                     <a href="#modal_instance" data-title='Remove attribute {{ name }}' data-href="{% url 'dashboard:product-attribute-delete' pk=pk %}" class="modal-trigger-ajax"><i class="icon-trash position-left"></i>
                                       DELETE
                                      </a>
                                   </li>
                             {% endif %}
                              </ul>
                            </div>

                          </td>
                  </tr>
                {% endfor %}
                 {% else %}
                  <tr><td colspan="4"><h5 class="text-center">No Attributes Available</h5></td></tr>
                {% endif %}
                </tbody>
           </table>

        </div>
        </div>
          {% if attributes %}
          <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav">Page 1 of {{totalp}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>
    </div><!-- pagination -->
  </div>

</div>

{% include "dashboard/includes/_modal_template.html"  %}
{% endblock%}
{% block custom_js %}
 <script type="text/javascript" src="{% static 'backend/js/plugins/tokenize/tokenize2.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

// update modal content from ajax results
  $( ".modal-trigger-ajax").on('click',function() {
    var url = $(this).data('href')
    var prompt_text = $(this).data('title');
    var modal = $(this).attr('href');
    var csrf_token = $(this).data('csrf_token')

    $('.modal-title').html(prompt_text);
    $(".results" ).empty().append('<span class="text-center" style="padding:23px">Loading...<i class=" icon-spinner"></i></span>');
    $(modal).modal();
      var posting = $.get( url, {'csrfmiddlewaretoken':csrf_token });
      // Put the results in a div
      posting.done(function( data ) {
      $(".results" ).empty().append( data );

      });

   });

  // asldfjsldfjsldfj
  // alertUser
function alertUser(msg,status='bg-success',header='Well done!')
{ $.jGrowl(msg,{header: header,theme: status}); }
//add productDetails
var clickToggler = $('#click-toggler');
var toggleDiv = $('#toggle-div');
clickToggler.on('click',function(){
  toggleDiv.removeClass('hidden');
  toggleDiv.slideDown("slow");
});
// add script
$('.selectAttributesChoice').tokenize2({
    placeholder: 'Add attribute choice(s) (eg. 1kg, 2kg)',
    tokensAllowCustom:true,      
    });
    $('.selectVariantChoice').tokenize2({
    placeholder: 'Add attribute choice(s) (eg. 1kg, 2kg)',
    tokensAllowCustom:true,      
    });
    function addAttributePlusChoice(dynamicData,myUrl) 
    {     
       return $.ajax({
          url: myUrl,
          type: "post",
          data: dynamicData
        });
    }
    
    var getAttributesChoice = $('.selectAttributesChoice');
    var getVariantChoice = $('.selectVariantChoice');
    var addAttributeChBtn = $('#addAttributeChBtn');
    var addVariantChBtn = $('#addVariantChBtn');

    addVariantChBtn.on('click',function(){
      var newattrName = $('#newvName').val();
      var choices = getVariantChoice.val();
      if(!newattrName)
      {
        alertUser('Attribute name required','bg-danger','Attribute name required');
        return false;
      }
      if(!choices)
      {
        alertUser('Attribute choices required','bg-danger','Attribute choices required');
        return false;
      }
      var dynamicData = {};
      var myUrl = "{% url 'dashboard:add-new-attribute' %}";
      dynamicData["attributes"] = JSON.stringify(choices);
      dynamicData["name"] = newattrName;
      dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
      dynamicData['track'] = 'Add attribute plus choice';
      addAttributePlusChoice(dynamicData,myUrl)
      .done(function(data){
        alertUser('Success');
        refreshData();
        toggleDiv.slideUp('slow');
         //window.location.href = "{% url 'dashboard:product-attributes' %}";
        getAttributesChoice.val('');         
         getVariantChoice.parents('div').find('li.token').remove();
        $('#newvName').val('');
        $(".selectVariantChoice option[data-type='custom']").remove();
        
      })
      .fail(function(){
        alertUser('Attribute already exist','bg-danger','Add unique variant name');
      });
    });

    addAttributeChBtn.on('click',function(){
      var newattrName = $('#newattrName').val();
      var choices = getAttributesChoice.val();
      if(!newattrName)
      {
        alertUser('Attribute name required','bg-danger','Attribute name required');
        return false;
      }
      if(!choices)
      {
        alertUser('Attribute name required','bg-danger','Attribute name required');
        return false;
      }
      var dynamicData = {};
      var myUrl = "{% url 'dashboard:add-new-attribute' %}";
      dynamicData["attributes"] = JSON.stringify(choices);
      dynamicData["name"] = newattrName;
      dynamicData["csrfmiddlewaretoken"]  = jQuery("[name=csrfmiddlewaretoken]").val();
      dynamicData['track'] = 'Add attribute plus choice';
      addAttributePlusChoice(dynamicData,myUrl)
      .done(function(data){
        window.location.href = "{% url 'dashboard:product-attributes' %}";
        console.log('redirecting');
        alertUser('Success');
        getAttributesChoice.val('');         
         $(".selectAttributesChoice").parents('div').find('li.token').remove();
         $(".selectVariantChoice option[data-type='custom']").remove();
        $('#newattrName').val('');
        refreshData();
        
      })
      .fail(function(){
        alertUser('Attribute already exist','bg-danger','Add unique attribute name');
      });
    });
// end scripts
  // sdlfjsldfjsdflsjd

  //** view product modal
  $( "body").on('click', '.modal-trigger-ajax', function() {

    var url = $(this).data('href')
    var prompt_text = $(this).data('title');
    var modal = $(this).attr('href');
    var csrf_token = $(this).data('csrf_token')
    $('.modal-title').html(prompt_text);
    $(".results" ).empty().append('<span class="text-center" style="padding:23px">Loading...<i class=" icon-spinner"></i></span>');
    $(modal).modal();
      var posting = $.get( url, {'csrfmiddlewaretoken':csrf_token });
      // Put the results in a div
      posting.done(function( data ) {
      $(".results" ).empty().append( data );

      });

   });


    $('.export-sz').selectpicker({
          iconBase: 'fa',
          tickIcon: 'fa-dot-circle-o',
          pdfIcon:'fa-file-pdf-o',
          excelIcon:'fa-file-excel-o'
    }).on('change', function(){

        var ts = $(this).val();
        if(ts == 'pdf'){
          var url = "{% url 'dashboard:users_pdf' %}";
          window.open(url, '_blank');

        }else if(ts=='excel'){
          window.location="{% url 'dashboard:users_export_csv' %}";

        }else{
          $(this).val('')
        }
    });
    function refreshData(){
        var url = "{% url 'dashboard:search-attribute' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:'', },success: function(data){
                  $('#pagination-div').html(data);
           }});

     }
    //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        if(ts != '0'){
            $.ajax({ url: "{% url 'dashboard:attr_paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
        }

     });

    $('.bootpag-callback').bootpag({
        total: parseInt({{totalp}}),
        maxVisible: 3,
        leaps: true,
        firstLastUse: true,
        first: 'First',
        last: 'Last',       
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first',
        }).on("page", function(event, num){
            $(".pages-nav").html("Page " + num +" of "+{{totalp}}); // or some ajax content loading...
            $.get("{% url 'dashboard:attr_paginate' %}",{page:num},function(data){
               $('#tb').html(data);
            });
    }).children('.pagination').addClass('pagination-flat pagination-sm')

      var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('.search_user').keyup(function() {
        var search_text = $(this).val();
        delay(function(){
           var url = "{% url 'dashboard:search-attribute' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text, },success: function(data){
                  $('#pagination-div').html(data);
           }});
        }, 500 );

      });

  });


</script>
{% endblock %}