{% extends "dashboard/base.html" %}
{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load product_first_image from product_images %}

{% block title %}
  {% trans "Products" context "Dashboard products list" %} - {{ block.super }}
{% endblock %}



{% block menu_products_class %}active{% endblock %}

{% block header_extra %}
  {% if product_classes %}
    {% if product_classes|length > 1 %}
    <!-- search field -->
    
    <!-- end search -->
    <li>&nbsp;&nbsp;&nbsp;</li>
    <!--  <li >
        <a class="" style="box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);" href="{% url 'dashboard:product-add' %}" title="{% trans 'Add product' context 'Product list add button text' %}">
         <i class="icon-plus3 position-left"></i>Add Product
        </a>
      </li> -->
      {% else %}
       <a class="btn btn-primary text-white btn-xs waves-effect waves-light teal modal-trigger" href="{% url 'dashboard:product-add' product_classes.0.pk %}" title="{% trans "Add product" context "Product list add button text" %}">
          Add Product 
        </a>
      {% endif %}
    <div class="fixed-action-btn">
      {% if product_classes|length > 1 %}
     
       
        </a>
      {% else %}
        <a class="btn-fab btn-floating btn-large waves-effect waves-light teal modal-trigger" href="{% url 'dashboard:product-add' product_classes.0.pk %}" title="{% trans "Add product" context "Product list add button text" %}">
        
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
 
    <li class="active">
      {% trans "Products" context "Dashboard products list" %}
    </li>

{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}

<!-- filter -->
<div class="row">
{% url "dashboard:product-add" as url %}
{% include "dashboard/includes/_product_search_filter.html" with url=url%}
</div>
<div class="clearfix"></div>
  <div class="" id="search_results">
    <div class="col s12">
   
      {% if products %} 
       <!-- pagination data -->
        <div id="stock_content"></div>
          <div class="text-center">
            <div class="col-md-10">
               <span  id='pagination-demo'></span>
            </div>
            <div class="col-md-2">
              <span class="text-right" id='pag_nav'></span>
            </div>  
        </div>
        <!-- end pagination -->     
      <!-- Header and footer fixed -->
      
      {% else %}
        <div class="not-found">
          <p class="grey-text">
            {% trans "No products found." context "Empty product list message" %}
          </p>
          {% if not product_classes %}
            <p class="grey-text">
              {% trans "Create product type first." context "Empty product list without product types message" %}
            </p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  <!-- Blue modal -->
  <div id="modal_blue" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 class="modal-title text-white">Select Product Type</h6>
        </div>

        <div class="modal-body">
          <div class="">
            <form method="post" novalidate>
              {% csrf_token %}
              <div class="row">
                {{ form }}
              </div>
              <div class="row">
                <div class="col s12">
                  <button class="btn btn-primary" type="submit">
                    {% trans "Create new" context "Dashboard create new action" %}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  

{% include "dashboard/includes/_modal_template.html"  %}
{% include "dashboard/includes/_modal_large.html"  %}
{% endblock %}

{% block custom_js %}
  
  
  <script type="text/javascript" src="{% static 'backend/js/plugins/tables/datatables/datatables.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'backend/js/plugins/tables/datatables/extensions/fixed_header.min.js' %}"></script> -->
  <script type="text/javascript" src="{% static 'backend/js/pages/datatables_advanced.js' %}"></script>
  
  <script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/search.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
       $(".clickable-row").on('click','td:not(action-data)',function() {
           window.location = $(this).data("href");
       });
    })
  </script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.twbsPagination.min.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function() {    
    var sz;
    var total_pages;
    var visiblePages = $('.list-size').val();   
    localStorage.setItem('visiblePages', parseInt(visiblePages));
    var search_text = $('.search_sku').val();
    
    function getVisiblePages(){
      var visiblePages = $('.list-size').val();   
        localStorage.setItem('visiblePages', parseInt(visiblePages));
        return localStorage.getItem('visiblePages');
    }
    function getSearchtext(){
      var search_text = $('.search_sku').val();
       //alert(search_text);
        localStorage.setItem('search_text', search_text);
        return localStorage.getItem('search_text');
    } 
    function getPages(){
    // get tax value
    {% url 'dashboard:product_pages' as url %} 
    var url = "{{ url }}";    
    var posting = $.get( 
      url,
       {
        track:'onpageload',
        page:1, 
          size:localStorage.getItem('visiblePages'),
          search_text:getSearchtext(),
       } );
    posting.done(function( data ){ 
        //alert(data);
        localStorage.setItem('total_pages', parseInt(data));
     });    
    return  localStorage.getItem('total_pages');    
    }
    getPages();
    // end totalPages   
    var $pagination = $('#pagination-demo');
    var defaultOpts = {
        totalPages: getPages(),
        visiblePages: 3,
        onPageClick: function (event, page) {
            $('#pag_nav').text('Page ' + page + ' of '+getPages());
            $.get("{% url 'dashboard:product_filter' %}",
              {
               track:'onPageClick',
               page:page, 
               size:getVisiblePages(),
               search_text:getSearchtext(),
              },function(data){
                $('#stock_content').html(data);
                });
        }
    };
    $pagination.twbsPagination(defaultOpts);
  
    // on list size change
    $('.list-size').on('change', function(){
        var visiblePages = $(this).val();
        var ts = visiblePages;        
        var search_text = getSearchtext();
        // changecontent        
        $.get("{% url 'dashboard:product_filter' %}",
          {
            page:1, 
            size:getVisiblePages(),
            search_text:getSearchtext()
          },function(data){
            $('#stock_content').html(data);
        });
        //alert(ts);
        //change total pages
        $.ajax({ url: "{% url 'dashboard:product_pages' %}",type: 'GET',
          data: {
            track:'onchangesize',
            size:visiblePages,
            select_size:'select_size',
            search_text:getSearchtext()
          },async:false,success: function(data){
           paginated_size = data;
           localStorage.setItem('total_pages',parseInt(data));         
           
        } });
        // destroy and create new pagination
        var totalPages = getPages();
        
        var currentPage = $pagination.twbsPagination('getCurrentPage');
         $pagination.twbsPagination('destroy');
         $pagination.twbsPagination($.extend({}, defaultOpts, {
                startPage: currentPage,
                totalPages: totalPages
            }));
    });
    //change content
    function changecontent(){
      $.get("{% url 'dashboard:product_filter' %}",
          {
            page:1, 
            size:getVisiblePages(),
            search_text:getSearchtext()
          },function(data){
            $('#stock_content').html(data);
        });
    }
    // change total_pages
    function changeTotalPages(){
      $.ajax({ url: "{% url 'dashboard:product_pages' %}",type: 'GET',
          data: {
            track:'onchangesize',
            size:getVisiblePages(),
            select_size:'select_size',
            search_text:getSearchtext()
          },async:false,success: function(data){
           
           localStorage.setItem('total_pages',parseInt(data));         
           
        } });
    }
   // destroy and create new pagination
   function createNewPagination(){   
        var totalPages = getPages();        
        var currentPage = $pagination.twbsPagination('getCurrentPage');
        $pagination.twbsPagination('destroy');
        $pagination.twbsPagination($.extend({}, defaultOpts, {
                startPage: currentPage,
                totalPages: totalPages
            }));
          }
    var delay = (function(){
      var timer = 0;
      return function(callback, ms){
        clearTimeout (timer);
        timer = setTimeout(callback, ms);
      };
    })();
    $('.search_sku').keyup(function() {
      delay(function(){
        var search_text = $('.search_sku').val();
        var url = "{% url 'dashboard:product_filter' %}";
        changecontent();
        changeTotalPages();
        createNewPagination();
      }, 800 );
  });  
  });
</script>
{% endblock %}