
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load attributes %}

<div class="">
   <div class="panel panel-flat">
    
    <div class="panel-body">
    <div class="row">
    <form method="post" id="form-product" enctype="multipart/form-data" novalidate>       
        {% csrf_token %}        
         <div class="col-md-6">
            <div class="form-group">
               {{ form.name }}
            </div>
            <div class="form-group">
             <label>{{ form.product_attributes.label }}</label>
             <div class="multi-select-full">
               {{ form.product_attributes }}
              </div>
            </div>
            <div class="form-group">
             <label>{{ form.variant_attributes.label }}</label>
             <div class="multi-select-full">
              {{ form.variant_attributes }}
              </div>
            </div> 
                       
         </div>
          <!-- form left -->
          <div class="col-md-6">
             
              <div class="form-group">
               <label class="checkbox-inline">
                {{ form.has_variants }}
                {{ form.has_variants.label }}
               <label class="checkbox-inline">
             </div> 
          </div>
          <!-- ./form left -->
      <!-- action buttons -->
        
      </form>
    </div>
   
    </div>

   </div>
 </div>
 <!-- end form -->
  <div class="">  
    <div class="col m12 l3 help-box">
      <p class="grey-text">
        <svg data-src="{% static "dashboard/images/help.svg" %}" width="18" height="18" />
        {% blocktrans trimmed context "Product class help text" %}
        Product Type is a template used for creating new products.
        It also controls which attributes can be used during product creation process.
        {% endblocktrans %}
      </p>
    </div>
  </div>
  

<script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
<script type="text/javascript">
   // Checkboxes/radios (Uniform)
    // ------------------------------

    // Default initialization
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });
</script>
