{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load attributes %}

{% block title %}
  {% if product_class.pk %}
    {{ product_class }}
  {% else %}
    {% trans "Add new product type" context "Product class page title" %}
  {% endif %} 
  - {% trans "Products" context "Dashboard products list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_product_classes_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:product-class-list" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
 
    <li>
      <a href="{% url "dashboard:product-class-list" %}" >
        {% trans "Product types" context "Dashboard product types list" %}
      </a>
    </li>
    
    <li class='active'>
      
        {% if product_class.pk %}
          {{ product_class }}
        {% else %}
          {% trans 'Add new product type' context "Product class breadcrumbs" %}
        {% endif %}
     
    </li>
 
{% endblock %}

{% block header_extra %}

  {% if product_class.pk %}
  <li>              
    <a href="#modal_instance" data-title='Delete {{ product_class }} Product type' data-href="{% url 'dashboard:product-class-delete' pk=product_class.pk %}" class="modal-trigger"><i class="icon-trash position-left"></i> 
    {% trans "Remove product type" context "Product class action" %}
    </a>
  </li>
    
   
  {% endif %}
{% endblock %}

{% block content %}
 <div class="">
   <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Product Attribute</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="reload"></a></li>
          <li><a data-action="close"></a></li>
        </ul>
      </div>
    </div> 
    <div class="panel-body">
    <div class="row">
    <form method="post" id="form-product" enctype="multipart/form-data" novalidate>       
        {% csrf_token %}        
         <div class="col-md-6">
            <div class="form-group">
               {{ form.name }}
            </div>
            <div id='refresh-content'>
            <div class="form-group">
             <label>{{ form.product_attributes.label }}</label>
             <div class="multi-select-full">
               {{ form.product_attributes }}
              </div>
            </div>
            <div class="form-group">
             <label>{{ form.variant_attributes.label }}</label>
             <div class="multi-select-full">
              {{ form.variant_attributes }}
              </div>
            </div>
            </div>
            <div class="form-group text-center">
             <button id="add-new-attribute" onclick="return false;" class="btn btn-flat text-bold btn- btn-lg" data-refresh="{% url 'dashboard:product-class-add' %}" data-href='{% url "dashboard:product-attr-add" %}'
              href="#modal_attribute">
             <i class="icon-file-plus"></i>
             Add Attributes
             </button>
            </div> 
                       
         </div>
          <!-- form left -->
          <div class="col-md-6">
             <!-- <div class="form-group">
              <label class="checkbox-inline">
               {{ form.is_shipping_required }}
               {{ form.is_shipping_required.label }}
              </label>
             </div> --> 
              <div class="form-group">
               <label class="checkbox-inline">
                {{ form.has_variants }}
                {{ form.has_variants.label }}
               <label class="checkbox-inline">
             </div> 
          </div>
          <!-- ./form left -->
      <!-- action buttons -->
         <div class="text-right col-md-12">
          {% if product_class.pk %}
              <a href="{% url 'dashboard:product-class-list' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:product-class-list' %}" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect waves-light">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
         </div>
      </form>
    </div>
   
    </div>

   </div>
 </div>
 <!-- end form -->
  <div class="">  
    <div class="col m12 l3 help-box">
      <p class="grey-text">
        <svg data-src="{% static "dashboard/images/help.svg" %}" width="18" height="18" />
        {% blocktrans trimmed context "Product class help text" %}
        Product Type is a template used for creating new products.
        It also controls which attributes can be used during product creation process.
        {% endblocktrans %}
      </p>
    </div>
  </div>
   {% include "dashboard/includes/_modal.html"  %}
   {% include "dashboard/includes/_modal_attribute.html"  %}
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/productattribute.js' %}"></script>

<script type="text/javascript">
   // Checkboxes/radios (Uniform)
    // ------------------------------

    // Default initialization
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });
  function refresh(){
    window.location.reload();
    // var url = "{% url 'dashboard:product-class-add' %}";
    // var posting = $.get( url, {});
    // posting.done(function(data) {
    //   $('#refresh-content').empty().append( data );
    // });
  }
  $('#refresh_content').on('click', function(){
    refresh();
  });
</script>
{% endblock %}