{% extends "dashboard/base.html" %}
{% load prices_i18n %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}
{% load attributes %}

{% block title %}
  {% if product.pk %}
    {{ product }}
  {% else %}
    {% trans "Add new product" context "Product form page title" %}
  {% endif %}
   - {% trans "Products" context "Dashboard products list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:product-list" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
 
    <li>
      <a href="{% url "dashboard:product-list" %}" >
        {% trans "Products" context "Dashboard products list" %}
      </a>
    </li>
   
    <li class="active">
     
        {% if product.pk %}
          {{ product }}
        {% else %}
          {% trans "Add new product" context "Product form breadcrumbs" %}
        {% endif %}
     
    </li>
  
{% endblock %}

{% block header_extra %}
  {% if product.pk %}
  <li>              
    <a href="{{ product.get_absolute_url }}"><i class="icon-eye position-left"></i>  {% trans "View on site" context "Dashboard preview action" %}
    </a>
  </li>
  <li>
    <a href="#base-modal" data-href="{% url 'dashboard:product-delete' pk=product.pk %}"
        class="modal-trigger-custom"><i class="icon-trash position-left"></i> 
          {% trans "Remove product" context "Product form action" %}
        </a>
  </li>   
   
  {% endif %}
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
<div id='results'></div>
<div class="row">
    <div class="col-md-12">
            <div class="panel panel-flat">
              <div class="panel-heading">
                <h6 class="panel-title">Product Details</h6>
                <div class="heading-elements">
                  <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                          </ul>
                        </div>
              </div>

              <div class="panel-body">
                <div class="tabbable tab-content-bordered">
                  <ul class="nav nav-tabs nav-tabs-highlight">
                    <li class="active"><a href="#bordered-tab1" data-toggle="tab">General Settings</a></li>{% if product.pk %}
                    <li><a href="#bordered-tab2" data-toggle="tab">Product Variant</a></li>
                    <li><a href="#stock-tab" data-toggle="tab">Stock</a></li>
                    <li><a href="#images-tab" data-toggle="tab">Images</a></li>
                    {% endif %}
                    
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane has-padding active" id="bordered-tab1">
                       <!-- 2 columns form -->
        <form method="post" class="form-horizontal" id="form-product" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <!-- Tasks options -->
          <div >
              <div class="navbar navbar-default navbar-xs navbar-component">
                <ul class="nav navbar-nav no-border visible-xs-block">
                  <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
                </ul>

                <div class="navbar-collapse collapse" id="navbar-filter">
                 
                  <ul class="nav navbar-nav">
                    <li class="">
                                      
                    </li>
                  </ul>
                 

                  <div class="navbar-right">
                    <p class="navbar-text">
                    {% if product.pk %}
              <a href="{% url 'dashboard:product-list' %}" class="label label-danger" style='box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);'>
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" style='box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);' class="label label-primary">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:product-list' %}" class="label label-danger" style='box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);'>
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" style='box-shadow: 0 1px 3px rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.18);' class="label label-primary">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
                    </p>
                    
                  </div>
                </div>
              </div>
              </div>
              <!-- /tasks options -->
            <div class="panelpanel-flat">
             
              <div class="panel-body">
              
                {% if errors %}
                <div class="alert alert-danger alert-styled-left">
                  {{errors}} 
                  </div>             
                {% endif %}
              
                <div class="row">
                  <div class="col-md-6">
                    <fieldset>
                    
                    <div class="form-group">
                    <label>Product Type</label>
                      {{ form_classes }}
                    </div>
                      <div class="form-group">
                        <label>Product Name:</label>
                        {{ product_form.name}}
                      </div> 
                      <div class="form-group">
                        <label>Product Description:</label>
                       {{ product_form.description }}
                      </div>                   
                     <div class="form-group" id='div_attributes'>
                        <label>Product Attributes</label>
                       {% for attribute_field in product_form.iter_attribute_fields %}
                       <div class="">
                       <label>{{ attribute_field.label }}</label>
                        {{ attribute_field }}
                      </div>
                      {% endfor %}
                      </div>
                                          
                    </fieldset>
                  </div>

                  <div class="col-md-6">
                    <fieldset>                           
                       
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Sales Price:</label>
                            {{ product_form.price }}
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">          
                             {% if not product.product_class.has_variants %}
                                <div class="">
                                  {{ variant_form.sku }}
                                </div>
                             {% endif %}
                          </div>
                        </div>
                      </div>

                      <div class="">
                        <div class="col-md-12">
                          
                          <div class="form-group">
                            <label>Tax: %</label>
                            {{ product_form.product_tax }}
                          </div>
                          <div class="form-group">
                            <label>Categories:</label>
                            <div class="multi-select-full">
                            {{ product_form.categories }}
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Available:</label>
                           {{ product_form.available_on }}
                          </div>
                        </div>
                        <div class='col-md-6'>
                          <div class='form-group'>
                           <label class="checkbox-inline">
                            {{ product_form.is_featured }}
                            {{ product_form.is_featured.label }}
                            &nbsp;
                          </label>
                           
                          </div>
                        </div>
                      </div>

                      


                    </fieldset>
                  </div>                  
                </div>
                

                <div class="text-right">
                  {% if product.pk %}
              <a href="{% url 'dashboard:product-list' %}" class="btn btn-flat ">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:product-list' %}" class="btn   btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary  waves-effect waves-light">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
                </div>
              </div>
            </div>
          </form>
          <!-- /2 columns form -->
                    </div>
                    <!-- panel product variant -->
                    <div class="tab-pane has-padding" id="bordered-tab2">
                    {% if product.pk %}
                      {% if product.product_class.has_variants %}
      <div id="variants" class="card tab-content">
        <form method="post" action="{% url 'dashboard:variant-bulk-delete' product_pk=product.pk %}" novalidate>
          {% csrf_token %}
          <div class="data-table-header-action">
            <a href="{% url 'dashboard:variant-add' product_pk=product.pk %}" class="btn-data-table btn-show-when-unchecked btn-flat">
              {% trans "Add" context "Dashboard add action" %}
            </a>
            <a href="#modal-product-variant-delete" class="modal-trigger btn-data-table btn-show-when-checked btn-flat" style="display:none" hidden>
              {% trans "Delete" context "Dashboard delete action" %}
            </a>

            <div class="modal" id="modal-product-variant-delete">
              <div class="modal-content">
                <h5>
                  {% trans "Are you sure?" context "Dashboard confirmation modal" %}
                </h5>
                <p>
                  {% blocktrans trimmed context "Modal delete variant from product text" %}
                    You are about to delete variants of this product.
                  {% endblocktrans %}
                </p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="modal-action btn-flat">
                  {% trans "Delete" context "Dashboard delete action" %}
                </button>
                <a href="#!" class="modal-action modal-close btn-flat">
                  {% trans "Cancel" context "Dashboard cancel action" %}
                </a>
              </div>
            </div>
          </div>
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              {% if variants %}
                <thead>
                  <tr>
                    <th class="bulk-checkbox">
                      <input type="checkbox" id="select-all-variants" class="filled-in select-all switch-actions">
                      <label for="select-all-variants"></label>
                    </th>
                    <th>
                      {% trans "SKU" context "Product variant table header" %}
                    </th>
                    {% for attribute in attributes %}
                      <th>
                        {{ attribute.name|capfirst }}
                      </th>
                    {% endfor %}
                    <th class="wide">
                      {% trans "Variant name" context "Product variant table header" %}
                    </th>
                    <th class="right-align">
                      {% trans "Tax" context "Product variant table header" %}
                    </th>
                    <th class="right-align">
                      {% trans "Price" context "Product variant table header" %}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for variant in variants %}
                    <tr data-action-go="{% url 'dashboard:variant-update' product_pk=product.pk variant_pk=variant.pk %}" title="{% trans "Edit variant" context "Product variant table link title" %}">
                      <td class="bulk-checkbox ignore-link">
                        <input id="id_variants_{{ variant.id }}" name="items" type="checkbox" value="{{ variant.id }}" class="filled-in switch-actions">
                        <label for="id_variants_{{ variant.id }}"></label>
                      </td>
                      <td>
                        {{ variant.sku }}
                      </td>
                      {% for attr_display in variant|attributes_values_with_empty:attributes %}
                        <td>
                          {{ attr_display }}
                        </td>
                      {% endfor %}
                      <td>
                        {{ variant.name }}
                      </td>
                      <td>
                        {{ variant.tax_override }} %
                      </td>
                      <td class="right-align">
                        {% gross variant.get_price_per_item html=True %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              {% else %}
                  <tbody>
                    <tr>
                      <td>
                        <span>
                          {% trans "There are no variants for this product" context "Empty product variant table message" %}
                        </span>
                      </td>
                    </tr>
                  </tbody>
              {% endif %}
            </table>
          </div>
          <input type="hidden" name="success_url" value="{% url 'dashboard:product-update' pk=product.pk %}#variants">
        </form>
      </div>
    {% endif %}
    {% endif %}
                    </div>
                    <!-- end product variant -->
                    <!-- product stock -->
                     <div class="tab-pane has-padding" id="stock-tab">
                     {% if product.pk %}
                      <div id="stock" class="card tab-content">
      <form method="post" action="{% url 'dashboard:stock-bulk-delete' product_pk=product.pk %}" novalidate>
        {% csrf_token %}
        <div class="data-table-header-action">
          <a href="{% url 'dashboard:product-stock-add' product_pk=product.pk %}" class="btn-data-table btn-show-when-unchecked btn-flat">
            {% trans "Add" context "Product form stock tab table action" %}
          </a>
          <a href="#modal-product-stock-delete" class="modal-trigger btn-data-table btn-show-when-checked btn-flat" style="display:none" hidden>
            {% trans "Delete" context "Dashboard delete action" %}
          </a>
          <div class="modal" id="modal-product-stock-delete">
            <div class="modal-content">
              <h5>
                {% trans "Are you sure?" context "Dashboard confirmation modal" %}
              </h5>
              <p>
                {% blocktrans trimmed context "Modal delete stock from variant text" %}
                  You are about to delete stock for this product variant.
                {% endblocktrans %}
              </p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="modal-action btn-flat">
                {% trans "Delete" context "Dashboard delete action" %}
              </button>
              <a href="#!" class="modal-action modal-close btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
            </div>
          </div>
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            {% if stock_items %}
            <thead>
              <tr>
                <th class="bulk-checkbox">
                  <input type="checkbox" id="select-all-stock" class="filled-in select-all switch-actions">
                  <label for="select-all-stock"></label>
                </th>
                <th>
                  {% trans "SKU" context "Stock table header" %}
                </th>
                <th class="wide">
                  {% trans "Location" context "Stock table header" %}
                </th>
                <th class="right-align">
                  {% trans "Quantity" context "Stock table header" %}
                </th>
                <th class="right-align">
                  {% trans "Allocated" context "Stock table header" %}
                </th>
              </tr>
            </thead>
            <tbody>
              {% for item in stock_items %}
                <tr data-action-go="{% url 'dashboard:product-stock-update' product_pk=product.pk stock_pk=item.pk %}" title="{% trans "Edit variant" context "Stock table action" %}">
                  <td class="bulk-checkbox ignore-link">
                    <input name="items" type="checkbox" id="{{ item.id }}" class="filled-in switch-actions" value="{{ item.id }}">
                    <label for="{{ item.id }}"></label>
                  </td>
                  <td>
                    {{ item.variant.sku }}
                  </td>
                  <td>
                    {{ item.location }}
                  </td>
                  <td class="right-align">
                    {{ item.quantity }}
                  </td>
                  <td class="right-align">
                    {{ item.quantity_allocated }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            {% else %}
              <tbody>
                <tr>
                  <td>
                    <span>
                      {% trans "There is no stock for this product." context "Empty stock table message" %}
                    </span>
                  </td>
                </tr>
              </tbody>
            {% endif %}
          </table>
        </div>
        <input type="hidden" name="success_url" value="{% url 'dashboard:product-update' pk=product.pk %}#stock">
      </form>
    </div>
    {% endif %}
                    </div>
                    <!-- end product stock -->
                    <!-- IMAGES tAB -->
                     <div class="tab-pane has-padding" id="images-tab">
                     {% if product.pk %}
                         <div id="images" class="tab-content">
      <form action="{% url 'dashboard:product-images-upload' product_pk=product.pk %}" class="dropzone" id="product-image-form" novalidate>
        <div class="dz-message"></div>
        {% csrf_token %}
        <input type="hidden" name="success_url" value="{% url 'dashboard:product-update' pk=product.pk %}#images">
        <div class="row">
          {% if images %}
            <ul class="product-gallery" id="product-gallery" data-post-url="{% url 'dashboard:product-images-reorder' product_pk=product.pk %}">
              {% for image in images %}
                <li class="col s6 m3 product-gallery-item" data-id="{{ image.pk }}">
                  <div class="row">
                    <div class="card">
                      <div class="card-image product-gallery-item-image">
                        <img class="responsive-img" 
                             src="{{ image.image.crop.255x255 }}" 
                             srcset="{{ image.image.crop.255x255 }} 1x, {{ image.image.crop.510x510 }} 2x"
                             alt="">
                      </div>
                      <div class="card-content">
                        <span class="product-gallery-item-title card-title black-text" title="{{ image.alt }}">
                          {% if image.alt %}
                            {{ image.alt }}
                          {% else %}
                            <span class="grey-text">
                              {% trans "No description" context "Image card text" %}
                            </span>
                          {% endif %}
                        </span>
                      </div>
                      <div class="sortable__drag-area"></div>
                      <div class="card-action">
                        <a class="btn btn-flat" href="{% url 'dashboard:product-image-update' product_pk=product.pk img_pk=image.pk %}">
                          {% trans "Edit" context "Dashboard edit action" %}
                        </a>
                        <a href="#base-modal" class="btn btn-flat modal-trigger-custom" data-href="{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=image.pk %}">
                          {% trans "Delete" context "Dashboard delete action" %}
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
        {% else %}
          <p class="no-images">
            {% trans "This product has no images yet." context "Empty image gallery message" %}
          </p>
        {% endif %}
        <div class="col s6 m3 product-gallery-item dropzone-message">
          <div class="row">
            <span class="product-gallery-item-title product-gallery-item-title--noclip card-title black-text">
              <span class="grey-text hide-on-med-and-down">
                {% trans "Drop images here to upload" context "Image gallery upload box text" %}
              </span>
              <a class="btn btn-primary  waves-effect waves-light " id="images-bt" href="{% url 'dashboard:product-image-add' product_pk=product.pk %}" title="{% trans "Add image" context "Add image button text" %}">
        <svg data-src="{% static "dashboard/images/add.svg" %}" />
      </a>
            </span>
          </div>
        </div>
      </div>
      </form>
      <script type="application/template" id="template">
        <li class='col s6 m3 product-gallery-item dz-preview dz-file-preview' data-id="{{ image.pk }}">
          <div class="row">
            <div class="card">
              <div class="card-image product-gallery-item-image">
                <img data-dz-thumbnail />
              </div>
              <div class="dz-progress">
                <span class="dz-upload" data-dz-uploadprogress></span>
              </div>
              <div class="card-content">
                <span class="product-gallery-item-title card-title black-text">
                  <span class="grey-text">
                    {% trans "No description" context "Empty image gallery message" %}
                  </span>
                </span>
              </div>
              <div class="sortable__drag-area"></div>
              <div class="card-action">
                <a class="card-action-edit" href="{% url 'dashboard:product-image-update' product_pk=product.pk img_pk=0 %}">
                  {% trans "Edit" context "Dashboard edit action" %}
                </a>
                <a href="#base-modal" class="card-action-delete modal-trigger-custom"
                data-href="{% url 'dashboard:product-image-delete' product_pk=product.pk img_pk=0 %}">
                  {% trans "Delete" context "Dashboard delete action" %}
                </a>
              </div>
            </div>
          </div>
        </li>
      </script>
    </div>
    {% endif %}
                     </div>
                    <!-- END IMAGES TAB -->
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>                
</div>
 

{% endblock %}

 {% block custom_js %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

 <script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/switch.min.js' %}"></script>


<script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/ui/moment/moment.min.js' %}"></script>
 
 
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>

  <script type="text/javascript" >

     // Dropdown selectors
    $('.pickadate-selectors').pickadate({
        format: 'dd/mm/yyyy',
        editable: true,  
        selectYears: true,
        selectMonths: true,
        formatSubmit: 'dd/mm/yyyy',

    });
     // Checkboxes/radios (Uniform)
    // ------------------------------

    // Default initialization
    $(".styled, .multiselect-container input").uniform({
        radioClass: 'choice'
    });

    // Basic select
    $('.bootstrap-select').selectpicker();
  </script>
  <script>
  $( "select[name*='product_cls']").change(function() {
  // Check input( $( this ).val() ) for validity here
  
   {% url "dashboard:fetch-variants" as url %} 
   var url = "{{ url }}";
   var class_pk = $( this ).val();
   var posting = $.post( url, {class_pk:class_pk} );
     // Put the results in a div
  posting.done(function( data ) {    
    $( "#div_attributes" ).empty().append( data );
  
  });

   });
  
  </script>

 {% endblock %}