{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% if stock.pk %}
    {% blocktrans trimmed with variant_name=stock.variant.name location=stock.location context "Dashboard stock" %}
      Stock {{ variant_name }} - {{ location }}
    {% endblocktrans %}
  {% else %}
    {% trans "Add stock" context "Stock form page title" %}
  {% endif %}
   - {{ block.super }}
{% endblock %}

{% block body_class %}body-store body-products{% endblock %}

{% block menu_products_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:product-update" pk=product.pk as url %}
  {% include "dashboard/includes/_back-link.html" with url=url hash="?tab=stock" %}
{% endblock %}

{% block breadcrumbs %}
 
    <li>
      <a href="{% url 'dashboard:product-list' %}" class="">
        {% trans "Products" context "Dashboard products list" %}
      </a>
    </li>
    
    <li>
      <a href="{% url 'dashboard:product-update' pk=product.pk %}?tab=stock" class="breadcrumbs--ellipsed-item">
        {{ product }}
      </a>
    </li>
    {% if stock.pk %}
    <li class="active">
      <span>
        {% blocktrans trimmed with variant=stock.variant context "Dashboard stock" %}
          Stock {{ variant }}
        {% endblocktrans %}
      </span>
    </li>
    {% else %}
    <li>
     
      <span class="hide-on-large-only breadcrumbs--ellipsed-item">
        {% blocktrans trimmed context "Stock form breadcrumbs" %}
        Add stock for {{ product }}
        {% endblocktrans %}
      </span>
    </li>
    {% endif %}
 
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
 

  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Product Stock</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="reload"></a></li>
          <li><a data-action="close"></a></li>
        </ul>
      </div>
    </div>      
     
    <div class="panel-body">
     {% if errors %}
       
       <div class="col-md-12">
         <div class="alert alert-danger alert-styled-left">
          <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>         
            <span class="text-semib">{{ errors.as_text }}</span>
         
            
          </div>
        </div>
     
       {% endif %}
    <form method="post" id="form-stock" enctype="multipart/form-data">
      <div class="card-content">
        {% csrf_token %}
        <input type="hidden" name="success_url" value="{% url 'dashboard:product-update' pk=product.pk %}?tab=stock">
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
              {{ form.variant|materializecss }}
            </div>
            <div class="form-group">
              {{ form.location|materializecss }}
            </div>
            <div class="form-group">
              {{ form.invoice_number|materializecss }}
            </div>
            <div class="form-group">
             {{ form.low_stock_threshold|materializecss}}
            </div>
         </div>
         <div class="col-md-6">
             
            <div class="form-group">
                {{ form.quantity|materializecss }}
            </div>
            <div class="form-group">
                {{ form.cost_price|materializecss }}
            </div>
            <div class="form-group">
              <div class="col-md-6">
                <label class="text-bold">Total Cost</label>
                <input type="number"  name="total_cost" id='total_cost' class="form-control" />
              </div>
            </div>
         </div>
         <!-- action buttons -->
         <div class="text-right">
           {% if stock.pk %}
              <a href="{% url 'dashboard:product-update' pk=product.pk %}?tab=stock" class="btn btn-flat">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect waves-light">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:product-update' pk=product.pk %}?tab=stock" class="btn btn-link">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
         </div>        
      </div> 
      </form>      
    </div>
  </div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
  // Basic select
  $('.bootstrap-select').selectpicker();

  
  $("#total_cost").on("change keyup paste keydown", function(event) { 
    var total_cost = $('#total_cost').val();
    var unit_cost = $('#id_cost_price').val();
    var quantity = $('#id_quantity').val();
    
    unit_cost = parseInt(total_cost)/parseInt(quantity);
    $('#id_cost_price').val(unit_cost);    

  });
  $("#id_cost_price").on("change keyup paste keydown", function(event) { 
    var total_cost = $('#total_cost').val();
    var unit_cost = $('#id_cost_price').val();
    var quantity = $('#id_quantity').val();
    
    total_cost = parseInt(unit_cost)*parseInt(quantity);
    $('#total_cost').val(total_cost);    

  });
  $("#id_quantity").on("change keyup paste keydown", function(event) { 
    var total_cost = $('#total_cost').val();
    var unit_cost = $('#id_cost_price').val();
    var quantity = $('#id_quantity').val();
    
    total_cost = parseInt(unit_cost)*parseInt(quantity);
    $('#total_cost').val(total_cost);
    unit_cost = parseInt(total_cost)/parseInt(quantity);
    $('#id_cost_price').val(unit_cost);


  });
</script>

{% endblock %}