{% extends "dashboard/base.html" %}
{% block title %}
 Taxes- {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
 
    <li class="active">
      Taxes
    </li>

{% endblock %}
{% block header_extra %}
<li style='padding: 9px;'>
	<a class="" href="{% url 'dashboard:tax-add' %}"><i class="icon-plus"></i>
	 Add Tax
	</a>
</li>
{% endblock %}
{% block menu_tax_list %}active{% endblock %}
{% block content %}
  
      <!-- Header and footer fixed -->
      <div class="panel panel-flat">
      {% if tax %}	     
	   <div class="table-responsive">
        <table class="table table-bordered datatable-header-footer">
                <thead>
                  <tr class="bg-primary">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Tax %</th>
                   
                    <th>Label</th>                    
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                
                <tbody>
                  {% for tx in tax %}
                  <tr>
                    <td>#{{ tx.id }}</td>
                    <!-- image -->
                   
                     <!-- Tax name -->
                    <td>{{ tx.tax_name }}</td>
                    <!-- tax -->
                    <td>{{ tx.tax}}</td>
                   
                    <!-- label -->
                    <td>{{ tx.tax_label }}</td>
                    <!-- actions -->
                    <td class="text-center">
                      <ul class="icons-list">
                        <li><a href="{% url 'dashboard:tax-update' pk=tx.pk %}"><i class="icon-pencil7" data-popup="tooltip" tite='Edit product' data-placement="bottom"></i></a></li>
                        <li>
                  <a href="#modal_instance" data-title="Delete {{ tx.name }} Tax, with {{ tx.tax }}%" data-warning="" data-href="{% url 'dashboard:tax-delete' pk=tx.pk %}"
                          class="modal-trigger"><i class="icon-trash position-left" data-popup="tooltip"></i> 
                           
                          </a>  
                        </li>
                       
                      </ul>
                    </td>
                  </tr>
                    {% endfor %}
                  </tbody>
           </table>
           </div>
	     
	  {% else %}
	  <div class="alert-warning" style="padding: 12px">You do not have tax.  <a class="" href="{% url 'dashboard:tax-add' %}"><i class="icon-plus"></i>
	 Create New tax
	</a></div>
	  {% endif %}
      </div>
      {% include "dashboard/includes/_modal.html"  %}
     {% endblock %} 
{% load static %}
{% block custom_js %}

<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
{% endblock %}
