{% extends "dashboard/base.html" %}
{% block title %}
 Taxes- {{ block.super }}
{% endblock %}

 {% block custom_css %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     tr.nb td{border:0px;}
     .nb{border:0px;}
     .table{border:1px solid #ccc}
   </style>
 {% endblock %}

{% block breadcrumbs %}
  <li class="active"><a href="{% url 'dashboard:tax-list' %}">Taxes</a></li>
{% endblock %}
{% block header_extra %}
<li style='padding: 9px;'>
	<a class="" href="{% url 'dashboard:tax-add' %}"><i class="icon-plus"></i>
	 Add Tax
	</a>
</li>
{% endblock %}
{% block menu_tax_list %}active{% endblock %}
{% block content %}

  <div class="row">
      <div class="col-md-12" style="margin-top:50px;">
            <div class="row">
                <div class="col-md-12" style="margin-bottom:10px;">
                <a class="btn btn-primary" href="{% url 'dashboard:tax-add' %}"><i class="icon-plus2"></i>
                     Create New tax
                  </a>
                </div>
            </div>
        </div>
      <!-- Header and footer fixed -->
<div class="col-md-12">
  <div class="panel panel-flat">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
           <div class="table-responsives">
            <table class="table  datatable-header-footer">
                    <thead>
                      <tr class="bg-primary">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Tax %</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>

                    <tbody>
                     {% if tax %}
                       {% for tx in tax %}
                      <tr>
                        <td>#{{ tx.id }}</td>
                         <!-- Tax name -->
                        <td>{{ tx.tax_name }}</td>
                        <!-- tax -->
                        <td>{{ tx.tax}}</td>
                        <!-- actions -->
                        <td class="text-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                action <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu edit-dropdown">
                             {% if perms.product.change_producttax %}
                                  <li><a href="{% url 'dashboard:tax-update' pk=tx.pk %}"><i class="icon-pencil7" data-popup="tooltip" tite='Edit product' data-placement="bottom"></i>EDIT</a></li>
                             {% endif %}
                             {% if perms.product.delete_producttax %}
                                  <li>
                                  <a href="#modal_instance" data-title="Delete {{ tx.tax_name }} Tax, with {{ tx.tax }}%" data-warning="" data-href="{% url 'dashboard:tax-delete' pk=tx.pk %}"
                                  class="modal-trigger"><i class="icon-trash position-left" data-popup="tooltip"></i>
                                  DELETE</a>
                                </li>
                             {% endif %}
                              </ul>
                            </div>
                        </td>
                      </tr>
                        {% endfor %}
                    {% else %}
                     <tr><td colspan="4"><h2 class="text-center">No Set Tax Available</h2></td></tr>
                    {% endif %}
                      </tbody>
               </table>
               </div>
          </div>
        </div>
      </div>
  </div>
</div>

  </div>
      {% include "dashboard/includes/_modal.html"  %}
     {% endblock %} 
{% load static %}
{% block custom_js %}

<script type="text/javascript" src="{% static 'backend/js/backend.js' %}"></script>
{% endblock %}
