{% extends "dashboard/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  Customer
{% endblock %}
{% block breadcrumbs %}
<li class="active"><a href="{% url 'dashboard:customers' %}">Customer</a></li>
<li class="active"><a href="javascript:;">Detail</a></li>
{% endblock %}
{% block menu_addCustomer_class %}active{% endblock %}
{% block custom_css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12" style="margin-bottom:10px;">
        <a class="btn btn-primary pull-left legitRipple" href="{% url 'dashboard:customers' %}"><i class="icon-arrow-left13 position-left"></i> Back to customers list</a>
        <a class="btn btn-primary pull-right legitRipple" data-url="" href="{% url 'dashboard:customer-edit' pk=user.pk %}"><i class="fa fa-file-pdf-o position-left"></i> EDIT</a>
  </div>
  <div class="col-md-4">
  {% include 'dashboard/customer/partials/profile.html' with customer=user %}
  </div>
  <div class="col-md-7">
  {% include 'dashboard/customer/partials/report_summary.html' with customer=user %}
  </div>
  

</div>

{% endblock %}