{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% trans "Stock locations" context "Dashboard stock location" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-locations{% endblock %}

{% block header_extra %}
  <li>
    <a class="btn " href="{% url 'dashboard:product-stock-location-add' %}" title="{% trans "Add stock location" context "Stock location list add button text" %}">
      <i class="icon-plus22"></i>Add stock
    </a>
  </li>
{% endblock %}

{% block breadcrumbs %}

    <li class="active">
      {% trans "Stock locations" context "Dashboard stock location" %}
    </li>
  
{% endblock %}

{% block menu_location_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class='table-responsive'>
  <table class="table table-striped table-hover fixed_headers">
    <thead>
      <tr class="bg-primary">    
        <th>#</th>    
        <th>Location Name</th>                 
      </tr>
    </thead>    
    <tbody>
    {% if locations %}
    {% for location in locations %}
      <tr class="td" data-href="{% url 'dashboard:product-stock-location-edit' location.pk %}">
        <td>#{{ forloop.counter }}</td>
        <td>{{ location }}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
    </table>
  </div>
      
    </div>
 

{% endblock %}
{% block custom_js %}
<style type="text/css">
  .td { cursor: pointer; }
</style>
<script type="text/javascript">
  $('.td').on('click',function(){
     var href = $(this).data('href');
     window.location=href;
  });
</script>
{% endblock %}

