{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% trans "Stock locations" context "Dashboard stock location" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-locations{% endblock %}
 {% block custom_css %}
   <style type="text/css">
     .clickable-row td.td{
      cursor: pointer;
     }
     .table{border:1px solid #ccc}
   </style>
 {% endblock %}

{% block header_extra %}
  <li>
    <a class="btn " href="{% url 'dashboard:product-stock-location-add' %}" title="{% trans "Add stock location" context "Stock location list add button text" %}">
      <i class="icon-plus22"></i>Add stock
    </a>
  </li>
{% endblock %}

{% block breadcrumbs %}

<li class="active"><a href="{% url 'dashboard:product-stock-location-list' %}">Stock locations</a></li>
  
{% endblock %}

{% block menu_location_class %} active{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-flat">

        <div class="panel-body search-panel">
          <div class="col-md-2">
              <label style="visibility: hidden;"> add</label>
              <div class="form-group">
                {% if perms.product.add_stocklocation %}
                    <a href="{% url 'dashboard:product-stock-location-add' %}" class="btn btn-primary hvr-glow btn-raised legitRipple waves-effect waves-light"><i class="icon-plus2 position-left"></i>Add stock</a>
                {% endif %}
              </div>
            </div>

            <div class="col-md-6">
             <label>Search Stock Locations</label>
              <div class="form-group form-group-material has-feedback">
                <input class="form-control search_transaction" placeholder="Search transactions" type="text">
                <div class="form-control-feedback">
                  <i class="icon-search4 text-size-base"></i>
                </div>
              </div>
            </div>
            <div class="col-md-2 hidden">
              <label>display list size</label>
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
             <div class="col-md-2">
              <label style="visibility: hidden;"> add</label>
              <div class="form-group">

              </div>
            </div>
        </div>
      </div>
   </div>
<div class="col-md-12">
    <div id="pagination-div">
      <div class="panel panel-flat">
          <div class="panel-body">
            <div class='table-responsives'>
              <table class="table table-striped table-hover fixed_headers">
                <thead>
                  <tr class="bg-primary">
                    <th>#</th>
                    <th>Location Name</th>
                   {% if perms.product.change_stocklocation or perms.product.delete_stocklocation %}
                    <th class="text-center">Actions</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                {% if locations %}
                  {% for location in locations %}
                    <tr class="td" data-href="{% url 'dashboard:product-stock-location-edit' location.pk %}">
                      <td>{{ forloop.counter }}</td>
                      <td>{{ location }}</td>
                      {% if perms.product.change_stocklocation or perms.product.delete_stocklocation %}
                     <td class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            action <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu edit-dropdown">
                         {% if perms.product.change_stocklocation %}
                            <li><a href="{% url 'dashboard:product-stock-location-edit' location.pk %}"><i class="icon-pencil7"></i> EDIT</a></li>
                         {% endif %}
                         {% if perms.product.delete_stocklocation %}
                            <li>
                                <a data-ta="#modal_instance" data-title="Delete Location {{ location.name }} ?" data-href="{% url 'dashboard:product-stock-location-delete' location.pk %}" data-name="{{ location.name }}" data-id="{{ location.pk }}"
                         class="modal-trigger"><i class="icon-trash" href="#modal_instance" data-toggle="modal"></i> DELETE
                         </a>
                            </li>
                         {% endif %}
                          </ul>
                        </div>

                      </td>
                    {% endif %}
                    </tr>
                  {% endfor %}
                {% else %}
                <tr><td colspan="2"><h2 class="text-center">No Locations Available</h2></td></tr>
                {% endif %}
                </tbody>
                </table>
            </div>
          </div>
        {% if locations %}
            <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>
    </div>
</div>
      
    </div>
 
<div id="modal_instance" class="modal fade">
   <div class="modal-dialog modal-sm">
     <div class="modal-content">
       <div class="modal-header bg-blue">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h6 class="modal-title text-white text-center"></h6>
       </div>
       <div class="modal-body">
         <div class="">
         <form action="" class="delete_form" method="post" id="delform" novalidate>
         {% csrf_token %}
         <div class="">
           <h5 class="text-center">
             Confirm Location delete!
           </h5>
           <input type="hidden" class="item-id" />
           </div>

         </div>
       </div>

       <div class="modal-footer">
         <button type="submit" id='modal_delete' class="btn pull-right bg-danger del" onclick="return false" data-id="" data-href="">Delete</button>
         </form>
         <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/bootstrap_select.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    <!--$('.td').on('click',function(){-->
     <!--var href = $(this).data('href');-->
     <!--window.location=href;-->
   <!--});-->

   $('.list-sz').selectpicker().on('change', function(){
            var ts = $(this).val();
            $.ajax({ url: "{% url 'dashboard:product-stock-location-paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
                  $('#pagination-div').html(data);
            }});
         });

    $('.bootpag-callback').bootpag({
        total: parseInt({{pn}}),
        maxVisible: 5,
        leaps: true,
        firstLastUse: true,
        first: 'First',
        last: 'Last',
        wrapClass: 'pagination',
        activeClass: 'active',
        disabledClass: 'disabled',
        nextClass: 'next',
        prevClass: 'prev',
        lastClass: 'last',
        firstClass: 'first',
        leaps: false
        }).on("page", function(event, num){
            $(".pages-nav").html("Page " + num +" of "+pagination_totalsize); // or some ajax content loading...
            $.get("{% url 'dashboard:product-stock-location-paginate' %}",{page:num},function(data){
               $('#tb').html(data);
            });
    }).children('.pagination').addClass('pagination-flat pagination-sm')

    var delay = (function(){
        var timer = 0;
        return function(callback, ms){
          clearTimeout (timer);
          timer = setTimeout(callback, ms);
        };
      })();

      $('.search_transaction').keyup(function() {
        var search_text = $(this).val();
        delay(function(){
           var url = "{% url 'dashboard:product-stock-location-search' %}";
           $.ajax({ url:url, type: 'GET',data: {page:1, q:search_text},success: function(data){
                  $('#pagination-div').html(data);
           }});
        }, 500 );

      });

      $('body').on('click', '.modal-trigger', function (e) {

         var url = $(this).data('href')
         var prompt_text = $(this).data('title');
         var username = $(this).data('name');
         var modal = $(this).data('ta');
         var id = $(this).data('id');
         $('.del').attr('data-id', id);
         $('.del').attr('data-href', url);
         $('.modal-title').html(prompt_text);
         $(modal).modal();
         $('.delete_form').attr('action',url);
      });

      /* clicked the submit button */
      $('body').on('click', '.del', function (e) {
          var f = document.getElementById('delform');
          var formData = new FormData(f);
          var id = $(this).data('id');
          var url = $(this).data('href');

          $.ajax({
              url: url,
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success:function(data){
                $('#modal_instance').modal('hide');
                $('#tb #'+id).remove();
                $.jGrowl('Location deleted successfully', {
                  header: 'Well done!',
                  theme: 'bg-success'
                });
                window.location.reload();
             // $("#mydiv").load(location.href + " #mydiv");
              },
              error:function(error){
                console.log(error);
                $.jGrowl('Error deleting Location', {
                    header: 'Oh snap!',
                    theme: 'bg-danger'
                });
              }
          });
      });


});

</script>
{% endblock %}

