{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}
  {% trans "Stock locations" context "Dashboard stock location" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-locations{% endblock %}

{% block header_extra %}
  <li>
    <a class="btn " href="{% url 'dashboard:product-stock-location-add' %}" title="{% trans "Add stock location" context "Stock location list add button text" %}">
      <i class="icon-plus22"></i>Add stock
    </a>
  </li>
{% endblock %}

{% block breadcrumbs %}

    <li class="active">
      {% trans "Stock locations" context "Dashboard stock location" %}
    </li>
  
{% endblock %}

{% block menu_location_class %} active{% endblock %}

{% block content %}
  <div class="row">
    
      {% if locations %}
      <div class="row">
        <div class="col-md-12">
          {% for location in locations %}
          <div class="col-md-3">
           <div class="panel border-lg border-danger border-left-lg border-left-danger">
            <span class="panel text-center">
                <a href="{% url 'dashboard:product-stock-location-edit' location.pk %}">
                  <p class="list-item-name--single">
                    {{ location }}
                  </p>
                </a>
            </span>
            </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="not-found">
          <p class="grey-text">
            {% trans "No locations found." context "Empty stock location list message" %}
          </p>
        </div>
      </div>>
      {% endif %}
    </div>
  </div>

{% endblock %}


