{% extends "dashboard/base.html" %}
{% load staticfiles i18n %}
{% load i18n %}
{% load prices_i18n %}

{% block title %}
  {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    <li class="active"><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
{% endblock %}
<style>
  table tr .ctd{padding: 8px 10px !important;}
</style>
{% block content %}
          <!-- Quick stats boxes -->
          <div class="row animated fadeIn">
            <div class="col-lg-3">
              <div class="panel bg-indigo-300">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="icon-object border-white-400 text-white-400"><i class="icon-reading"></i></div>
                    </div>
                    <div class="col-md-6" style="vertical-align:middle;">
                        <h2 class="no-margin">{% if no_of_customers %} {{no_of_customers}} {% else %} 0 {% endif %}</h2>
                        <h6>Customers Visited</h6>
                    </div>

                </div>
              </div>
           </div>

            <div class="col-lg-3">
             <div class="panel bg-pink-400">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="icon-object border-white-400 text-white-400"><i class="icon-coins"></i></div>
                    </div>

                    <div class="col-md-6" style="vertical-align:middle;">
                        <h4 class="no-margin">KShs.
                              {% if date_total_sales %}
                                {{date_total_sales}}
                              {% else %}
                                0.00
                              {% endif %}
                          </h4>
                        <h6>Total Sales</h6>
                    </div>
                </div>
                <div id="server-load"></div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="panel bg-slate">
                <div class="panel-body">
                    <div class="col-md-12" style="vertical-align:middle;">
                      <div class="col-md-12">
                          {% if highest_item %}
                            {% for h in highest_item %}
                                <h5 class="no-margin">KShs. {{h.total_cost__sum}}</h5>
                          Highest Product Sold <br/>
                                  <span>{{h.product_name}}
                            {% endfor %}
                          {% else %}
                                0.00
                          {% endif %}
                          </span>
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-3">
              <div class="panel bg-slate">
                <div class="panel-body">
                    <div class="col-md-12" style="vertical-align:middle;">
                      <div class="col-md-12">
                          {% if lowest_item %}
                            {% for h in lowest_item %}
                                <h5 class="no-margin">KShs. {{h.total_cost__sum}}</h5>
                          Lowest Product Sold <br/>
                                  <span>{{h.product_name}}
                            {% endfor %}
                          {% else %}
                                0.00
                          {% endif %}
                          </span>
                      </div>
                    </div>
                </div>
             </div>
          </div>
          <!-- /quick stats boxes -->
      </div>
<div class="row">

  {% if sales_by_item %}
    <div class="col-md-6">
    <div class="panel panel-flat" id="itemdiv">
      <div class="panel-heading">
          <h6 class="panel-title" style="text-align:center;">Top 5 Items in last sales</h6>
          <div class="heading-elements">
            <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
      <div class="panel-body">
        <div class="col-md-5">
           <canvas id="itemChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                     <div class="data-table-container">
                        <table class="table bordered highlight responsive data-table">
                          <tbody>
                          {% if sales_by_item %}
                           {% for sales in sales_by_item %}
                              <tr data-action-go="">
                                <td class="ctd" style="padding:8px 10px;" data-href="{{sales.product_name}}">
                                  <div class="sqaure" style="width: 10px;height: 10px;border-radius: 50%;background-color: {{sales.color}};">
                                  </div>
                                </td>
                                <td class="ctd" style="padding:8px 10px;" data-href="{{sales.product_category}}">
                                    {{forloop.counter }}. {{sales.product_name}}
                                </td>
                                <td class="ctd" style="padding:8px 10px;" data-href="{{sales.product_category}}">
                                     <div><span style="font-size: 0.7em;">Ksh.</span>{{sales.total_cost__sum}}</div>
                                </td>
                              </tr>
                              {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  {% else %}

     <div class="col-md-6">
      <div class="panel bg-info">
        <div class="panel-heading">
            <h4 class="panel-title" style="text-align:center;">No Items Sold Yet</h4>
            <div class="heading-elements">
              <ul class="icons-list">
                <li><a data-action="close"></a></li>
              </ul>
            </div>
        </div>
     </div>
     </div>
 {% endif %}
{% if sales_by_category %}
    <div class="col-md-6">
    <div class="panel panel-flat" id="catdiv">
      <div class="panel-heading">
          <h6 class="panel-title" style="text-align:center;">Top 5 Categories in last sales</h6>
          <div class="heading-elements">
            <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
      </div>
      <div class="panel-body">
        <div class="col-md-5">
           <canvas id="catChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                     <div class="data-table-containers">
                        <table class="table bordered highlight responsive data-table">
                          <tbody>
                          {% if sales_by_category %}
                           {% for sales in sales_by_category %}
                              <tr data-action-go="">
                                <td class="ctd" style="padding:8px 10px;" data-href="{{sales.product_category}}">
                                  <div class="sqaure" style="width: 10px;height: 10px;border-radius: 50%;background-color: {{sales.color}};">
                                  </div>
                                </td>
                                <td class="ctd" style="padding:8px 10px;" data-href="{{sales.product_category}}">
                                    {{forloop.counter }}.  {{sales.product_category}}
                                </td>
                                <td class="ctd" style="padding:8px 10px;" data-href="{{sales.product_category}}">
                                     <div><span style="font-size: 0.7em;">Ksh.</span>{{sales.total_cost__sum}} ({{ sales.percentage }}%)</div>
                                </td>
                              </tr>
                              {% endfor %}
                            {% endif %}

                          </tbody>
                        </table>
                      </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>
{% else %}

     <div class="col-md-6">
      <div class="panel bg-info">
        <div class="panel-heading">
            <h4 class="panel-title" style="text-align:center;">No Categories Sold Yet</h4>
            <div class="heading-elements">
              <ul class="icons-list">
                <li><a data-action="close"></a></li>
              </ul>
            </div>
        </div>
     </div>
     </div>
 {% endif %}
 </div>

{% if low_stock %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h6 class="panel-title">{% trans "Products with low stock" context "Dashboard homepage table title" %}</h6>
          <div class="heading-elements">
            <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

        <div class="panel-body">

            <div class="card">

              {% if low_stock %}
                <div class="data-table-container">
                  <table class="table bordered highlight responsive data-table">
                    <thead>
                      <tr>
                        <th>
                          {% trans "Product name" context "Low stock product list" %}
                        </th>
                        <th class="right-align">
                          {% trans "Stock left" context "Low stock product list" %}
                        </th>
                        <th> Low stock Threshold</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in low_stock %}
                        <tr data-action-go="{% url "dashboard:product-update" pk=product.pk %}#stock">
                          <td>
                            {{ product }}
                          </td>
                          <td class="right-align">
                            {{ product.total_stock }}
                          </td>
                          <td class="right-align">
                            {{ product.low_stock_threshold }}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% else %}
                <div class="card-content card-content--no-data not-found">
                  <p class="grey-text">
                    {% trans "No products are low in stock." context "Empty low stock table message" %}
                  </p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>

    </div>
  </div>
{% else %}
<div class="row">
     <div class="col-md-12">
      <div class="panel bg-info">
        <div class="panel-heading">
            <h4 class="panel-title" style="text-align:center;">No products are low in stock</h4>
            <div class="heading-elements">
              <ul class="icons-list">
                <li><a data-action="close"></a></li>
              </ul>
            </div>
        </div>
     </div>
     </div>
</div>
{% endif %}
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="{% static 'backend/js/plugins/ui/chart.js/utils.js' %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  var endpoint = "{% url 'dashboard:chart' %}";
  var defaultData = [];
  var labels = [];

  $.ajax({
    method:"GET",
    url:endpoint,
    success:function(data){
      labels = data.label;
      defaultData = data.default;
      // console.log(defaultData);
      // console.log(labels)
      console.log(data.net);
      console.log(data.todays_sales);
      setChart();
    },
    error:function(error_data){

    }
  });

  function setChart(){
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Amount of sale',
                  data: defaultData,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          }
      });
  }

  //**@ category chart
  //-----chart**/
//**@ doughnut chart
    var defaultData2 = [{% for d in sales_by_category %} {{ d.total_cost__sum }}, {% endfor %}];
    var labels2 = [{% for d in sales_by_category %} "{{ d.product_category }}", {% endfor %}];
    var backColor = [{% for d in sales_by_category %} "{{ d.color }}", {% endfor %}];
    // console.log({% for d in sales_by_category %} "{{ d.color }}", {% endfor %});
      var ctx = document.getElementById("catChart").getContext('2d');
      var catChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: labels2,
              datasets: [{
                  label: 'Amount of sale',
                  data: defaultData2,
                  backgroundColor:backColor,
                  borderWidth: 1
              }]
          },
          options:{
             legend:{
             display:false}
          }
      });
//--------- /doghnut chart

//-----item chart**/
    var defaultData3 = [{% for d in sales_by_item %} {{ d.total_cost__sum }}, {% endfor %}];
    var labels3 = [{% for d in sales_by_item %} "{{ d.product_name }}", {% endfor %}];
    var backColor = [{% for d in sales_by_item %} "{{ d.color }}", {% endfor %}];
    // console.log({% for d in sales_by_item %} "{{ d.color }}", {% endfor %});
      var ctx = document.getElementById("itemChart").getContext('2d');
      var itemChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: labels3,
              datasets: [{
                  label: 'Amount of sale',
                  data: defaultData3,
                  backgroundColor:backColor,
                  borderWidth: 1
              }]
          },
          options:{
             legend:{
             display:false}
          }
      });
//------- /item doghnut chart

});
</script>
{% endblock %}
