<!DOCTYPE html>
{% load staticfiles i18n %}
{% load render_bundle from webpack_loader %}
{% load version %}
{% load business_name %}
{% load business_logo %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
    <title>
      {% block title %}
        {% trans "Log In" context "Dashboard default page title" %}
      {% endblock %}
    </title>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    {% endblock meta %}

    {% include 'favicon.html' %}
    
    
   
    

    <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'backend/css/core.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/components.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'backend/css/colors.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'backend/css/extras/animate.min.css' %}" rel="stylesheet" type="text/css">
  <!--image preview -->
  <link href="{% static 'backend/js/plugins/ui/jasny-bootstrap/css/jasny-bootstrap.css' %}" rel="stylesheet" type="text/css">
 <link href="{% static 'backend/js/plugins/ladda/ladda-themeless.min.css' %}" rel="stylesheet" type="text/css">
  
  
  <!-- /global stylesheets -->

    {% block custom_css %}

    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %} login-container">
     <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
        <!-- Content area -->
        <div class="content">

          <!-- Simple login form -->
          <form name="loginForm" id="loginForm">
            {% csrf_token %} 
            <div class="panel panel-body login-form animated bounceIn">
              <div class="text-center">
                {% business_logo as p %}
                  {% if p %}
                <img src="{{p}}" style="max-height:100px;width:auto;"/>
                  {% else %}
                  <div class="icon-object border-pink-400 text-pink-400"><i class="icon-reading"></i></div>
                  {% endif %}

                <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
              </div>
              <div id="status" class="alert bg-danger animated slideInUp" style="display: none;">
                <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
                <span class="status_text">Oops! Wrong credentials.</span>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <input type="text" class="form-control email" name="email" placeholder="Username or Email">
                <div class="form-control-feedback">
                  <i class="icon-user text-muted"></i>
                </div>
              </div>

              <div class="form-group has-feedback has-feedback-left">
                <input type="password" name="password" class="form-control password" placeholder="Password">
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muted"></i>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn bg-pink-400 btn-block login_btn ladda-button" data-style="expand-right" id="login_btn">Sign in <i class="icon-circle-right2 position-right"></i></button>
              </div>
              <div class="text-center">
                <a class="link--styled" href="{% url 'account_reset_password' %}">
                  {% trans "Forgot password?" context "Login form secondary link" %}
                </a>
              </div>
            </div>
          </form>
          <!-- /simple login form -->

        </div>
        <!-- /content area -->
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
  </div>
  <!-- /page container -->

   
 
  <!-- Core JS files -->
  <script type="text/javascript" src="{% static 'backend/js/jquery-1.11.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/core/libraries/bootstrap.min.js' %}"></script>
  <!-- /core JS files -->
   <script src="{% static 'backend/js/plugins/ui/jquery-validation/jquery.validate.js' %} "></script>

  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/ui/moment/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/core/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_select2.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/ui/ripple.min.js' %}"></script>
  <!-- /theme JS files -->
 
  <!-- form js -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/selects/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/forms/styling/uniform.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/loaders/blockui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/pages/form_layouts.js' %}"></script>
  <!-- image preview-->
  <script type="text/javascript" src="{% static 'backend/js/plugins/ui/jasny-bootstrap/js/jasny-bootstrap.min.js' %}"></script>
  
  <!-- datepicker -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/daterangepicker.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pickers/pickadate/legacy.js' %}"></script>

  <!-- Theme JS files -->
  <script type="text/javascript" src="{% static 'backend/js/plugins/notifications/pnotify.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/notifications/noty.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/notifications/jgrowl.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'backend/js/pages/components_notifications_other.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/ladda/spin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/plugins/ladda/ladda.min.js' %}"></script>
  
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'backend/js/pages/components_pagination.js' %}"></script> -->
   
    
    {% include "dashboard/includes/_messages.html" %}
    <script type="text/javascript" src="{% static 'backend/js/search.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'backend/js/chart.js'%}"></script> -->
    {% block custom_js %}{% endblock %}
     <script type="text/javascript" src="{% static 'backend/js/plugins/js-cookie/src/js.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'backend/js/test-cookie.js' %}"></script>
    <script type="text/javascript">
         $("#loginForm").submit(function(e)
          {
              e.preventDefault();

              var l = Ladda.create(document.querySelector('#login_btn'));
              l.start();
              var postData = $(this).serializeArray();
              var formURL = "{% url 'account_login' %}";

              $.ajax(
              {
                  url : formURL,
                  type: "POST",
                  crossDomain: true,
                  data : postData,
                  success:function(data, textStatus, jqXHR) 
                  {
                      // $('#status').remove();
                      if(data == 'success'){ 
                        l.stop();
                        alertNotificatio('Authenticated', 'Success!', 'success')
                         window.location = "{% url 'dashboard:landing-page' %}";
                         $('.email').val('');
                         $('.password').val('');
                       }
                       else{
                          l.stop();
                          alertNotificatio('Wrond Credentials!', 'Authentication Error', 'danger')
                       }
                  },
                  error: function(jqXHR, textStatus, errorThrown) 
                  {
                      alertNotificatio('Wrond Credentials!', 'Authenticatin Error', 'danger')  
                  }
              });
              return false;
              e.preventDefault(); //STOP default action
          });

        function alertNotificatio(message, header, theme){
            $.jGrowl(message, {
                header: header,
                theme: 'bg-'+theme
            });
        }
       // });
    </script>
   </div>
  </body>
</html>
