{% if pettyCash %}
<div class="panel border-left-lg border-left-warning invoice-grid timeline-content">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-md-12">
                  <p class="text-semibold text-center">
                      {% if balance %}
                        {% for p in balance %} {{p.created|date:'jS F Y'}} {% endfor %}
                      {% else %}
                      0.00
                      {% endif %}
                  </p>
                  <p class="text-semibold no-margin-top">Opening Cash: KShs. {{opening_amount.opening_amount__sum}}</p>
                  <p class="text-semibold no-margin-top">Amount Spent: KShs.
                      {% if expense_amount %}
                        {{expense_amount}}
                      {% else %}
                        0.00
                      {% endif %}
                  </p>
                  <p class="text-semibold no-margin-top">Expenses: (
                      {% if types %}
                         {% for e in types %}
                            {% if forloop.last %}
                                {{e.expense_type}}
                            {% else %}
                                {{e.expense_type}},
                            {% endif %}
                          {% endfor %}
                      {% else %}
                        No Expense Types
                      {% endif %}
                      )</p>
                  <p class="text-semibold no-margin-top">Balance:
                      {% if balance %}
                        {% for i in balance %} {{i.balance}} {% endfor %}
                      {% else %}
                        0.00
                      {% endif %}
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="alert bg-grey div-amount">
    <span style="font-size:1.1em;">No Petty Cash Details</span>
</div>
{% endif %}