{% load humanize %}
{% if amount %}
<div class="panel border-left-lg border-left-warning invoice-grid timeline-content">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-md-12">
                  <p class="text-semibold text-center">
                      {#{{pdate|date:'jS F Y'}}#}
                      {{pdate}}
                  </p>
                  <p class="text-semibold no-margin-top">Opening Cash: KShs. {{opening_amount}}</p>
                  <p class="text-semibold no-margin-top">Cash Added: KShs. {{added_amount}} </p>
                  <p class="text-semibold no-margin-top">Expenses Incurred: KShs. {% if expenses %}{{expenses|intcomma }}{% else %} 0.00{% endif %} </p>
                  <p class="text-semibold no-margin-top">
                      {% if dateToday == 0 %}
                        Closing Balance:
                      {% else %}
                        Current Balance:
                      {% endif %}
                        {{closing_amount}}
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="alert bg-grey div-amount">
    <span style="font-size:1.1em;">No Petty Cash Details</span>
</div>
{% endif %}