{% load i18n %}
{% load prices_i18n %}
{% load humanize %}
{% load materializecss %}
{% load staticfiles %}
      <!-- Header and footer fixed -->
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsives">
         

          <table class="table  table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;"> 
                <thead>
                  <tr class="bg-primary">
                    <th>#</th>
                    <th>Till Id</th>
                    <th>Till Name</th>
                    
                    {% if perms.sale.change_terminal or perms.sale.delete_terminal %}
                    <th class="text-center">Actions</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody id="p-tb">           
                    {% if users %}
                  {% for user in users %}
                  <tr class='clickable-row' id="{{user.pk }}">
                    <td class="td" data-href="{% url 'dashboard:terminal-detail' pk=user.pk %}">{{ forloop.counter }}</td>
                    <td class="td" data-href="{% url 'dashboard:terminal-detail' pk=user.pk %}">
                    {{user.terminal_number}}
                    </td>
                    <td class="td" data-href="{% url 'dashboard:terminal-detail' pk=user.pk %}">{{user.terminal_name}}
                    </td>                    
                    <!-- actions -->
                    <td class="text-center">

                        <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            action <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu edit-dropdown">
                         {% if perms.sale.change_terminal %}
                             <li><a href="{% url 'dashboard:terminal-edit' pk=user.pk %}" class=""><i class="icon-pencil7"></i> EDIT</a></li>
                         {% endif %}
                         {% if perms.sale.delete_terminal %}
                            <li>
                          <a data-ta="#modal_instance" data-title="Delete Terminal  {{ user.terminal_name }} ?" data-href="{% url 'dashboard:terminal-delete' pk=user.pk %}" data-name="{{ user.name }}" data-id="{{ user.pk }}"
                         class="modal-trigger del-btn"><i class="icon-trash" href="#modal_instance" data-toggle="modal"></i> DELETE
                         </a>
                        </li>
                         {% endif %}
                          </ul>
                        </div>
                    </td>
                  </tr>
                  {% endfor %}
                {% else %}
                   <tr><td colspan="8"><h2 class="text-center">No Terminals Available</h2></td></tr>
               {% endif %}
                </tbody>
           </table>

        </div>
        </div>
          {% if users %}
        <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
   <script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){

        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            firstLastUse: true,
            first: 'First',
            last: 'Last',       
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 

                $.get("{% url 'dashboard:terminal-search' %}",{page:num, psize:'{{sz}}', q:'{{q}}'},function(data){
                   $('#p-tb').html(data);
                });
        }).children('.pagination').addClass('pagination-flat pagination-sm')

      $(".td").click(function() {
         window.location = $(this).data("href");
      });

   });

   //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        $.ajax({ url: "{% url 'dashboard:terminal-paginate' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});
     });
   {% if sz %}
   $.when( $.ready ).then(function() {     
         $('.bootstrap-select').selectpicker();
         $('.list-sz').selectpicker('val', ["{{sz}}"]);              
      });
  {% endif %}
 </script>