#printme {
    margin-top: 10px;
    margin-right: 5px;
}
.text-black {
    color: black !important;
    :hover {
        color: black;
    }
}
.yes-print {
    display: none;
}

@media print {
    #printBtn {
       display: none;
    }
    #addPayment {
       display: none;
    }
    .media-none {
       display: none;
    }
    .no-print {
       display: none;
    }
 }