{% load i18n %}
{% load prices_i18n %}
{% load materializecss %}
{% load staticfiles %}
      <!-- Header and footer fixed -->
      <div class="panel panel-flat">
        <div class="panel-body">
        <div class="table-responsive">
         

          <table class="table  table-hover datatable-header-footer" style="border-bottom:1px solid #ddd;"> 
                <thead>
                 <tr class="bg-primary">
                        <th>
                          {% trans "Product name" context "Low stock product list" %}
                        </th>
                        <th class="right-align">
                          {% trans "Stock left" context "Low stock product list" %}
                        </th>
                        <th> Low stock Threshold</th>
                        <th>Actions</th>
                      </tr>
                </thead>
                <tbody id="p-tb">           
                {% if low_stock %}
                      {% for product in low_stock %}
                        <tr data-action-go="{% url 'dashboard:product-update' pk=product.pk %}#stock">
                          <td>
                            {{ product.variant.display_product }}
                          </td>
                          <td class="right-align">
                            {{ product.quantity }}
                          </td>
                          <td class="right-align">
                            {{ product.low_stock_threshold }}
                          </td>
                          <td class="action-data">
                              <!-- Single button -->
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu edit-dropdown">
                                <li>
                                    <a href="javascript:;" data-href="{% url 'dashboard:compose_message' %}"
                                    data-ppk="{{product.pk}}" class="sendSms">
                                        <i class="icon-comments" data-popup="tooltip" title='Edit product' data-placement="bottom" data-original-title="Edit me">
                                        </i> Sms
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-href="{% url 'dashboard:write' %}"
                                class="modal-trigger-ajax sendMail" data-ppk="{{product.pk}}" >
                                        <i class="icon-mail5 position-left" data-popup="tooltip" title='Edit product' data-placement="bottom" data-original-title="Delete me">
                                        </i> Email
                                    </a>
                                </li>
                              </ul>
                            </div>

                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                       <tr><td colspan="4"><h2 class="text-center">{% trans "No products are low in stock." context "Empty low stock table message" %}</h2></td></tr>
                   {% endif %}
                  </tbody>
           </table>

        </div>
        </div>
          {% if low_stock %}
          <style type="text/css">
           .pagination{margin-bottom: 0px;}
         </style> 
         <div class="row">   
         <div class="col-md-12">               
          <div class="col-md-4">
           <div class="col-md-12">
            <div class="col-md-6 mt-10">
             <label>display list size</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                 <select class="bootstrap-select list-sz" style="display: none;" data-width="100%" tabindex="-98">
                    <option value="0" selected>No:</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                  </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-md-4">
           <div class="text-center bootpag-callback p2-pag" style="">
             <div class="my-paginate"> 
             <ul class="pagination bootpag pagination-flat pagination-sm" style="margin-bottom: 0px;"></ul>
             </div>
            </div>
           </div>
            <div class="col-md-4">
             <div class="col-md-12">
              <div class="pull-right pages-nav2">Page 1 of {{pn}}</div>
             </div>
            </div>
          </div>
         </div>                 
         <input type="hidden" id="page_size" val="">
          {% endif %}
      </div>

    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bootpag.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/bs_pagination.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/plugins/pagination/jquery.bootpag.js' %}"></script>
 <script type="text/javascript">
   $(document).ready(function(){
        $('.p2-pag').bootpag({
            total: parseInt('{{pn}}'),
            maxVisible: 3,
            firstLastUse: true,
            first: 'First',
            last: 'Last',       
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first',
            }).on("page", function(event, num){
                $(".pages-nav2").html("Page " + num +" of "+'{{pn}}'); 
                var gid = '{{gid}}';
                if(gid == 0){
                    $.get("{% url 'dashboard:reorder_pagination' %}",{page:num, psize:'{{sz}}'},function(data){
                      $('#p-tb').html(data);
                    });
                }else{
                    $.get("{% url 'dashboard:reorder_pagination' %}",{page:num, psize:'{{sz}}',gid:'{{gid}}'},function(data){
                   $('#p-tb').html(data);
                });
                }

        }).children('.pagination').addClass('pagination-flat pagination-sm')
   });
    //**@ display size select
    $('.list-sz').selectpicker().on('change', function(){
        var ts = $(this).val();
        $.ajax({ url: "{% url 'dashboard:reorder_pagination' %}",type: 'GET',data: {page:1, size:ts}, async:false,success: function(data){
              $('#pagination-div').html(data);
        }});
    });
    
   {% if sz %}
   $.when( $.ready ).then(function() {     
         $('.bootstrap-select').selectpicker();
         $('.list-sz').selectpicker('val', ["{{sz}}"]);              
      });
  {% endif %}
 </script>
<script type="text/javascript" src="{% static 'backend/js/fixed_table_header.js' %}"></script>