<div class="row">
    <form method="post" id="address-form" enctype="multipart/form-data">
    {% csrf_token %} 
         <div class="col-md-6">
            <div class="form-group">
              <label>Contact Name</label>
              <input type="text" id="contact_name" name="contact_name" class="form-control">
            </div>
            <div class="form-group">
              <label>Job Position</label>
              <input type="text" id="job_position" name="job_position" class="form-control">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" id='city' name="city" class="form-control">
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" id='email' name="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" id="phone" name="phone" data-mask="(+254)-999-999-999"  class="form-control">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" id='postal_code' name="postal_code" class="form-control">
                <input type="hidden" name="supplier_id" value="{{ supplier_pk }}">
            </div>
         </div>
		  <!-- action buttons -->
         <div class="row text-right">
             <div class="col-md-6 col-md-offset-3">
                 <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary pull-right" id="submit">Add address</button>
             </div>
		 </div>
      </form>
    </div>


   <!-- scritps -->
   <script type="text/javascript">
   	$( document ).ready(function() {
    // validate
 $('#address-form').validate({
    onkeyup: function(element) {$(element).valid()},
    rules:{
        contact_name: {
          required:true,
          minlength:3
        },
        email: {
          required:false,
          minlength:3
        },
        phone: {
          required:true,
          //digits:true,
          minlength:6
        },      

    },
    messages:{
      contact_name:{
        required: "please provide a name",
        minlength: "name must be atleast 3 characters long"
      },      
    },
    submitHandler: function() { 
      
      if(1 != ''){
          var f = document.getElementById('address-form');
          var formData = new FormData(f);
          var csrf_token = jQuery("[name=csrfmiddlewaretoken]").val();
          for (var pair of formData.entries()) {
              console.log(pair[0]+ ', ' + pair[1]); 
          }
          if (formData) {
                $.ajax({
                    url: "{% url 'dashboard:address-add' pk=supplier_pk %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success:function(data){
                       console.log(data);
                       $("#contact_name").val('');

                       done_func();
                       $('#modal_instance2').modal('hide');

                       $.jGrowl('Address added successfully,', {
                          header: 'Well done!',
                          theme: 'bg-success'
                       });
                       
                      localStorage.setItem('user_id', data);
                      $('.user_id').val(localStorage.getItem("user_id"));
                      //window.location = "{% url 'dashboard:terminals'%}";
                    },
                    error:function(error){
                      console.log(error);
                      $.jGrowl('Change a few things up and try submitting again', {
                          header: 'Oh snap!',
                          theme: 'bg-danger'
                      });
                    }
                });
            } 
      }else{
        $.jGrowl('Image is empty fill and try submitting again', {
            header: 'Oh snap!',
            theme: 'bg-danger'
        });
      }
    }
  });
    // end validate
  });
  function refreshData(data)
  {
  	$("#contact-list").append(data)
  } 
  
   </script>