
{% if user %}
 {% for address in user.get_addresses %}
<tr id="tr{{address.pk}}">
 <!-- contact name -->
 <td>{{ address.contact_name }}</td>
 <!-- job position -->
 <td>{{ address.job_position }}</td>
 <!-- email -->
 <TD>{{ address.email }}</TD>
 <!-- pphone -->
 <td>{{ address.phone }}</td>
 <!-- Name -->
 <td>{{ address }}</td>
 <!-- adddress -->
 <td>
   <span>
     {{ address.city}}&nbsp;
     {{ address.postal_code }}
   </span>
 </td>
 <td>
   <a href="#modal_instance" data-title="Delete  Category" class="modal-trigger-ajax" data-warning="" data-csrf_token='{{ csrf_token }}' data-href="{% url 'dashboard:contact-delete' pk=address.pk %}"
><i class="icon-trash position-left" data-popup="tooltip"  data-placement="bottom"  data-original-title="Delete me"></i>Remove category
</a>
 </td>
 <script type="text/javascript">
    // update modal content from ajax results
  $( ".modal-trigger-ajax").on('click',function() {   
       
    var url = $(this).data('href')
    var prompt_text = $(this).data('title');
    var modal = $(this).attr('href');
    var csrf_token = $(this).data('csrf_token')
    
    $('.modal-title').html(prompt_text);
    $(".results" ).empty().append('<span class="text-center" style="padding:23px">Loading...<i class=" icon-spinner"></i></span>');
    $(modal).modal();
      var posting = $.get( url, {'csrfmiddlewaretoken':csrf_token });
      // Put the results in a div
      posting.done(function( data ) {    
      $(".results" ).empty().append( data ); 
       
      });
    
   });
</script>
</tr>
{% endfor %}
{% else %}
<tr><td colspan="5" class="text-center">No Contacts</td></tr>
{% endif %}